/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxWrapper
{
    max-width: none;
}
	#cboxWrapper button:focus
	{
	    outline: none;
	}

#cboxOverlay
{
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft
{
    clear: left;
}

#cboxContent
{
    position: relative;
}

#cboxLoadedContent
{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#cboxTitle
{
    margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow
{
    cursor: pointer;
}

.cboxPhoto
{
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic;
}

.cboxIframe
{
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent
{
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay
{
    background: #333333;
    opacity: 0.4;
    filter: alpha(opacity = 40);
}

/* 
	Default Box Shadow Effects
	border-radius: 5px;
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
*/
#colorbox
{
    outline: 0;
}

#cboxContent
{
    background: #fff;
    overflow: hidden;
}

.cboxIframe
{
    background: #fff;
}

#cboxError
{
    padding: 50px;
    border: 1px solid #ccc;
}

#cboxLoadedContent
{
    margin-bottom: 28px;
}

#cboxTitle
{
    bottom: 4px;
    color: #000000;
    font: normal 1em 'Futura T W01 Medium', Arial, sans-serif;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

#cboxCurrent
{
    position: absolute;
    bottom: 4px;
    left: 58px;
    color: #949494;
}

#cboxLoadingOverlay
{
}

#cboxLoadingGraphic
{
    background: url("../../images/interactive/2014-12-22_LightboxLoading.gif") no-repeat center center;  
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose
{
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: none;
}

    /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
    #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active
    {
        outline: 0;
    }

#cboxSlideshow
{
    position: absolute;
    bottom: 4px;
    right: 30px;
    color: #0092ef;
}

#cboxPrevious
{
    position: absolute;
    background: url("../../images/interactive/lightbox-arrowLeft.png");
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 31px;
    height: 52px;
    color:#d2d2d2;
    top: 83px;
    font-size: 3.3em;
    left: 27%;
}

    #cboxPrevious:hover
    {
        /*background-position: -75px -25px;*/
    }

#cboxNext
{
    position: absolute;
    background: url("../../images/interactive/lightbox-arrowRight.png");
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 31px;
    height: 52px;
    color:#d2d2d2;
    top: 83px;
    font-size: 3.3em;
    left: 68%; 
    
}

.bridalcbox #cboxPrevious, .bridalcbox #cboxNext{
	top:100px;
}
.bridalcbox #cboxPrevious{
	left:25%;
}
.bridalcbox #cboxNext{
	left:75%;
}


    #cboxNext:hover
    {
        /* background-position: -50px -25px;*/
    }

#cboxClose
{
    position: absolute;
    top: 12px;
    right: 28px;
    background: url("../../images/interactive/lightbox-X.png");
    background-size:69%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 38px;
    height: 38px;
    text-indent: -9999px;
    font: normal .8125em/150% 'Futura T W01 Medium', Arial, sans-serif;
    background-position: left top;

	font-size:3.1em;
	color:#9a9a9a;
	z-index:1000;
}

    #cboxClose:hover
    {
        /*background-position: -25px -25px;*/
    }
    
a.cboxElement:focus
{
	outline: 0;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight
{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/* Shipping Details */
#cboxContent .shipping-details-lightbox {
	width:80%;
	margin-left:7%;
	margin-top:21px;
	font-size:.8em;
}

#cboxContent .shipping-details-lightbox input{
	display:none;
}
#cboxContent .shipping-details-lightbox h1{
	text-transform:uppercase;
	margin-bottom:7px;
	margin:auto;
	font-size:1.5em;
	width:100%;
}
#cboxContent .shipping-details-lightbox h2{
	text-transform:uppercase;
	padding-top:15px;
	border-bottom:1px solid #d8d6cd;
	margin:0 0 15px 0;
	padding-bottom:5px;
	font-size:1.2em;
	
}
#cboxContent .shipping-details-lightbox .form-caption {
	font-size:1em;
	margin: 0 0 7px 0;
}
#cboxContent .shipping-details-lightbox .label-inline label {
	font-size:1.15em
}
#cboxContent .shipping-details-lightbox .form-row {
	font-size:1em;
	margin:0;
}
#cboxContent .tooltip{display: none !important;}


@media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
{
	#cboxPrevious,
	#cboxNext,
	#cboxClose
	{
	    /* background: url("../../images/interactive/2014-12-22_LightboxControls@2x.png");
	    background-size: 176px 50px; */
	}
	#cboxPrevious
	{
	    /*background-position: -75px 0;*/
	}
	
	    #cboxPrevious:hover
	    {
	        /*background-position: -75px -25px;*/
	    }
	
	#cboxNext
	{
	    /* background-position: -50px 0; */
	}
	
	    #cboxNext:hover
	    {
	       /*  background-position: -50px -25px; */
	    }
	
	#cboxClose
	{
	    /*background-position: -25px 0;*/
	}
}
@media only screen and (max-width : 900px)
{
	#cboxPrevious{
		left:12%;
		top:65px;
		height:35px;
		background-size:70%;
	}
	#cboxNext{
		left:75%;
		top:65px;
		height:35px;
		background-size:70%;
	}
	.bridalcbox #cboxPrevious, .bridalcbox #cboxNext{
		top:61px;
	}
	.bridalcbox #cboxPrevious{
    	left:18%;
    }
	#cboxClose{
		background-size:69%;	
		right:15px;
		height:28px;
	}
}