﻿.landing
{
    box-sizing: content-box;
}
.carousel
{
    position: relative;
    padding-bottom: 41%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 20px 0 2em;
    box-shadow: 0px 1px 16px 0px rgba(50, 50, 50, 0.75);
        -webkit-box-shadow: 0px 1px 16px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 1px 16px 0px rgba(50, 50, 50, 0.75);
}
.slidesjs-container
{
    margin: 0 0 0 2em;
    height: 100%;
    width: 100%;
}
#slides
{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}
#slides img
{
    max-width: 92%;
}
.slidesjs-next, .slidesjs-previous
{
    bottom: 47%;
    color: #a3a3a3;
    cursor: pointer;
    font: 400 1.5em/29px 'century gothic w01', sans-serif;
    height: 27px;
    margin: 0 3px;
    position: absolute;
    text-align: center;
    width: 27px;
    z-index: 60;
}
.slidesjs-next:hover, 
.slidesjs-previous:hover
{
    color: #000000;
}
.slidesjs-previous
{
    float: left;
    left: 0;
}

.slidesjs-next
{
    float: right;
    right: 0;
}

.accordion {
    width: 100%;
    margin: 1em 0em;
}
 
.accordion h3 {
    border-bottom: 1px solid #CCCCCC;
    display: block;
    width: 100%;
    margin: -1px 0 0 !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
} 
 
.accordion div {
    padding: .5em .25em;
}

.content figure
{
    float: left;
    text-align: center;
    width: 25%;
    margin: 0 0 2em 0;
    padding: 0;
    display: block;
}

    .content figure figcaption
    {
        font: normal 1em 'Futura T W01 Light', Arial, sans-serif;
        padding: 0 1em;
        text-transform: uppercase;
    }

.nowrap
{
    white-space: nowrap;
}

.group:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@media only screen and (max-width : 549px)
{
    .content figure
    {
        width: 100%;
    }
}
@media only screen and (min-width : 550px) and (max-width : 749px)
{
    .content figure
    {
        width: 50%;
    }
}

@media only screen and (min-width : 750px) and (max-width : 1000px)
{
    .content figure
    {
        width: 33.3%;
    }
}