﻿#landing
{
    box-sizing: content-box;
    margin: 0 auto;
    text-align: center;
}

#landing h1
{
    font: normal 3em "Bauer Bodoni W01 Roman";
    margin: 0.5em auto 0;
}

#landing h2
{
    font: normal 1.6em "Bauer Bodoni W01 Italic";
    margin: 0 auto;
}

.collection
{
    margin-top: 1em;
}
.product
{
    display: block;
    float: left;
    height: 310px;
    margin: 1.5em 0;
    width: 25%;
}

.product-heading
{
    font-family: "Bauer Bodoni W01 Roman";
    font-size: 1.5em;
    height: 2em;
    line-height: 1em;
    margin: 0 0 .5em 0;
}

.product-image
{
    height: 200px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.product-link
{
    font-family: "Bauer Bodoni W01 Italic";
    font-size: 1.2em;
    line-height: 1em;
    margin-top: 0.5em;
}

.nowrap
{
    white-space: nowrap;
}

.group:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


@media only screen and (max-width : 479px) {
    #landing h1
    {
        font-size: 2.5em;
    }

    #landing h2
    {
        font-size: 1.3em;
    }
    .product
    {
        width: 100%;
        margin: 1em 0;
    }
}
@media only screen and (min-width : 480px) and (max-width : 749px) {
    .product
    {
        width: 50%;
        margin: 1em 0;
    }
}
@media only screen and (min-width : 750px) and (max-width : 799px) {
    .product
    {
        width: 33.3%;
    }
}    
@media only screen and (min-width : 800px) and (max-width : 1280px) {
    .product-link
    {
        font-size: 1.1em;
    }
}