﻿#giftguide
{
    box-sizing: content-box;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1000px;
}
#giftguide h1
{
    display: none;
    margin: 0;
    padding: 0;
}
#giftguide .header
{
    margin-bottom: 20px;
    width: 100%;
}
	#giftguide .header img
	{
		width: 100%;
	}
#naviSide
{
    float: left;
    position: relative;
    max-width: 200px;
    width: 25%;
    height: 100%;
}
    #naviSide h2
    {
    	font: normal 1.2em "Futura T W01 Medium", Arial, sans-serif;
        margin: 0 0 .5em;
        padding: 0;
        text-transform: uppercase;
    }
    #naviSide h3
    {
    	font: normal .95em "Futura T W01 Medium", Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }    
#shiftToggle
{
    background: #ebebeb;
    display: none;
    font-size: 1.2em;
    padding: .5em .75em;
    position: fixed;
    z-index: 5;
}
#naviToggle
{
    display: block;
	z-index: 15;
}
.sidenavi-section
{
    margin: 1em 0;
}
.sidenavi-section ol li a
{
    font: normal .95em "Futura T W01 Light", Arial, sans-serif;	
}
#giftguide .sidenavi-section ol
{
    display: inline-block;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
    .content-asset #giftguide .sidenavi-section ol li
    {
        list-style-type: none;
    }
    .sidenavi-section ol li span
    {
        text-transform: uppercase;
    }
    .sidenavi-section ol li span em
    {
        color: #ec008c;
        font-size: 1.25em;
        font-style: normal;
    }
    .sidenavi-section ol li a,
    #naviToggle
    {
        color: #000000;
        text-decoration: none;
    }
    .sidenavi-section ol li a:hover,
    #naviToggle:hover
    {
        color: #ec008c;
    }
.sidenavi-blurb,
.sidenavi-blurb img
{
    width: 100%;
}
.sidenavi-promo
{
    background: #ec008c;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}
.sidenavi-copy
{
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    font: normal .9em "Futura T W01 Light", Arial, sans-serif;
    line-height: 1.2em;	
    margin-top: 1em;
    padding: .75em 0;
}
.sidenavi-blurb p
{
    margin: .25em auto;
}
.sidenavi-copy a
{
    color: #ffffff;
    text-decoration: underline;
}
#content
{
	background: white;
    float: right;
    height: 100%;
    position: relative;
    left: 0;
    width: 73%;
}

#categories
{   
    float: left;
    width: 100%;
    max-width: 700px;
}
.shoptile
{
    float: left;
    margin-bottom: 20px;
    max-width: 340px;
    min-width: 200px;
    width: 48%;
}
.shoptile:nth-child(even)
{
    margin-right: 20px;
}
.shoptile:hover
{
    transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -mos-transform: scale(1.05);
    transition: ease .25s;
        -webkit-transition: ease .25s;
        -mos-transform: ease .25s;
}
.shoptile img
{
	width: 100%;
    max-width: 340px;
}
.nocaps
{
    text-transform: none;
}
.nowrap
{
    white-space: nowrap;
}
.group:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@media only screen and (max-width : 479px) {
   #navigation
    {
    	display: none;
    }
    #naviSide
    {	
    	background: #ebebeb;
    	width: 200px;
    }
    #naviMenu
    {
        display: none;
        padding: 10px 10px 9px 10px;
    }
    #shiftToggle
    {
        display: block !important;
    }
    #content
    {
        float: left;
        left: 0;
        min-width: 320px;
        width: 100%;
    }
    .shoptile
    {
        float: none;
        margin-right: auto;
        margin-left: auto;
        max-width: none;
        width: 100%;
    }
    .shoptile:nth-child(even)
    {
        margin-right: auto;
        margin-left: auto;
    }
    .shoptile:hover
    {
        transform: none;
            -webkit-transform: none;
            -mos-transform: none;
        transition: none;
            -webkit-transition: none;
            -mos-transform: none;
    }
}

@media only screen and (min-width : 480px) and (max-width : 749px) {
    #navigation
    {
    	display: none;
    }
    #naviSide
    {
    	background: #ebebeb;
    	width: 200px;
    }
    #naviMenu
    {
        display: none;
        padding: 10px 10px 9px 10px;
    }
    #shiftToggle
    {
        display: block !important;
    }
    #content
    {
        float: left;
        left: 0;
        min-width: 480px;
        width: 100%;
    }
    #categories
    {
        width: 100%;
    }
    #giftguide .header
	{
	    margin-bottom: 10px;
	    width:100%;
	}
    .shoptile
    {
        float: left;
        margin-bottom: 10px;
        width: 48.75%;
    }
    .shoptile:nth-child(even)
    {
        margin-right: 10px;
    }
    .shoptile:hover
    {
        transform: none;
            -webkit-transform: none;
            -mos-transform: none;
        transition: none;
            -webkit-transition: none;
            -mos-transform: none;
    }    
} 

@media only screen and (min-width : 750px) {
    #naviMenu
    {
        display: block !important;
    }
}
@media only screen and (min-width : 750px) and (max-width : 799px){
    #content
    {
    	width: 72%;
    }
    #giftguide .header
	{
	    margin-bottom: 10px;
	}
    .shoptile
    {
        width: 48.75%;
        margin-bottom: 10px;
    }
    .shoptile:nth-child(even)
    {
        margin-right: 10px;
    }
}   
@media only screen and (min-width : 800px) and (max-width : 959px) {    
    #content
	{
		width: 72%;
	}
    #giftguide .header
	{
	    margin-bottom: 10px;
	}
    .shoptile
    {
        width: 48%;
        margin-bottom: 10px;
    }
    .shoptile:nth-child(even)
    {
        margin-right: 10px;
    }
}   
@media only screen and (min-width : 960px) and (max-width : 1024px) {  
	#content
	{
		width: 74%;
	}
    .shoptile
    {
        width: 48%;        
    }
        
}
@media only screen and (min-width : 1025px) and (max-width : 1280px) {    
    .shoptile
    {
        width: 48%;
    }
}