﻿#contest
{
    box-sizing: content-box;
    height: auto;
    left: -3px;
    margin: 1.2em auto 0;
    max-width: 1000px;
    position: relative;
    width: 100%;
}

.contest-header
{
    border: 1px solid #716e6f;
    margin: auto;
    padding: 1.5em;
    text-align: center;
}

    .contest-header img
    {
        width: 100%;
        height: auto;
        max-width: 449px;
    }

    .contest-header p
    {
        font: normal 1.5em 'Bauer Bodoni W01 Italic', Times New Roman, serif;
        margin-bottom: 0;
    }

        .contest-header p span
        {
            color: #ea0c8b;
            font-style: normal;
        }

.contest-rules
{
    width: 100%;
}

    .contest-rules p
    {
        font: normal 1.55em 'Futura T W01 Light', Arial, sans-serif;
        text-align: center;
    }

.GTA-form
{
    margin: 2em auto;
}

    .GTA-form fieldset
    {
        border: 0;
        margin: 0 0 1em 0;
        padding: 0;
    }

        .GTA-form fieldset label
        {
            font: bold .8125em/150% 'Futura T W01 Book', Arial, sans-serif;
            text-align: left;
            text-transform: uppercase;
            width: 100%;
        }

    .GTA-form input[type="text"],
    .GTA-form input[type="email"],
    .GTA-form input[type="tel"],
    .GTA-form textarea
    {
        border: 1px solid #cccccc;
        font: normal .8em 'Futura T W01 Book', Arial, sans-serif;
        margin-left: 0;
        padding: .7em .5em;
        text-indent: 0;
    }

    .GTA-form input[type="file"]
    {
        border: 0;
        font: normal .8em 'Futura T W01 Book', Arial, sans-serif;
        padding: 0 .5em .7em 0;
    }

.GTA-form-col1
{
    float: left;
    width: 49%;
}

.GTA-form-col2
{
    float: right;
    width: 48%;
}

.GTA-form textarea
{
    width: 98.5%;
}

.first-name input,
.last-name input,
.nAddress
{
    width: 100%;
}

.first-name
{
    float: left;
    width: 40%;
}

.last-name
{
    float: right;
    width: 48%;
}


.nAddress div
{
    margin-bottom: .5em;
    width: 100%;
}

    .nAddress div input
    {
        width: 96.8%;
    }

.nAddress-state
{
    float: left;
    width: 48% !important;
}

.nAddress-zip
{
    float: right;
    width: 40% !important;
}

.GTA-form fieldset.email
{
    margin-bottom: 25px;
}
.email div input
{
    width: 96.4%;
}

.phone input:nth-child(-n+2)
{
    width: 15%;
}

.phone input:last-child
{
    width: 25%;
}

.button-photo input
{
    border: 0;
}

.submit
{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    width: 30%;
}

    .submit:hover, .submit input:hover
    {
        color: #ea0c8b;
        transform: scale(0.99);
            -webkit-transform: scale(0.99);
            -mos-transform: scale(0.99);
    }

    .submit input
    {
        background: #000000;
        border: 0;
        color: #ffffff;
        cursor: pointer;
        font: normal .8em 'Futura T W01 Light', Arial, sans-serif;
        padding-bottom: .25em;
        padding-top: .5em;
        text-transform: uppercase;
        width: 100%;
    }

@media only screen and (max-width : 749px)
{
    #navigation
    {
        display: none;
    }

    #contest
    {
        margin-top: 0;
    }

    .GTA-form fieldset.email
    {
        margin-bottom: 1em;
    }
}

@media only screen and (max-width : 480px)
{
    .contest-header
    {
        max-width: 270px;
        width: 100%;
    }

        .contest-header p,
        .contest-rules p
        {
            font-size: 1em;
        }

    .GTA-form
    {
        margin: auto;
    }

    .GTA-form-col1
    {
        float: left;
        width: 100%;
    }

    .GTA-form-col2
    {
        float: left;
        width: 100%;
    }
    
    .email
    {
        margin-bottom: 25px;
    }

    .email div input
    {
        width: 94.8%;
    }

    .nAddress div input,
    .GTA-form textarea
    {
        width: 95.5%;
    }

    .submit
    {
        width: 60%;
    }
}

@media only screen and (min-width : 481px) and (max-width : 749px)
{
    .contest-header img
    {
        width: 100%;
    }

    .contest-header p,
    .contest-rules p
    {
        font-size: 1.2em;
    }

    .GTA-form
    {
        margin: auto;
    }

    .GTA-form-col1
    {
        float: left;
        width: 100%;
    }

    .GTA-form-col2
    {
        float: left;
        width: 100%;
    }

    .email div input
    {
        width: 96.5%;
    }

    .nAddress div input,
    .GTA-form textarea
    {
        width: 97%;
    }

    .submit
    {
        width: 60%;
    }

}

@media only screen and (min-width : 750px) and (max-width : 959px)
{
    .nAddress div input
    {
        width: 96%;
    }

    .email div input
    {
        width: 95.3%;
    }

    .GTA-form textarea
    {
        width: 98%;
    }
}

@media only screen and (min-width : 960px) and (max-width : 1280px)
{
    .nAddress div input
    {
        width: 96.8%;
    }

    .email div input
    {
        width: 96.2%;
    }

    .GTA-form textarea
    {
        width: 98.4%;
    }
}
