.landing
{
    margin: 0 auto;
    width: 100%;
}

.header
{
    width: 100%;
    max-width: 873px;
    margin: 0 auto;
    text-align: center;
}

.blink
{
    background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_Festival-1.gif");
    background-size: 100%;
    width: 100%;
    padding-top: 9%;
    height: 0;
    text-indent: -9999px;
}

.landing h2
{
    font: normal 1.3em 'Futura T W01 Light', Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
}

.accordion {
    width: 100%;
    margin: 1em 0em;
    max-width: 954px;
}
 
.accordion div.trigger {
    background: url("../../images/landingpages/2015-03-20_Festival/Plus.jpg") no-repeat right .3em;
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    cursor: pointer;
    display: block;
    float: left;
    font: normal 1.8em 'Bauer Bodoni W01 Italic', Times New Roman, serif;
    margin: .25em auto 1em !important;
    padding: 0 0 .25em 0;
    transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
        .accordion div.trigger.active
        {
            background: url("../../images/landingpages/2015-03-20_Festival/Minus.jpg") no-repeat right .3em;
        }

        .accordion div.trigger:hover
        {
            background: url("../../images/landingpages/2015-03-20_Festival/Plus-hover.jpg") no-repeat right .3em;
            color: #ec008c;
        }

        .accordion div.trigger.active:hover
        {
            background: url("../../images/landingpages/2015-03-20_Festival/Minus-hover.jpg") no-repeat right .3em;
        }

.landing .trigger p
{
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.landing .hero1,
.landing .hero2,
.landing .hero3
{
    background-size: 955px 580px;
    height: 580px;
    margin: 4em auto 0;
}

.landing .hero1
{
    margin-top: 1.5em !important;
}

.landing .hero1
{
    background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook1.jpg") right top no-repeat;
}

.landing .hero2
{
    background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook2.jpg") right top no-repeat;
}

.landing .hero3
{
    background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook3.jpg") center top no-repeat;
}

.landing .merch figure
{
    box-sizing: content-box;
    float: left;
    text-align: center;
    width: 25%;
    margin: 0;
    padding: 0;
    display: block;
}
    .landing .merch figure a
    {
        color: #000000;
        text-decoration:none;
    }

    .landing .merch figure figcaption
    {
        font: normal 1em 'Futura T W01 Light', Arial, sans-serif;
        height: 3.8em;
        padding: 0 1em;
        text-transform: lowercase;
    }

    .landing .look1 .product,
    .landing .look2 .product,
    .landing .look3 .product
    {
        background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalSprite.jpg");
        height: 224px;
        margin: 0 auto;
        width: 224px;
    }
        .landing .look1 figure:nth-child(1) a .product
        {
            background-position: 0 0;
        }
        .landing .look1 figure:nth-child(2) a .product
        {
            background-position: 0 -250px;
        }
        .landing .look1 figure:nth-child(3) a .product
        {
            background-position: 0 -500px;
        }
        .landing .look1 figure:nth-child(4) a .product
        {
            background-position: 0 -750px;
        }
        .landing .look1 figure:nth-child(5) a .product
        {
            background-position: 0 -1000px;
        }
        .landing .look1 figure:nth-child(6) a .product
        {
            background-position: 0 -1250px;
        }
        .landing .look2 figure:nth-child(1) a .product
        {
            background-position: 0 -1500px;
        }
        .landing .look2 figure:nth-child(2) a .product
        {
            background-position: 0 -1750px;
        }
        .landing .look2 figure:nth-child(3) a .product
        {
            background-position: 0 -2000px;
        }
        .landing .look2 figure:nth-child(4) a .product
        {
            background-position: 0 -2250px;
        }
        .landing .look2 figure:nth-child(5) a .product
        {
            background-position: 0 -2500px;
        }
        .landing .look2 figure:nth-child(6) a .product
        {
            background-position: 0 -2750px;
        }
        .landing .look2 figure:nth-child(7) a .product
        {
            background-position: 0 -3000px;
        }
        .landing .look3 figure:nth-child(1) a .product
        {
            background-position: 0 -3250px;
        }
        .landing .look3 figure:nth-child(2) a .product
        {
            background-position: 0 -3500px;
        }
        .landing .look3 figure:nth-child(3) a .product
        {
            background-position: 0 -3750px;
        }
        .landing .look3 figure:nth-child(4) a .product
        {
            background-position: 0 -4000px;
        }

.legal
{
    font: normal .9em 'Futura T W01 Light', Arial, sans-serif;
    margin: 0 auto;
    padding: 0 0 4em;
    text-align: center;
}

@media only screen and (max-width : 480px)
{
	#navigation
	{
	    display: none;
	}
	
    .landing h2
    {
        font-size: 1em;
    }
    
    .blink
    {
        background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_Festival-2.gif");
        padding-top: 30%;
    }
    
    .landing .merch figure
    {
        width: 100%;
    }
    
    .landing .hero1
    {
        background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook1s.jpg") top center no-repeat;
        height: 455px;
    }

    .landing .hero2
    {
        background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook2s.jpg") top center no-repeat;
        height: 455px;
    }

    .landing .hero3
    {
        background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook3s.jpg") top center no-repeat;
        height: 455px;
    }
    
    .landing .merch figure figcaption
    {
        padding: 0 2em;
    }
    .merch.look1.group, .merch.look2.group, .merch.look3.group
    {
   		overflow: inherit !important;
    }
}


@media only screen and (min-width : 481px) and (max-width : 749px)
{
	#navigation
	{
	    display: none;
	}
	
    .landing h2
    {
        font-size: 1.2em;
    }
    
    .blink
    {
        background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_Festival-1m.gif");
        padding-top: 9%;
    }
    
    .landing .merch figure
    {
        width: 50%;
    }
    .landing .hero1
    {
        background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook1m.jpg");
        height: 455px;
    }

    .landing .hero2
    {
        background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook2m.jpg");
        height: 455px;
    }

    .landing .hero3
    {
        background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook3m.jpg");
        height: 455px;
    }
    
    .merch.look1.group, .merch.look2.group, .merch.look3.group
    {
    	overflow: inherit !important;
    }
}

@media only screen and (min-width : 750px) and (max-width : 930px)
{
    .landing .merch figure
    {
        width: 33.3%;
    }
}

@media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
{
    .landing .merch .product
    {
        background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalSprite@2x.jpg");
    }
    
    .landing .hero1
	{
	    background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook1@2x.jpg") right top no-repeat;
	}
	
	.landing .hero2
	{
	    background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook2@2x.jpg") right top no-repeat;
	}
	
	.landing .hero3
	{
	    background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook3@2x.jpg") center top no-repeat;
	}
    
    @media only screen and (max-width : 480px)
    {
        .blink
        {
            background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_Festival-2@2x.gif");
        }
        
        .landing .hero1
        {
            background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook1s@2x.jpg") top center no-repeat;
        }

        .landing .hero2
        {
            background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook2s@2x.jpg") top center no-repeat;
        }

        .landing .hero3
        {
            background: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook3s@2x.jpg") top center no-repeat;
        }
    }
    @media only screen and (min-width : 481px) and (max-width : 749px)
    {
        .landing .hero1
        {
            background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook1m@2x.jpg");
        }

        .landing .hero2
        {
            background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook2m@2x.jpg");
        }

        .landing .hero3
        {
            background-image: url("../../images/landingpages/2015-03-20_Festival/20150320_FestivalLook3m@2x.jpg");
        }
    }
}