﻿.landing
{
    box-sizing: content-box;
    max-width: 1000px;
    margin: 2em auto;
}

.landing h1
{
    font: normal 1.6em 'Futura BT W01 Book', Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.landing h2
{
    font: normal 4em 'Futura T W01 Light', Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.landing h3
{
    border-bottom: 1px solid #e1e1e1;
    font: normal 1.4em 'Futura T W01 Light', Arial, sans-serif;
    padding-bottom: .25em;
    margin: auto auto 2em;
    text-align: left;
}

p.tagline
{
    font: normal 1.4em 'Futura T W01 Light', Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
}

.carousel
{
    position: relative;
    padding-bottom: 36%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 20px 0 2em;
}

.slidesjs-container
{
    margin: 0 0 0 2em;
    height: 100%;
    width: 100%;
}

#slides
{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}

    #slides img
    {
        max-width: 93.5%;
    }

.slidesjs-next, .slidesjs-previous
{
    bottom: 47%;
    color: #a3a3a3;
    cursor: pointer;
    font: 400 1.5em/29px 'century gothic w01', sans-serif;
    height: 27px;
    margin: 0 3px;
    position: absolute;
    text-align: center;
    width: 27px;
    z-index: 60;
}

    .slidesjs-next:hover,
    .slidesjs-previous:hover
    {
        color: #000000;
    }

.slidesjs-previous
{
    float: left;
    left: 0;
}

.slidesjs-next
{
    float: right;
    right: 0;
}

.content
{
    margin: 0 auto;
    text-align: center;
    width: 93%;
}
    .content div
    {
        margin: 0 auto;
        text-align: center;
        width: 85%;
    }
    .content div .tile p
    {
    	font: normal 1em 'Futura BT W01 Book', Arial, sans-serif;
    	padding: 0 2em;
    }
    .content div .tile p a
    {
        text-decoration: none;
        color: #000000;
    }
    .content div .tile p a:hover
    {
        color: #ec008c;
    }
    .content div .tile
    {
        float: left;
        text-align: center;
        width: 33%;
        margin: 0 auto 2em;
        padding: 0;
        display: block;
    }
        .content div .tile a div img
        {         
            margin: 2em auto 1em;
        }
.tsang
{
	height: 280px
}
.honeysilk
{
	height: 320px;
}

@media only screen and (max-width : 479px) 
{
    .carousel { padding-bottom: 35%; }
    .slidesjs-container { margin: 0 0 0 1em; }
    .slidesjs-next { right: -0.8em; }
    .slidesjs-previous { left: -0.8em; }
    .slidesjs-next, .slidesjs-previous { font-size: .75em; height: 1.5em; }
}
@media only screen and (min-width : 480px) and (max-width : 750px) 
{
    .carousel { padding-bottom: 38%; }
    .slidesjs-container { margin: 0 0 0 1em; }
    .slidesjs-next { right: -0.8em; }
    .slidesjs-previous { left: -0.8em; }
    .slidesjs-next, .slidesjs-previous { font-size: .75em; height: auto; }
}
@media only screen and (max-width : 749px)
{
	p.tagline
	{
	    font-size: 1.2em;
	    padding: 0 1em;
	}
    .content div .tile
    {
        width: 100%;
        height: auto;
    }
    .slidesjs-next, .slidesjs-previous
    {
    	display: none;
    }
}

@media only screen and (min-width : 750px) and (max-width : 949px)
{
    .content div .tile
    {
        width: 50%;
    }
}
@media only screen and (min-width : 750px) and (max-width : 949px) 
{
    .carousel { padding-bottom: 40%; }
    .slidesjs-container { margin: 0 0 0 1.6em; }
    .slidesjs-next { right: -0.5em; }
    .slidesjs-previous { left: -0.5em; }
    .slidesjs-next, .slidesjs-previous { font-size: 1em; height: auto; }
}
