﻿#wrapper{
	overflow-x:hidden;
}
.pt_storefront #main{
	width:100%;
}
#popup
{
    box-sizing: content-box;
    font: normal 1.1em "Futura BT W01 Book", Helvetica, Arial, sans-serif;
    margin: 0 auto 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    max-width: 700px;
}
#popup h1
{
    display: none;
}
#popup .header,
#popup .header img
{
    margin: 1em auto;
    max-width: 100%;
}
#popup .header{
   	padding: 26px 0 10px 0;
   	border-bottom: 2px solid #d9d5d1;
   	position: relative;
    width: 71%;
    background-color: #fff;
    z-index:1;
    left: -3%;
}
.catalog
{
	position: relative;
   	/* top: 206px; */
    height: auto;
    margin: 0 auto;
    width: 100%;
}
.product
{
    float: left;
    margin: 1em 0;
    width: 33.3%;
}
.product p
{
    margin: .25em 0;
    padding: 0;
}
.line
{
    border-bottom: 1px solid #c2c2c2;
    margin: 0 .5em;
}
.boxes
{
    float: left;
    width: 100%;
}
.boxes img
{
    height: auto;
    max-width: 450px;
    width: 49%; 
}

.create-pearl, .create-karma, .create-circle, .create-wings, .create-dragonfly, .create-elephant, .create-feather, .create-star, .create-horseshoe, .create-heart, .create-sanddollar, .create-cross, .create-anchor, .create-starburst, .create-wishbone 
{ 
	background-image: url("../../images/landingpages/CreateHeartNecklaces.jpg"); 
	background-repeat: no-repeat; 
	margin: 0 auto; 
}
.create-pearl { background-position: 0 0; width: 210px; height: 135px; }
.create-karma { background-position: -300px 0; width: 210px; height: 135px; }
.create-circle { background-position: -600px 0; width: 210px; height: 135px; }
.create-wings { background-position: 0 -200px; width: 210px; height: 135px; }
.create-dragonfly { background-position: -300px -200px; width: 210px; height: 135px; }
.create-elephant { background-position: -600px -200px; width: 210px; height: 135px; }
.create-feather { background-position: 0 -400px; width: 210px; height: 135px; }
.create-star { background-position: -300px -400px; width: 210px; height: 135px; }
.create-horseshoe { background-position: -600px -400px; width: 210px; height: 135px; }
.create-heart { background-position: 0 -600px; width: 210px; height: 135px; }
.create-sanddollar { background-position: -300px -600px; width: 210px; height: 135px; }
.create-cross { background-position: -600px -600px; width: 210px; height: 135px; }
.create-anchor { background-position: 0 -800px; width: 210px; height: 135px; }
.create-starburst { background-position: -300px -800px; width: 210px; height: 135px; }
.create-wishbone { background-position: -600px -800px; width: 210px; height: 135px; }

@media only screen and (max-width : 749px)
{
	#popup
	{
	    width: 94%;
	    margin-top: -93px;
	} 
	#popup .catalog{
		position: relative;
    	/* top: 171px; */
	}
	#popup .product{
	}
	#popup .header, .bridal .header{
    	margin: 0 0 0 -51%;
    	left:50%;
    	padding: 7px 0 10px 0;
    	border-bottom: 2px solid #d9d5d1;
    	position: relative;
	    width: 96%;
	    background-color: #fff;
	    z-index:1;
    }
    
    #popup .header img, .bridal .header img{
    	width:55%;
    	margin: 3.4em auto 1em auto;
    }
    #popup .boxes {
    	margin-top:10px;
    }
}

@media only screen and (max-width : 479px)
{
    .product
    {
        width: 100%;
    }   
    .line
    {
        margin: 0 2em;
    } 
    .boxes img
	{
		float: none;
	    width: 100%;
	}
	#popup .header img, .bridal .header img{
    	margin: 2.4em auto 1em auto;
    }
    #popup .catalog{
    	/* top: 143px; */
	} 
	 
}
@media only screen and (min-width : 480px) and (max-width : 749px)
{
    .product
    {
        width: 48%;
    }
    .line
    {
        margin: 0 1em;
    }     
}
@media only screen and (max-width : 320px)
{	
	#popup{
		margin: 0;
    	margin-top: -93px;
	}
	.product
    {
        width: 93%;
    }
}
@media only screen and (min-width : 750px) and (max-width : 800px)
{
    .product
    {
        width: 50%;
    }
    .line
    {
        margin: 0 3em;
    }      
}

@media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .create-pearl, .create-karma, .create-circle, .create-wings, .create-dragonfly, .create-elephant, .create-feather, .create-star, .create-horseshoe, .create-heart, .create-sanddollar, .create-cross, .create-anchor, .create-starburst, .create-wishbone 
    { 
    	background: url("../../images/landingpages/CreateHeartNecklaces.jpg"); 
    	background-size: 785px 946px; 
   	}
    .create-pearl { background-position: 0 0; }
    .create-karma { background-position: -300px 0;}
    .create-circle { background-position: -600px 0;}
    .create-wings { background-position: 0 -200px;}
    .create-dragonfly { background-position: -300px -200px;}
    .create-elephant { background-position: -600px -200px; }
    .create-feather { background-position: 0 -400px; }
    .create-star { background-position: -300px -400px; }
    .create-horseshoe { background-position: -600px -400px; }
    .create-heart { background-position: 0 -600px; }
    .create-sanddollar { background-position: -300px -600px; }
    .create-cross { background-position: -600px -600px; }
    .create-anchor { background-position: 0 -800px; }
    .create-starburst { background-position: -300px -800px; }
    .create-wishbone { background-position: -600px -800px; }
}

