﻿#wrapper{
	overflow-x:hidden;
}
.pt_storefront #main{
	margin-top:0;
}
.main
{
    border-bottom: 0;
}
.bridal
{
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
	#charms .header{
		background-image:url(../../images/landingpages/bridal_popup_charms_header.jpg);
	}
	.bridal .header{
		background-image:url(../../images/landingpages/bridal_popup_cards_header.jpg);
	}
	.bridal.boxes .header{
		background-image:url(../../images/landingpages/bridal_popup_boxes_header.jpg);
	}

    .bridal .header, #charms .header
    {
    	margin:auto;
    	margin-top:10px;
    	padding: 26px 0 0 0;
	    position:relative;
	    background-color: #fff;
	    z-index:1;
	    background-size:93%;
	    background-position:top center;
	    background-repeat:no-repeat;
	    height:120px;
    }
    .bridal h1
    {
        display: none;
    }
    .bridal .boxes{
    	position:relative;
    }

.library
{
	position:relative;
	margin:auto;
    margin-top: .65em;
    width: 100%;
}
 
/* Custom Bridal Boxes ***********************************************/
    .boxes img
    {
        width: 48%;
    }

/* Custom Bridal Cards ***********************************************/
.bridal .card-tile
{
    float: left;
    margin: .5em auto;
    width: 50%;
}

.bridal .card-desc p
{
    font: normal .8em 'HelveticaNeueW01-45Ligh', Arial, sans-serif;
    margin: 0;
    padding: 0 2em 0;
}

.bridal .card-tile .card-header
{
    height: 65px;
    margin: 0 auto;
    width: 244px;
}

.card-tile:nth-child(n+1) .card-header
{
    background-image: url("../../images/landingpages/CustomBridalCards.jpg");
    background-repeat: no-repeat;
    position: relative;
}

.bridal .card-tile:nth-child(1) .card-header
{
    background-position: 0px 0px;
}

.bridal .card-tile:nth-child(2) .card-header
{
    background-position: -300px 0px;
    top: -.4em;
}

.bridal .card-tile:nth-child(3) .card-header
{
    background-position: -600px 0px;
}

.bridal .card-tile:nth-child(4) .card-header
{
    background-position: 0px -100px;
}

.bridal .card-tile:nth-child(5) .card-header
{
    background-position: -300px -100px;
}

.bridal .card-tile:nth-child(6) .card-header
{
    background-position: -600px -100px;
}

/* Custom Bridal Charm Library *********************************************/
#charms
{
    margin: 0 auto;
    box-sizing: content-box;
    text-align: center;
    max-width: 1000px;
    width: 100%;
}

#charms h1
{
	display: none;
}

.charm-tile
{
    float: left;
    margin: .5em auto;
    text-align: center;
    width: 10%;
    min-width: 99px;
}

.charm-image:hover
{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.charm-image
{
    height: 80px;
    margin: 0 auto;
    width: 80px;
}

.charm-name
{
    font: normal .7em 'Futura T 01 Medium', Arial, sans-serif;
    height: 3em;
    margin: 10px auto 0;
    padding: 0 .5em;
    text-transform: uppercase;
}

.charm-tile:nth-child(n+1) .charm-image
{
    background-image: url("../../images/landingpages/CustomBridalCharms.jpg");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.charm-tile:nth-child(1) .charm-image
{
    background-position: 0 0;
}

.charm-tile:nth-child(2) .charm-image
{
    background-position: -50px 0;
}

.charm-tile:nth-child(3) .charm-image
{
    background-position: -100px 0;
}

.charm-tile:nth-child(4) .charm-image
{
    background-position: -150px 0;
}

.charm-tile:nth-child(5) .charm-image
{
    background-position: -200px 0px;
}

.charm-tile:nth-child(6) .charm-image
{
    background-position: -250px 0px;
}

.charm-tile:nth-child(7) .charm-image
{
    background-position: -300px 0px;
}

.charm-tile:nth-child(8) .charm-image
{
    background-position: -350px 0px;
}

.charm-tile:nth-child(9) .charm-image
{
    background-position: -400px 0px;
}

.charm-tile:nth-child(10) .charm-image
{
    background-position: -450px 0px;
}

.charm-tile:nth-child(11) .charm-image
{
    background-position: -500px 0px;
}

.charm-tile:nth-child(12) .charm-image
{
    background-position: -550px 0px;
}

.charm-tile:nth-child(13) .charm-image
{
    background-position: -600px 0px;
}

.charm-tile:nth-child(14) .charm-image
{
    background-position: -650px 0px;
}

.charm-tile:nth-child(15) .charm-image
{
    background-position: -700px 0px;
}

.charm-tile:nth-child(16) .charm-image
{
    background-position: -750px 0px;
}

.charm-tile:nth-child(17) .charm-image
{
    background-position: -800px 0px;
}

.charm-tile:nth-child(18) .charm-image
{
    background-position: -850px 0px;
}

.charm-tile:nth-child(19) .charm-image
{
    background-position: -900px 0px;
}

.charm-tile:nth-child(20) .charm-image
{
    background-position: -950px -0px;
}

.charm-tile:nth-child(21) .charm-image
{
    background-position: 0 -50px;
}

.charm-tile:nth-child(22) .charm-image
{
    background-position: -50px -50px;
}

.charm-tile:nth-child(23) .charm-image
{
    background-position: -100px -50px;
}

.charm-tile:nth-child(24) .charm-image
{
    background-position: -150px -50px;
}

.charm-tile:nth-child(25) .charm-image
{
    background-position: -200px -50px;
}

.charm-tile:nth-child(26) .charm-image
{
    background-position: -250px -50px;
}

.charm-tile:nth-child(27) .charm-image
{
    background-position: -300px -50px;
}

.charm-tile:nth-child(28) .charm-image
{
    background-position: -350px -50px;
}

.charm-tile:nth-child(29) .charm-image
{
    background-position: -400px -50px;
}

.charm-tile:nth-child(30) .charm-image
{
    background-position: -450px -50px;
}

.charm-tile:nth-child(31) .charm-image
{
    background-position: -500px -50px;
}

.charm-tile:nth-child(32) .charm-image
{
    background-position: -550px -50px;
}

.charm-tile:nth-child(33) .charm-image
{
    background-position: -600px -50px;
}

.charm-tile:nth-child(34) .charm-image
{
    background-position: -650px -50px;
}

.charm-tile:nth-child(35) .charm-image
{
    background-position: -700px -50px;
}

.charm-tile:nth-child(36) .charm-image
{
    background-position: -750px -50px;
}

.charm-tile:nth-child(37) .charm-image
{
    background-position: -800px -50px;
}

.charm-tile:nth-child(38) .charm-image
{
    background-position: -850px -50px;
}

.charm-tile:nth-child(39) .charm-image
{
    background-position: -900px -50px;
}

.charm-tile:nth-child(40) .charm-image
{
    background-position: -950px -50px;
}

.charm-tile:nth-child(41) .charm-image
{
    background-position: 0 -100px;
}

.charm-tile:nth-child(42) .charm-image
{
    background-position: -50px -100px;
}

.charm-tile:nth-child(43) .charm-image
{
    background-position: -100px -100px;
}

.charm-tile:nth-child(44) .charm-image
{
    background-position: -150px -100px;
}

.charm-tile:nth-child(45) .charm-image
{
    background-position: -200px -100px;
}

.charm-tile:nth-child(46) .charm-image
{
    background-position: -250px -100px;
}

.charm-tile:nth-child(47) .charm-image
{
    background-position: -300px -100px;
}

.charm-tile:nth-child(48) .charm-image
{
    background-position: -350px -100px;
}

.charm-tile:nth-child(49) .charm-image
{
    background-position: -400px -100px;
}

.charm-tile:nth-child(50) .charm-image
{
    background-position: -450px -100px;
}

.charm-tile:nth-child(51) .charm-image
{
    background-position: -500px -100px;
}

.charm-tile:nth-child(52) .charm-image
{
    background-position: -550px -100px;
}

.charm-tile:nth-child(53) .charm-image
{
    background-position: -600px -100px;
}

.charm-tile:nth-child(54) .charm-image
{
    background-position: -650px -100px;
}

.charm-tile:nth-child(55) .charm-image
{
    background-position: -700px -100px;
}

.charm-tile:nth-child(56) .charm-image
{
    background-position: -750px -100px;
}

.charm-tile:nth-child(57) .charm-image
{
    background-position: -800px -100px;
}

.charm-tile:nth-child(58) .charm-image
{
    background-position: -850px -100px;
}

.charm-tile:nth-child(59) .charm-image
{
    background-position: -900px -100px;
}

.charm-tile:nth-child(60) .charm-image
{
    background-position: -950px -100px;
}

.charm-tile:nth-child(61) .charm-image
{
    background-position: 0 -150px;
}

.charm-tile:nth-child(62) .charm-image
{
    background-position: -50px -150px;
}

.charm-tile:nth-child(63) .charm-image
{
    background-position: -100px -150px;
}

.charm-tile:nth-child(64) .charm-image
{
    background-position: -150px -150px;
}

.charm-tile:nth-child(65) .charm-image
{
    background-position: -200px -150px;
}

.charm-tile:nth-child(66) .charm-image
{
    background-position: -250px -150px;
}

.charm-tile:nth-child(67) .charm-image
{
    background-position: -300px -150px;
}

.charm-tile:nth-child(68) .charm-image
{
    background-position: -350px -150px;
}

.charm-tile:nth-child(69) .charm-image
{
    background-position: -400px -150px;
}

.charm-tile:nth-child(70) .charm-image
{
    background-position: -450px -150px;
}

.charm-tile:nth-child(71) .charm-image
{
    background-position: -500px -150px;
}

.charm-tile:nth-child(72) .charm-image
{
    background-position: -550px -150px;
}

.charm-tile:nth-child(73) .charm-image
{
    background-position: -600px -150px;
}

.charm-tile:nth-child(74) .charm-image
{
    background-position: -650px -150px;
}

.charm-tile:nth-child(75) .charm-image
{
    background-position: -700px -150px;
}

.charm-tile:nth-child(76) .charm-image
{
    background-position: -750px -150px;
}

.charm-tile:nth-child(77) .charm-image
{
    background-position: -800px -150px;
}

.charm-tile:nth-child(78) .charm-image
{
    background-position: -850px -150px;
}

.charm-tile:nth-child(79) .charm-image
{
    background-position: -900px -150px;
}

.charm-tile:nth-child(80) .charm-image
{
    background-position: -950px -150px;
}

.charm-tile:nth-child(81) .charm-image
{
    background-position: 0 -200px;
}

.charm-tile:nth-child(82) .charm-image
{
    background-position: -50px -200px;
}

.charm-tile:nth-child(83) .charm-image
{
    background-position: -100px -200px;
}

.charm-tile:nth-child(84) .charm-image
{
    background-position: -150px -200px;
}

.charm-tile:nth-child(85) .charm-image
{
    background-position: -200px -200px;
}

.charm-tile:nth-child(86) .charm-image
{
    background-position: -250px -200px;
}

.charm-tile:nth-child(87) .charm-image
{
    background-position: -300px -200px;
}

.charm-tile:nth-child(88) .charm-image
{
    background-position: -350px -200px;
}

.charm-tile:nth-child(89) .charm-image
{
    background-position: -400px -200px;
}

.charm-tile:nth-child(90) .charm-image
{
    background-position: -450px -200px;
}

.charm-tile:nth-child(91) .charm-image
{
    background-position: -500px -200px;
}

.charm-tile:nth-child(92) .charm-image
{
    background-position: -550px -200px;
}

.charm-tile:nth-child(93) .charm-image
{
    background-position: -600px -200px;
}

.charm-tile:nth-child(94) .charm-image
{
    background-position: -650px -200px;
}

.charm-tile:nth-child(95) .charm-image
{
    background-position: -700px -200px;
}

.charm-tile:nth-child(96) .charm-image
{
    background-position: -750px -200px;
}

.charm-tile:nth-child(97) .charm-image
{
    background-position: -800px -200px;
}

.charm-tile:nth-child(98) .charm-image
{
    background-position: -850px -200px;
}

.charm-tile:nth-child(99) .charm-image
{
    background-position: -900px -200px;
}

.charm-tile:nth-child(100) .charm-image
{
    background-position: -950px -200px;
}

.charm-tile:nth-child(101) .charm-image
{
    background-position: -0px -250px;
}

.charm-tile:nth-child(102) .charm-image
{
    background-position: -50px -250px;
}

.charm-tile:nth-child(103) .charm-image
{
    background-position: -100px -250px;
}

.charm-tile:nth-child(104) .charm-image
{
    background-position: -150px -250px;
}

.charm-tile:nth-child(105) .charm-image
{
    background-position: -200px -250px;
}

.charm-tile:nth-child(106) .charm-image
{
    background-position: -250px -250px;
}

.charm-tile:nth-child(107) .charm-image
{
    background-position: -300px -250px;
}

.charm-tile:nth-child(108) .charm-image
{
    background-position: -350px -250px;
}

.charm-tile:nth-child(109) .charm-image
{
    background-position: -400px -250px;
}

.charm-tile:nth-child(110) .charm-image
{
    background-position: -450px -250px;
}

.charm-tile:nth-child(111) .charm-image
{
    background-position: -500px -250px;
}

.charm-tile:nth-child(112) .charm-image
{
    background-position: -550px -250px;
}

.charm-tile:nth-child(113) .charm-image
{
    background-position: -600px -250px;
}

.charm-tile:nth-child(114) .charm-image
{
    background-position: -650px -250px;
}

.charm-tile:nth-child(115) .charm-image
{
    background-position: -700px -250px;
}

.charm-tile:nth-child(116) .charm-image
{
    background-position: -750px -250px;
}

.charm-tile:nth-child(117) .charm-image
{
    background-position: -800px -250px;
}

.charm-tile:nth-child(118) .charm-image
{
    background-position: -850px -250px;
}

.charm-tile:nth-child(119) .charm-image
{
    background-position: -900px -250px;
}

.charm-tile:nth-child(120) .charm-image
{
    background-position: -950px -250px;
}

.charm-tile:nth-child(121) .charm-image
{
    background-position: 0 -300px;
}

.charm-tile:nth-child(122) .charm-image
{
    background-position: -50px -300px;
}

.charm-tile:nth-child(123) .charm-image
{
    background-position: -100px -300px;
}

.charm-tile:nth-child(124) .charm-image
{
    background-position: -150px -300px;
}

.charm-tile:nth-child(125) .charm-image
{
    background-position: -200px -300px;
}

.charm-tile:nth-child(126) .charm-image
{
    background-position: -250px -300px;
}

.charm-tile:nth-child(127) .charm-image
{
    background-position: -300px -300px;
}

.charm-tile:nth-child(128) .charm-image
{
    background-position: -350px -300px;
}

.charm-tile:nth-child(129) .charm-image
{
    background-position: -400px -300px;
}

.charm-tile:nth-child(130) .charm-image
{
    background-position: -450px -300px;
}

.charm-tile:nth-child(131) .charm-image
{
    background-position: -500px -300px;
}

.charm-tile:nth-child(132) .charm-image
{
    background-position: -550px -300px;
}

.charm-tile:nth-child(133) .charm-image
{
    background-position: -600px -300px;
}

.charm-tile:nth-child(134) .charm-image
{
    background-position: -650px -300px;
}

.charm-tile:nth-child(135) .charm-image
{
    background-position: -700px -300px;
}

.charm-tile:nth-child(136) .charm-image
{
    background-position: -750px -300px;
}

.charm-tile:nth-child(137) .charm-image
{
    background-position: -800px -300px;
}

.charm-tile:nth-child(138) .charm-image
{
    background-position: -850px -300px;
}

.charm-tile:nth-child(139) .charm-image
{
    background-position: -900px -300px;
}

.charm-tile:nth-child(140) .charm-image
{
    background-position: -950px -300px;
}

.charm-tile:nth-child(141) .charm-image
{
    background-position: 0 -350px;
}

.charm-tile:nth-child(142) .charm-image
{
    background-position: -50px -350px;
}

.charm-tile:nth-child(143) .charm-image
{
    background-position: -100px -350px;
}

.charm-tile:nth-child(144) .charm-image
{
    background-position: -150px -350px;
}

.charm-tile:nth-child(145) .charm-image
{
    background-position: -200px -350px;
}

.charm-tile:nth-child(146) .charm-image
{
    background-position: -250px -350px;
}

.charm-tile:nth-child(147) .charm-image
{
    background-position: -300px -350px;
}

.charm-tile:nth-child(148) .charm-image
{
    background-position: -350px -350px;
}

.charm-tile:nth-child(149) .charm-image
{
    background-position: -400px -350px;
}

.charm-tile:nth-child(150) .charm-image
{
    background-position: -450px -350px;
}

.charm-tile:nth-child(151) .charm-image
{
    background-position: -500px -350px;
}

.charm-tile:nth-child(152) .charm-image
{
    background-position: -550px -350px;
}

.charm-tile:nth-child(153) .charm-image
{
    background-position: -600px -350px;
}

.charm-tile:nth-child(154) .charm-image
{
    background-position: -650px -350px;
}

.charm-tile:nth-child(155) .charm-image
{
    background-position: -700px -350px;
}

.charm-tile:nth-child(156) .charm-image
{
    background-position: -750px -350px;
}

.charm-tile:nth-child(157) .charm-image
{
    background-position: -800px -350px;
}

.charm-tile:nth-child(158) .charm-image
{
    background-position: -850px -350px;
}

.charm-tile:nth-child(159) .charm-image
{
    background-position: -900px -350px;
}

.charm-tile:nth-child(160) .charm-image
{
    background-position: -950px -350px;
}

.charm-tile:nth-child(161) .charm-image
{
    background-position: 0 -400px;
}

.charm-tile:nth-child(162) .charm-image
{
    background-position: -50px -400px;
}

.charm-tile:nth-child(163) .charm-image
{
    background-position: -100px -400px;
}

.charm-tile:nth-child(164) .charm-image
{
    background-position: -150px -400px;
}

.charm-tile:nth-child(165) .charm-image
{
    background-position: -200px -400px;
}

.charm-tile:nth-child(166) .charm-image
{
    background-position: -250px -400px;
}

.charm-tile:nth-child(167) .charm-image
{
    background-position: -300px -400px;
}

.charm-tile:nth-child(168) .charm-image
{
    background-position: -350px -400px;
}

.charm-tile:nth-child(169) .charm-image
{
    background-position: -400px -400px;
}

.charm-tile:nth-child(170) .charm-image
{
    background-position: -450px -400px;
}

.charm-tile:nth-child(171) .charm-image
{
    background-position: -500px -400px;
}

.charm-tile:nth-child(172) .charm-image
{
    background-position: -550px -400px;
}

.charm-tile:nth-child(173) .charm-image
{
    background-position: -600px -400px;
}

.charm-tile:nth-child(174) .charm-image
{
    background-position: -650px -400px;
}

.charm-tile:nth-child(175) .charm-image
{
    background-position: -700px -400px;
}

.charm-tile:nth-child(176) .charm-image
{
    background-position: -750px -400px;
}

.charm-tile:nth-child(177) .charm-image
{
    background-position: -800px -400px;
}

.charm-tile:nth-child(178) .charm-image
{
    background-position: -850px -400px;
}

.charm-tile:nth-child(179) .charm-image
{
    background-position: -900px -400px;
}

.charm-tile:nth-child(180) .charm-image
{
    background-position: -950px -400px;
}

.charm-tile:nth-child(181) .charm-image
{
    background-position: 0 -450px;
}

.charm-tile:nth-child(182) .charm-image
{
    background-position: -50px -450px;
}

@media only screen and (min-width : 750px) and (max-width : 955px)
{
    .charm-tile
    {
        width: 12%;
    }
}


@media only screen and (max-width : 749px)
{
	html, body {
	    overflow-x: hidden;
	    overflow-y: scroll;
	}
    #navigation
    {
        display: none;
    }
    
    #charms .header, .bridal .header{
    	background-size:130%;
    	background-position:center 20px;
    	padding: 10px 0 0 0;
	    background-color: #fff;
	    z-index:1;
    }
    .charm-tile{
    	min-width:79px;
    }
    .library {
    }
    .bridal .boxes img{

    }
    .charm-tile
    {
        width: 20%;
    }
    
}

@media only screen and (max-width : 599px)
{
    .card-tile
    {
        width: 100%;
    }
}

@media only screen and (max-width : 568px)
{
	#charms{
	}
    .boxes img
    {
        width: 100%;
    }
}

@media only screen and (max-width : 480px)
{
	
	.library{
		width:316px;
	}
	.bridal
	{
	    margin: auto;
	    width: 86%;
	}
    .bridal .boxes img
    {
        max-width: 450px;
        /* width: 50%; */
    }
    .bridal .charm-tile
    {
        width: 33%;
    }
    .bridal .card-tile
	{
	    float: none;
	    width: auto;
	    margin-top: 1em;
	}
    .bridal .card-tile:nth-child(2)
	{
	    margin-top: 2em;
	}
    .bridal .card-tile:nth-child(n+5)
	{
	    margin-top: 1.5em;
	}

}

@media only screen and (max-width : 360px)
{
    #charms {
    	margin-left:0;
    }
}

@media only screen and (max-width : 320px)
{
	.bridal{
		margin:0;
	}
    #charms {
    	width:85%;
    	margin-top:12px;
    }
    .bridal .boxes {
    	width:85%;
    	margin:auto;
    }
    .library{
    	width:237px;
    }
}

