﻿#wrapper{
	overflow-x:hidden;
	min-width:inherit;
}
.pt_storefront #main{
	width:100%;
	margin-top:0;
}
#main
{
	border-bottom: 0;
}

.customMAW
{
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

    .customMAW .header
    {
        margin: 4em auto 0;
        padding: 0 1em;
    }
.customMAW h1
{
	display: none;
}
.library
{
    float: left;
    margin-top: 20px;
    width: 100%;
}

/* Custom MAW Boxes ************************************************/
.box
{
	width: 49%;
}

/* Custom MAW Cards ************************************************/
.card-tile
{
    border-bottom: 2px dotted #f79642;
    float: left;
    height: 130px;
    padding: 20px 0;
    margin: 0 10px;
    text-align: left;
    width: 31%;
}

    .card-tile .card-title
    {
        height: 12px;
        margin: 0 0 10px;
        width: 291px;
    }

    .card-tile:nth-child(n+1) .card-title
    {
        background-image: url("../../images/landingpages/CustomMAWCards.png");
        background-repeat: no-repeat;
    }

.card-copy
{
    font: normal .8125em/150% 'Futura BT W01 Book', Arial, sans-serif;
}

.card-tile:nth-child(1),
.card-tile:nth-child(2),
.card-tile:nth-child(3)
{
	border-top: 2px dotted #f79642;
}

.card-tile:nth-child(1) .card-title
{
    background-position: 0 0;
}

.card-tile:nth-child(2) .card-title
{
    background-position: 0 -50px;
}

.card-tile:nth-child(3) .card-title
{
    background-position: 0 -100px;
}

.card-tile:nth-child(4) .card-title
{
    background-position: 0 -150px;
}

.card-tile:nth-child(5) .card-title
{
    background-position: 0 -200px;
}

.card-tile:nth-child(6) .card-title
{
    background-position: 0 -250px;
}

.card-tile:nth-child(7) .card-title
{
    background-position: 0 -300px;
}

.card-tile:nth-child(8) .card-title
{
    background-position: 0 -350px;
}

.card-tile:nth-child(9) .card-title
{
    background-position: 0 -400px;
}

.card-tile:nth-child(10) .card-title
{
    background-position: 0 -450px;
}

.card-tile:nth-child(11) .card-title
{
    background-position: 0 -500px;
}

.card-tile:nth-child(12) .card-title
{
    background-position: 0 -550px;
}

.card-tile:nth-child(13) .card-title
{
    background-position: 0 -600px;
}

.card-tile:nth-child(14) .card-title
{
    background-position: 0 -650px;
}

.card-tile:nth-child(15) .card-title
{
    background-position: 0 -700px;
}

.card-tile:nth-child(16) .card-title
{
    background-position: 0 -750px;
}

.card-tile:nth-child(17) .card-title
{
    background-position: 0 -800px;
}

.card-tile:nth-child(18) .card-title
{
    background-position: 0 -850px;
}

.card-tile:nth-child(19) .card-title
{
    background-position: 0 -900px;
}

.card-tile:nth-child(20) .card-title
{
    background-position: 0 -950px;
}

.card-tile:nth-child(21) .card-title
{
    background-position: 0 -1000px;
}

.card-tile:nth-child(22) .card-title
{
    background-position: 0 -1050px;
}

.card-tile:nth-child(23) .card-title
{
    background-position: 0 -1100px;
}

.card-tile:nth-child(24) .card-title
{
    background-position: 0 -1150px;
}

.card-tile:nth-child(25) .card-title
{
    background-position: 0 -1200px;
}

.card-tile:nth-child(26) .card-title
{
    background-position: 0 -1250px;
}

.card-tile:nth-child(27) .card-title
{
    background-position: 0 -1300px;
}

.card-tile:nth-child(28) .card-title
{
    background-position: 0 -1350px;
}

.card-tile:nth-child(29) .card-title
{
    background-position: 0 -1400px;
}

.card-tile:nth-child(30) .card-title
{
    background-position: 0 -1450px;
}

.card-tile:nth-child(31) .card-title
{
    background-position: 0 -1500px;
}

.card-tile:nth-child(32) .card-title
{
    background-position: 0 -1550px;
}

.card-tile:nth-child(33) .card-title
{
    background-position: 0 -1600px;
}

.card-tile:nth-child(34) .card-title
{
    background-position: 0 -1650px;
    /*position: relative;
    top: -2px;*/
}

.card-tile:nth-child(35) .card-title
{
    background-position: 0 -1700px;
}

.card-tile:nth-child(36) .card-title
{
    background-position: 0 -1750px;
}

.card-tile:nth-child(37) .card-title
{
    background-position: 0 -1800px;
}

.card-tile:nth-child(38) .card-title
{
    background-position: 0 -1850px;
}

.card-tile:nth-child(39) .card-title
{
    background-position: 0 -1900px;
}

.card-tile:nth-child(40) .card-title
{
    background-position: 0 -1950px;
}

.card-tile:nth-child(41) .card-title
{
    background-position: 0 -2000px;
}

.card-tile:nth-child(42) .card-title
{
    background-position: 0 -2050px;
}

.card-tile:nth-child(43) .card-title
{
    background-position: 0 -2100px;
}

.card-tile:nth-child(44) .card-title
{
    background-position: 0 -2150px;
}

.card-tile:nth-child(45) .card-title
{
    background-position: 0 -2200px;
}

.card-tile:nth-child(46) .card-title
{
    background-position: 0 -2250px;
}

.card-tile:nth-child(47) .card-title
{
    background-position: 0 -2300px;
}

.card-tile:nth-child(48) .card-title
{
    background-position: 0 -2350px;
}

.card-tile:nth-child(49) .card-title
{
    background-position: 0 -2400px;
}

.card-tile:nth-child(50) .card-title
{
    background-position: 0 -2450px;
}

.card-tile:nth-child(51) .card-title
{
    background-position: 0 -2500px;
}

.card-tile:nth-child(52) .card-title
{
    background-position: 0 -2550px;
}

.card-tile:nth-child(53) .card-title
{
    background-position: 0 -2600px;
}

.card-tile:nth-child(54) .card-title
{
    background-position: 0 -2650px;
}

.card-tile:nth-child(55) .card-title
{
    background-position: 0 -2700px;
}

.card-tile:nth-child(56) .card-title
{
    background-position: 0 -2750px;
}

.card-tile:nth-child(57) .card-title
{
    background-position: 0 -2800px;
}

.card-tile:nth-child(58) .card-title
{
    background-position: 0 -2850px;
}

.card-tile:nth-child(59) .card-title
{
    background-position: 0 -2900px;
}

/* Custom MAW Charms ***********************************************/
.charm
{
    float: left;
    margin: 1em auto;
    width: 12.5%;
}

.charm p
{
    font-family: Helvetica, Arial, sans-serif;
    height: 3em;
    margin: 10px auto 0;
    text-transform: uppercase;
}

.charm .charm-image
{
    height: 40px;
    margin: 0 auto;
    width: 40px;
}

    .charm:nth-child(n+1) .charm-image
    {
        background-image: url("../../images/landingpages/CustomMAWCharms.jpg");
        background-repeat: no-repeat;
    }

.charm-image:hover
{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.charm:nth-child(1) .charm-image
{
    background-position: 0 0;
}

.charm:nth-child(2) .charm-image
{
    background-position: -50px 0;
}

.charm:nth-child(3) .charm-image
{
    background-position: -100px 0;
}

.charm:nth-child(4) .charm-image
{
    background-position: -150px 0;
}

.charm:nth-child(5) .charm-image
{
    background-position: -200px 0px;
}

.charm:nth-child(6) .charm-image
{
    background-position: -250px 0px;
}

.charm:nth-child(7) .charm-image
{
    background-position: -300px 0px;
}

.charm:nth-child(8) .charm-image
{
    background-position: -350px 0px;
}

.charm:nth-child(9) .charm-image
{
    background-position: -400px 0px;
}

.charm:nth-child(10) .charm-image
{
    background-position: -450px 0px;
}

.charm:nth-child(11) .charm-image
{
    background-position: -500px 0px;
}

.charm:nth-child(12) .charm-image
{
    background-position: -550px 0px;
}

.charm:nth-child(13) .charm-image
{
    background-position: -600px 0px;
}

.charm:nth-child(14) .charm-image
{
    background-position: -650px 0px;
}

.charm:nth-child(15) .charm-image
{
    background-position: -700px 0px;
}

.charm:nth-child(16) .charm-image
{
    background-position: -750px 0px;
}

.charm:nth-child(17) .charm-image
{
    background-position: -800px 0px;
}

.charm:nth-child(18) .charm-image
{
    background-position: -850px 0px;
}

.charm:nth-child(19) .charm-image
{
    background-position: -900px 0px;
}

.charm:nth-child(20) .charm-image
{
    background-position: -950px -0px;
}

.charm:nth-child(21) .charm-image
{
    background-position: 0 -50px;
}

.charm:nth-child(22) .charm-image
{
    background-position: -50px -50px;
}

.charm:nth-child(23) .charm-image
{
    background-position: -100px -50px;
}

.charm:nth-child(24) .charm-image
{
    background-position: -150px -50px;
}

.charm:nth-child(25) .charm-image
{
    background-position: -200px -50px;
}

.charm:nth-child(26) .charm-image
{
    background-position: -250px -50px;
}

.charm:nth-child(27) .charm-image
{
    background-position: -300px -50px;
}

.charm:nth-child(28) .charm-image
{
    background-position: -350px -50px;
}

.charm:nth-child(29) .charm-image
{
    background-position: -400px -50px;
}

.charm:nth-child(30) .charm-image
{
    background-position: -450px -50px;
}

.charm:nth-child(31) .charm-image
{
    background-position: -500px -50px;
}

.charm:nth-child(32) .charm-image
{
    background-position: -550px -50px;
}

.charm:nth-child(33) .charm-image
{
    background-position: -600px -50px;
}

.charm:nth-child(34) .charm-image
{
    background-position: -650px -50px;
}

.charm:nth-child(35) .charm-image
{
    background-position: -700px -50px;
}

.charm:nth-child(36) .charm-image
{
    background-position: -750px -50px;
}

.charm:nth-child(37) .charm-image
{
    background-position: -800px -50px;
}

.charm:nth-child(38) .charm-image
{
    background-position: -850px -50px;
}

.charm:nth-child(39) .charm-image
{
    background-position: -900px -50px;
}

.charm:nth-child(40) .charm-image
{
    background-position: -950px -50px;
}

.charm:nth-child(41) .charm-image
{
    background-position: 0 -100px;
}

.charm:nth-child(42) .charm-image
{
    background-position: -50px -100px;
}

.charm:nth-child(43) .charm-image
{
    background-position: -100px -100px;
}

.charm:nth-child(44) .charm-image
{
    background-position: -150px -100px;
}

.charm:nth-child(45) .charm-image
{
    background-position: -200px -100px;
}

.charm:nth-child(46) .charm-image
{
    background-position: -250px -100px;
}

.charm:nth-child(47) .charm-image
{
    background-position: -300px -100px;
}

.charm:nth-child(48) .charm-image
{
    background-position: -350px -100px;
}

.charm:nth-child(49) .charm-image
{
    background-position: -400px -100px;
}

.charm:nth-child(50) .charm-image
{
    background-position: -450px -100px;
}

.charm:nth-child(51) .charm-image
{
    background-position: -500px -100px;
}

.charm:nth-child(52) .charm-image
{
    background-position: -550px -100px;
}

.charm:nth-child(53) .charm-image
{
    background-position: -600px -100px;
}

.charm:nth-child(54) .charm-image
{
    background-position: -650px -100px;
}

.charm:nth-child(55) .charm-image
{
    background-position: -700px -100px;
}

.charm:nth-child(56) .charm-image
{
    background-position: -750px -100px;
}

.charm:nth-child(57) .charm-image
{
    background-position: -800px -100px;
}

.charm:nth-child(58) .charm-image
{
    background-position: -850px -100px;
}

.charm:nth-child(59) .charm-image
{
    background-position: -900px -100px;
}

.charm:nth-child(60) .charm-image
{
    background-position: -950px -100px;
}

.charm:nth-child(61) .charm-image
{
    background-position: 0 -150px;
}

.charm:nth-child(62) .charm-image
{
    background-position: -50px -150px;
}

.charm:nth-child(63) .charm-image
{
    background-position: -100px -150px;
}

.charm:nth-child(64) .charm-image
{
    background-position: -150px -150px;
}

.charm:nth-child(65) .charm-image
{
    background-position: -200px -150px;
}

.charm:nth-child(66) .charm-image
{
    background-position: -250px -150px;
}

.charm:nth-child(67) .charm-image
{
    background-position: -300px -150px;
}

.charm:nth-child(68) .charm-image
{
    background-position: -350px -150px;
}

.charm:nth-child(69) .charm-image
{
    background-position: -400px -150px;
}

.charm:nth-child(70) .charm-image
{
    background-position: -450px -150px;
}

.charm:nth-child(71) .charm-image
{
    background-position: -500px -150px;
}

.charm:nth-child(72) .charm-image
{
    background-position: -550px -150px;
}

.charm:nth-child(73) .charm-image
{
    background-position: -600px -150px;
}

.charm:nth-child(74) .charm-image
{
    background-position: -650px -150px;
}

.charm:nth-child(75) .charm-image
{
    background-position: -700px -150px;
}

.charm:nth-child(76) .charm-image
{
    background-position: -750px -150px;
}

.charm:nth-child(77) .charm-image
{
    background-position: -800px -150px;
}

.charm:nth-child(78) .charm-image
{
    background-position: -850px -150px;
}

.charm:nth-child(79) .charm-image
{
    background-position: -900px -150px;
}

.charm:nth-child(80) .charm-image
{
    background-position: -950px -150px;
}

.charm:nth-child(81) .charm-image
{
    background-position: 0 -200px;
}

.charm:nth-child(82) .charm-image
{
    background-position: -50px -200px;
}

.charm:nth-child(83) .charm-image
{
    background-position: -100px -200px;
}

.charm:nth-child(84) .charm-image
{
    background-position: -150px -200px;
}

.charm:nth-child(85) .charm-image
{
    background-position: -200px -200px;
}

.charm:nth-child(86) .charm-image
{
    background-position: -250px -200px;
}

.charm:nth-child(87) .charm-image
{
    background-position: -300px -200px;
}

.charm:nth-child(88) .charm-image
{
    background-position: -350px -200px;
}

.charm:nth-child(89) .charm-image
{
    background-position: -400px -200px;
}

.charm:nth-child(90) .charm-image
{
    background-position: -450px -200px;
}

.charm:nth-child(91) .charm-image
{
    background-position: -500px -200px;
}

.charm:nth-child(92) .charm-image
{
    background-position: -550px -200px;
}

.charm:nth-child(93) .charm-image
{
    background-position: -600px -200px;
}

.charm:nth-child(94) .charm-image
{
    background-position: -650px -200px;
}

.charm:nth-child(95) .charm-image
{
    background-position: -700px -200px;
}

.charm:nth-child(96) .charm-image
{
    background-position: -750px -200px;
}

.charm:nth-child(97) .charm-image
{
    background-position: -800px -200px;
}

.charm:nth-child(98) .charm-image
{
    background-position: -850px -200px;
}

.charm:nth-child(99) .charm-image
{
    background-position: -900px -200px;
}

.charm:nth-child(100) .charm-image
{
    background-position: -950px -200px;
}

.charm:nth-child(101) .charm-image
{
    background-position: -0px -250px;
}

.charm:nth-child(102) .charm-image
{
    background-position: -50px -250px;
}

.charm:nth-child(103) .charm-image
{
    background-position: -100px -250px;
}

.charm:nth-child(104) .charm-image
{
    background-position: -150px -250px;
}

.charm:nth-child(105) .charm-image
{
    background-position: -200px -250px;
}

.charm:nth-child(106) .charm-image
{
    background-position: -250px -250px;
}

.charm:nth-child(107) .charm-image
{
    background-position: -300px -250px;
}

.charm:nth-child(108) .charm-image
{
    background-position: -350px -250px;
}

.charm:nth-child(109) .charm-image
{
    background-position: -400px -250px;
}

.charm:nth-child(110) .charm-image
{
    background-position: -450px -250px;
}

.charm:nth-child(111) .charm-image
{
    background-position: -500px -250px;
}

.charm:nth-child(112) .charm-image
{
    background-position: -550px -250px;
}

.charm:nth-child(113) .charm-image
{
    background-position: -600px -250px;
}

.charm:nth-child(114) .charm-image
{
    background-position: -650px -250px;
}

.charm:nth-child(115) .charm-image
{
    background-position: -700px -250px;
}

.charm:nth-child(116) .charm-image
{
    background-position: -750px -250px;
}

.charm:nth-child(117) .charm-image
{
    background-position: -800px -250px;
}

.charm:nth-child(118) .charm-image
{
    background-position: -850px -250px;
}

.charm:nth-child(119) .charm-image
{
    background-position: -900px -250px;
}

.charm:nth-child(120) .charm-image
{
    background-position: -950px -250px;
}

.charm:nth-child(121) .charm-image
{
    background-position: 0 -300px;
}

.charm:nth-child(122) .charm-image
{
    background-position: -50px -300px;
}

.charm:nth-child(123) .charm-image
{
    background-position: -100px -300px;
}

.charm:nth-child(124) .charm-image
{
    background-position: -150px -300px;
}

.charm:nth-child(125) .charm-image
{
    background-position: -200px -300px;
}

.charm:nth-child(126) .charm-image
{
    background-position: -250px -300px;
}

.charm:nth-child(127) .charm-image
{
    background-position: -300px -300px;
}

.charm:nth-child(128) .charm-image
{
    background-position: -350px -300px;
}

.charm:nth-child(129) .charm-image
{
    background-position: -400px -300px;
}

.charm:nth-child(130) .charm-image
{
    background-position: -450px -300px;
}

.charm:nth-child(131) .charm-image
{
    background-position: -500px -300px;
}

.charm:nth-child(132) .charm-image
{
    background-position: -550px -300px;
}

.charm:nth-child(133) .charm-image
{
    background-position: -600px -300px;
}

.charm:nth-child(134) .charm-image
{
    background-position: -650px -300px;
}

.charm:nth-child(135) .charm-image
{
    background-position: -700px -300px;
}

.charm:nth-child(136) .charm-image
{
    background-position: -750px -300px;
}

.charm:nth-child(137) .charm-image
{
    background-position: -800px -300px;
}

.charm:nth-child(138) .charm-image
{
    background-position: -850px -300px;
}

.charm:nth-child(139) .charm-image
{
    background-position: -900px -300px;
}

.charm:nth-child(140) .charm-image
{
    background-position: -950px -300px;
}

.charm:nth-child(141) .charm-image
{
    background-position: 0 -350px;
}

.charm:nth-child(142) .charm-image
{
    background-position: -50px -350px;
}

.charm:nth-child(143) .charm-image
{
    background-position: -100px -350px;
}




@media only screen and (min-width : 750px) and (max-width : 955px)
{
    .card-tile
    {
        height: 110px;
        width: 47%;
    }    
    .card-tile:nth-child(2),     
    .card-tile:nth-child(3)
    {
	    border-top: 0;
    }
}

@media only screen and (min-width : 481px) and (max-width : 800px)
{
    .charm
    {
        width: 25%;
    }
}


@media only screen and (max-width : 749px)
{
	.customMAW .header img[alt="Dogeared Make A Wish Necklaces on Chain Boxes"]{
		width:50%;
	}
    #navigation
    {
        display: none;
    }

    .card-tile
    {
        height: auto;
        width: auto;
    }
    
    /* import */
    html, body {
	    overflow-x: hidden;
	    overflow-y: scroll;
	}
    #navigation
    {
        display: none;
    }
    
    #charms .header, .bridal .header{
    	margin: auto;
    	top:0px;
    	padding: 26px 0 17px 0;
    	border-bottom: 2px solid #d9d5d1;
	    width: 85%;
	    background-color: #fff;
	    z-index:1;
    }
    
    #charms .header img, .bridal .header img{
    	/* max-width: 32%; */
    }
    .charm-tile{
    	min-width:79px;
    }
    .library {
    }
    .bridal .boxes img{

    }
    .charm-tile
    {
        width: 20%;
    }
    .bridal .boxes img{
    	/* width:45%; */
    }    
}

@media only screen and (max-width : 480px)
{
	.customMAW
	{
	    margin: 0;
	    width: 100%;
	}
    .box
	{
		max-width: 480px;
		width: 100%;
	}
	.charm
    {
        width: 25%;
    }
    .customMAW .header img
    {
        width: 90%;
        max-width: 100%;
    }
    .card-tile .card-title
    {
        width: 100%;
    }
    
    /* import */
    
    .library{
		width:100%;
	}
	.bridal
	{
	    margin: auto;
	    width: 86%;
	}
    .bridal .boxes img
    {
        max-width: 450px;
        /* width: 50%; */
    }
    .bridal .charm-tile
    {
        width: 33%;
    }
    .bridal .card-tile
	{
	    float: none;
	    width: auto;
	    margin-top: 1em;
	}
    .bridal .card-tile:nth-child(2)
	{
	    margin-top: 2em;
	}
    .bridal .card-tile:nth-child(n+5)
	{
	    margin-top: 1.5em;
	}
	#charms .header img, .bridal .header img{
    	max-width:43%;
    }
    #charms .header, .bridal .header{
    	/* position:fixed; */
    }
}

@media only screen and (max-width : 360px)
{
    #charms {
    	margin-left:0;
    }
}

@media only screen and (max-width : 320px)
{
	.bridal{
		margin:0;
	}
    .charm {
    	width:33%;
    }
    .bridal .boxes {
    	width:85%;
    	margin:auto;
    }

}





