/*  Video Landing Styles  *******************************************/

.video-landing
{
    max-width: 1000px;
    margin: 1em auto;
}

.video-container
{
    position: relative;
    padding-bottom: 54%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
}

    .video-container iframe
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

@media only screen and (max-width : 480px)
{
    .video-landing
    {
        max-width: 480px;
    }
    .video-landing .title
    {
        font-size: 1.6em;
    }
}

@media only screen and (max-width : 480px)
{
    .video-landing
    {
        max-width: 750px;
    }
}
    
@media only screen and (max-width : 750px)
{
    #navigation
    {
        display: none;
    }
}

/*  Lightbox Trigger Styles  ****************************************/
.lightbox-button
{
    background: #ffffff;
    cursor: pointer;
    font: normal 1em 'Futura T W01 Medium', Arial, sans-serif;
    margin: 0 auto;
    max-width: 190px;
    min-width: 130px;
    padding: .5em 0;
    text-align: center;
    text-transform: uppercase;
}
    .lightbox-button a
    {
        border: none;
        color: #000000;
        display: block;
        height: 100%;
        text-decoration: none;
        width: 100%;
    }
    .lightbox-button a:hover,
    .lightbox-button a:active,
    .lightbox-button a:focus
    {
        border: none;
        color: rgba(0,0,0,.5);
    }
    
@media only screen and (max-width : 750px)
{
    .lightbox-button
    {
        width: 40%;
    }
}


/*  Sign Up Form Lightbox-Form Styles  ******************************/

.lightbox-form
{
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    width: 100%;
}

    .lightbox-form h1
    {
        font: normal 1.3em 'Futura T W01 Light', Arial, sans-serif;
        text-transform: uppercase;
    }

    .lightbox-form form fieldset
    {
        border: none;
        margin: 0 auto 1em;
        padding: 0;
        width: 100%;
    }

        .lightbox-form form fieldset input
        {
            font: normal 1em 'Futura T W01 Light', Arial, sans-serif;
            padding: .5em .5em .4em;
        }

    .lightbox-form .first-name input
    {
        box-sizing: border-box;
        float: left;
        margin-left: 0;
        width: 40%;
    }

    .lightbox-form .last-name input
    {
        box-sizing: border-box;
        float: right;
        width: 56%;
    }

    .lightbox-form fieldset.email input
    {
        box-sizing: border-box;
        float: left;
        width: 100%;
    }

.submit-button
{
    border-radius: .25em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: .5em 1em;
    text-align: center;
    width: 40%;
}

    .submit-button input
    {
        background: transparent;
        border: 0;
        color: #000000;
        cursor: pointer;
        display: block;
        font: normal 1em 'Futura BT W01 Book', Arial, sans-serif;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
        width: 100%;
    }

        .submit-button input:hover
        {
            color: #ec008c;
            text-decoration: none;
        }

        .submit-button input:hover,
        .submit-button input:active,
        .submit-button input:focus
        {
            border: 0;
        }

    .submit-button span
    {
        text-decoration: none;
    }
@media only screen and (max-width : 350px)
{
    .lightbox-form
    {
        padding: 0 1em;
        width: 80%;
    }

        .lightbox-form h1
        {
            font-size: 1em;
        }
        .lightbox-form .first-name input
        {
            margin-bottom: 1em;
            width: 100%;
        }

        .lightbox-form .last-name input
        {
            width: 100%;
        }
    .submit-button
    {
        width: 100%;
    }
}

@media only screen and (min-width : 351px) and (max-width : 600px)
{
    .lightbox-form
    {
        width: 90%;
    }

    .lightbox-form .first-name input
    {
        width: 40%;
    }

    .lightbox-form .last-name input
    {
        width: 56%;
    }
}

/*  Content Slot Styles  ********************************************/
.video-landing .tile-full
{
    height: auto;
    margin: 0 auto 1em;
    width: 100%;
}
.video-landing .tile-left
{
    height: auto;
    float: left;
    margin: 0 auto;
    width: 49%;
}
.video-landing .tile-right
{
    height: auto;
    float: right;
    margin: 0 auto;
    width: 49%;
}
@media only screen and (max-width : 749px)
{
    .video-landing .tile-left,
    .video-landing .tile-right
    {
        width: 100%;
    }
}

