﻿.center
{
	margin: 0 auto;
	text-align: center;
}
.left
{
	float: left;
}
.nocaps
{
    text-transform: none;
}
.noshow
{
	display: none;
}
.nowrap
{
    white-space: nowrap;
}
.right
{
	float: right;
}
.width-full
{
	width: 100%;
}
.group:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@media only screen and (max-width : 749px) {
   #navigation
    {
    	display: none;
    }
}