﻿/*  Video Landing Styles  */

.video-landing
{
    max-width: 1000px;
    margin: 1em auto;
}

.video-landing .title h1
{
    text-align: center;
    margin: 0 auto;
    font: normal 3em 'Futura T W01 Light', Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.video-landing .title h2
{
    text-align: center;
    margin: 0 auto;
    font: normal 2em 'Bauer Bodoni W01 Italic', Times New Roman, serif;
}

.video-container
{
    position: relative;
    padding-bottom: 54%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 0 auto 1em;
}

    .video-container iframe
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.lightbox-button
{
    background: #ffffff;
    cursor: pointer;
    font: normal 1em 'Futura T W01 Medium', Arial, sans-serif;
    margin: 0 auto;
    max-width: 220px;
    min-width: 130px;
    padding: .5em 0;
    text-align: center;
}
    .lightbox-button a
    {
        border: none;
        color: #000000;
        display: block;
        height: 100%;
        text-decoration: none;
        width: 100%;
    }
    .lightbox-button a:hover,
    .lightbox-button a:active,
    .lightbox-button a:focus
    {
        border: none;
        color: rgba(0,0,0,.5);
    }

@media only screen and (max-width : 480px)
{
    .video-landing
    {
        max-width: 480px;
    }
    .video-landing .title
    {
        font-size: 1.6em;
    }
}

@media only screen and (max-width : 480px)
{
    .video-landing
    {
        max-width: 750px;
        margin-bottom: 3em;
    }
}
    
@media only screen and (max-width : 750px)
{
    #navigation
    {
        display: none;
    }
    .lightbox-button
    {
        width: 40%;
    }
}


/*  Sign Up Form Lightbox-Form Styles  */

.lightbox-form
{
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    width: 100%;
}

    .lightbox-form h1
    {
        font: normal 1.3em 'Futura T W01 Light', Arial, sans-serif;
        text-transform: uppercase;
    }

    .lightbox-form form fieldset
    {
        border: none;
        margin: 0 auto 1em;
        padding: 0;
        width: 100%;
    }

        .lightbox-form form fieldset input
        {
            font: normal 1em 'Futura T W01 Light', Arial, sans-serif;
            padding: .5em .5em .4em;
        }

    .lightbox-form .first-name input
    {
        box-sizing: border-box;
        float: left;
        margin-left: 0;
        width: 40%;
    }

    .lightbox-form .last-name input
    {
        box-sizing: border-box;
        float: right;
        width: 56%;
    }

    .lightbox-form fieldset.email input
    {
        box-sizing: border-box;
        float: left;
        width: 100%;
    }

.submit-button
{
    border-radius: .25em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: .5em 1em;
    text-align: center;
    width: 40%;
}

    .submit-button input
    {
        background: transparent;
        border: 0;
        color: #000000;
        cursor: pointer;
        display: block;
        font: normal 1em 'Futura BT W01 Book', Arial, sans-serif;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
        width: 100%;
    }

        .submit-button input:hover
        {
            color: #ec008c;
            text-decoration: none;
        }

        .submit-button input:hover,
        .submit-button input:active,
        .submit-button input:focus
        {
            border: 0;
        }

    .submit-button span
    {
        text-decoration: none;
    }
@media only screen and (max-width : 350px)
{
    .lightbox-form
    {
        padding: 0 1em;
        width: 80%;
    }

        .lightbox-form h1
        {
            font-size: 1em;
        }
        .lightbox-form .first-name input
        {
            margin-bottom: 1em;
            width: 100%;
        }

        .lightbox-form .last-name input
        {
            width: 100%;
        }
    .submit-button
    {
        width: 100%;
    }
}

@media only screen and (min-width : 351px) and (max-width : 600px)
{
    .lightbox-form
    {
        width: 90%;
    }

    .lightbox-form .first-name input
    {
        width: 40%;
    }

    .lightbox-form .last-name input
    {
        width: 56%;
    }
}


/*  Forever 2015 Video Styles  */
.forever2015 section
{
    font-family:'Futura BT W01 Book', Arial, sans-serif;
    margin: 0 auto 1em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
        .forever2015 section .full h2
        {
            font-size: 2.5em;
            letter-spacing: .2em;
        }
        
        .forever2015 section .full h3
        {
            letter-spacing: .15em;
            line-height: 1.3em;
        }

    .forever2015 section:nth-child(1)
    {
        background: url(../../images/landingpages/forever2015/20140226_Forever-BK1.jpg) center 0 no-repeat;
        color: #ffffff;
        height: 175px;
        padding-top: 320px;
        width: 100%;
    }
        .forever2015 section:nth-child(1) h2
        {
            margin-bottom: .25em;
        }
    .forever2015 section:nth-child(2)
    {
        background: url(../../images/landingpages/forever2015/20140226_Forever-BK2.jpg) center 0 no-repeat;
        color: #ffffff;
        height: 245px;
        padding-top: 250px;
        width: 100%;
    }
        .forever2015 section:nth-child(2) .background
        {
            float: right;
            width: 40%;
        }
    .forever2015 section:nth-child(3)
    {
        background: url(../../images/landingpages/forever2015/20140226_Forever-BK3.jpg) center top  no-repeat;
        color: #000000;
        float: left;
        height: 115px;
        padding-top: 380px;
        width: 50%;
    }
    .forever2015 section:nth-child(4)
    {
        background: url(../../images/landingpages/forever2015/20140226_Forever-BK4.jpg) center top no-repeat;
        color: #000000;
        float: right;
        height: 115px;
        padding-top: 380px;
        width: 50%;
    }
    .forever2015 .background
    {
        text-align: center;
        margin: 0 auto;
        width: 360px;
    }
    .forever2015 h2
    {
        font-size: 2.2em;
        letter-spacing: .1em;
        line-height: 50px;
    }
        .forever2015 h2 span
        {            
            font: normal 1.1em 'Bauer Bodoni W01 Italic', Times New Roman, serif;
            letter-spacing: normal;
            text-transform: lowercase;
        }
    .forever2015 h3
    {
        font: bold 1.5em 'Futura T W01 Light', Arial, sans-serif;
        letter-spacing: 2px;
    }
    .forever2015 section p
    {
        font: normal 1.1em 'Bauer Bodoni W01 Italic', Times New Roman, serif;
        margin: .8em auto 1em;
        padding: 0 2em;
        text-transform: lowercase;
    }

@media only screen and (max-width : 480px) 
{
    .video-landing .title h1
    {
        font-size: 1.6em !important;
    }

    .video-landing .title h2
    {
        font-size: 1em !important;
    }
    .forever2015 section .full h2
    {
        font-size: 2.2em;
        letter-spacing: .1em;
    }
        
    .forever2015 section .full h3
    {
        letter-spacing: .1em;
        line-height: 1.3em;
    }
    .forever2015 section:nth-child(2)
    {
        height: 220px !important;
        padding-top: 140px !important;
    }
        .forever2015 section:nth-child(2) .background
        {
            margin-right: 3px;
            text-align: right;
            width: 50%;
        }
        .forever2015 section:nth-child(2) p
        {
            font: normal 1.2em 'Bauer Bodoni W01 Italic', Times New Roman, serif;
            margin: .5em auto;
            padding: 0;
            text-transform: lowercase;
        }
        .forever2015 section:nth-child(2) .lightbox-button
        {
            width: 100%;
        }
}
@media only screen and (max-width : 749px)
{
    .video-landing .title h1
    {
        font-size: 2.5em;
    }

    .video-landing .title h2
    {
        font-size: 1.5em;
    }
	.forever2015 section
    {
        font-size: .8em;
        max-height: 360px;
    }
    .forever2015 section:nth-child(1)
    {
        background: url(../../images/landingpages/forever2015/20140226_Forever-BK1a.jpg) center 0 no-repeat;
        height: 140px;
        padding-top: 220px;
        width: 100%;
    }
    .forever2015 section:nth-child(2)
    {
        background: url(../../images/landingpages/forever2015/20140226_Forever-BK2a.jpg) center 0 no-repeat;
        color: #ffffff;
        height: 200px;
        padding-top: 160px;
        width: 100%;
    }
        .forever2015 section:nth-child(2) .background
        {
            text-align: right;
            margin-right: 10px;
            width: 45%;
        }
        .forever2015 section:nth-child(2) p
        {
            font: normal 1.2em 'Bauer Bodoni W01 Italic', Times New Roman, serif;
            margin: .5em auto;
            padding: 0;
            text-transform: lowercase;
        }
        .forever2015 section:nth-child(2) .lightbox-button
        {
            margin-right: 3px;
        }
    .forever2015 section:nth-child(3)
    {
        float: none;
        background-size: 100px 277px;
        height: auto;
        padding-top: 280px;
        width: 100%;
    }
    .forever2015 section:nth-child(4)
    {
        float: none;
        background-size: 204px 302px;
        height: auto;
        padding-top: 280px;
        width: 100%;
    }
}

@media only screen and (min-width : 750px) and (max-width : 950px)
{
	
	.forever2015 section
    {
        font-size: .9em;
		height: auto;
        max-height: 495px;
		max-width: 750px;
    }
    .forever2015 section:nth-child(1)
    {
        background: url(../../images/landingpages/forever2015/20140226_Forever-BK1b.jpg) center 0 no-repeat;
        width: 100%;
    }
    .forever2015 section:nth-child(2)
    {
        background: url(../../images/landingpages/forever2015/20140226_Forever-BK2b.jpg) center 0 no-repeat;
        color: #ffffff;
        width: 100%;
    }
    .forever2015 section:nth-child(3)
    {
        
    }
    .forever2015 section:nth-child(4)
    {
        
    }
}