/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/

/* @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=f5b02c61-f1f1-4229-aec8-e26616d9d14a"); */

@font-face{ font-family:"HelveticaNeueW01-UltLt"; src:url("Fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix"); src:url("Fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix") format("eot"),url("Fonts/4bff1fbb-b4bf-4d95-9c47-efcb14384e36.woff") format("woff"),url("Fonts/7f1f2a7d-3837-4c93-b373-f03c5da3f9a1.ttf") format("truetype"),url("Fonts/d9f2752a-8d82-4cf1-b82f-109c1105be7f.svg#d9f2752a-8d82-4cf1-b82f-109c1105be7f") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-UltLtI"; src:url("Fonts/581e96b6-0e09-44c4-a73e-a4018262ab80.eot?#iefix"); src:url("Fonts/581e96b6-0e09-44c4-a73e-a4018262ab80.eot?#iefix") format("eot"),url("Fonts/6a815361-6e47-4eaa-8b82-06b76eca6684.woff") format("woff"),url("Fonts/fdfa66bc-eaee-412a-b193-5b24b4c3b1aa.ttf") format("truetype"),url("Fonts/52604114-1d29-4bbc-8473-b62681fbbb4e.svg#52604114-1d29-4bbc-8473-b62681fbbb4e") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-UltLtC 673371"; src:url("Fonts/3345539a-5527-4641-bca2-fa42b579c9ed.eot?#iefix"); src:url("Fonts/3345539a-5527-4641-bca2-fa42b579c9ed.eot?#iefix") format("eot"),url("Fonts/ed81998a-20f5-461f-8ae8-b2d1c4feec2a.woff") format("woff"),url("Fonts/ea4682a4-ca47-43c0-a7af-aa3d4c3df6c8.ttf") format("truetype"),url("Fonts/dc47192b-c265-43dd-8513-6a8d3bf3c186.svg#dc47192b-c265-43dd-8513-6a8d3bf3c186") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-UltLtC 673374"; src:url("Fonts/024cf5cb-32dc-4063-9838-9580b205338a.eot?#iefix"); src:url("Fonts/024cf5cb-32dc-4063-9838-9580b205338a.eot?#iefix") format("eot"),url("Fonts/96fca99f-d03c-4e52-99bf-2128f97b3007.woff") format("woff"),url("Fonts/c7a64d57-bb2b-41d9-81f3-d168da918abf.ttf") format("truetype"),url("Fonts/e02edb6e-3a04-44e9-a714-1d0d3587c857.svg#e02edb6e-3a04-44e9-a714-1d0d3587c857") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-Thin"; src:url("Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix"); src:url("Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("eot"),url("Fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"),url("Fonts/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype"),url("Fonts/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-ThinIt"; src:url("Fonts/1cc063b6-7e7b-4880-9905-0d3d4f9c7c7d.eot?#iefix"); src:url("Fonts/1cc063b6-7e7b-4880-9905-0d3d4f9c7c7d.eot?#iefix") format("eot"),url("Fonts/b6d63cb7-64b5-4d39-beaf-a8d9fe5eb1df.woff") format("woff"),url("Fonts/284ad777-0022-42a3-9197-c449457c670a.ttf") format("truetype"),url("Fonts/202b6353-ffff-45b1-9a1a-89497323d7ed.svg#202b6353-ffff-45b1-9a1a-89497323d7ed") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-ThinCn 673383"; src:url("Fonts/08e2b89e-9853-40e2-b409-05538c48390b.eot?#iefix"); src:url("Fonts/08e2b89e-9853-40e2-b409-05538c48390b.eot?#iefix") format("eot"),url("Fonts/3d0bfb88-4887-4fd3-a16f-34ae15cbfe25.woff") format("woff"),url("Fonts/007ff3cd-c6c5-4d33-8458-99c3d6fc8598.ttf") format("truetype"),url("Fonts/67ccdd14-5fcd-479c-9829-ec39a60795fa.svg#67ccdd14-5fcd-479c-9829-ec39a60795fa") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-ThinCn 673386"; src:url("Fonts/980df724-09f2-4cbb-b493-f682b8c6c590.eot?#iefix"); src:url("Fonts/980df724-09f2-4cbb-b493-f682b8c6c590.eot?#iefix") format("eot"),url("Fonts/2906fb00-117f-4f5d-8e80-5c0658969b92.woff") format("woff"),url("Fonts/1e030520-a37b-4e02-b7cd-d514be1cbebb.ttf") format("truetype"),url("Fonts/fca2f769-a4e5-4857-a18c-c435c3b7025f.svg#fca2f769-a4e5-4857-a18c-c435c3b7025f") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-BlackI"; src:url("Fonts/096bafb1-2cd4-481a-afcb-6c29451716ee.eot?#iefix"); src:url("Fonts/096bafb1-2cd4-481a-afcb-6c29451716ee.eot?#iefix") format("eot"),url("Fonts/ab0dc397-a22d-42cc-beb7-bf19fa4a3247.woff") format("woff"),url("Fonts/0f0830f6-1ac2-40b7-867f-6972df0942b8.ttf") format("truetype"),url("Fonts/3ac87e19-4e9f-4a77-9939-71fd8741ba77.svg#3ac87e19-4e9f-4a77-9939-71fd8741ba77") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-BlackC"; src:url("Fonts/eaf176be-8d1a-4938-a936-c4a1b29a9f6d.eot?#iefix"); src:url("Fonts/eaf176be-8d1a-4938-a936-c4a1b29a9f6d.eot?#iefix") format("eot"),url("Fonts/276f9a92-d418-46c3-adec-af917fde9a18.woff") format("woff"),url("Fonts/1505593c-c09b-40f0-a192-cfcf2f2d956e.ttf") format("truetype"),url("Fonts/597d343c-6344-4af7-9171-a1edc046a0ed.svg#597d343c-6344-4af7-9171-a1edc046a0ed") format("svg"); }
@font-face{ font-family:"Century Gothic W01"; src:url("Fonts/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix"); src:url("Fonts/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix") format("eot"),url("Fonts/9908cdad-7524-4206-819e-4f345a666324.woff") format("woff"),url("Fonts/b710c26a-f1ae-4fb8-a9fe-570fd829cbf1.ttf") format("truetype"),url("Fonts/c9e387df-c0d3-42e1-8de6-78c41f68594c.svg#c9e387df-c0d3-42e1-8de6-78c41f68594c") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-45Ligh"; src:url("Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix"); src:url("Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),url("Fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url("Fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url("Fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-46Ligh"; src:url("Fonts/a4f9f319-dec9-4afc-8b50-e18cc1b61cb4.eot?#iefix"); src:url("Fonts/a4f9f319-dec9-4afc-8b50-e18cc1b61cb4.eot?#iefix") format("eot"),url("Fonts/8e9ee02b-f337-4f13-ad6c-969d6d6536c8.woff") format("woff"),url("Fonts/beddbbc6-203e-4f36-8960-3f5ca22af567.ttf") format("truetype"),url("Fonts/af177436-d9e8-44e8-9c9c-ef2d945f20a3.svg#af177436-d9e8-44e8-9c9c-ef2d945f20a3") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-47LtCn 692686"; src:url("Fonts/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix"); src:url("Fonts/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix") format("eot"),url("Fonts/42aacb2f-222e-46f5-a95a-1c22948ee0d1.woff") format("woff"),url("Fonts/217a2f81-1e65-4924-a0d4-05ac8576f883.ttf") format("truetype"),url("Fonts/5405647d-099e-47f7-9d4a-f8692e57a206.svg#5405647d-099e-47f7-9d4a-f8692e57a206") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-47LtCn 692689"; src:url("Fonts/08bfcfa5-cfb6-462a-8047-8398a026a60e.eot?#iefix"); src:url("Fonts/08bfcfa5-cfb6-462a-8047-8398a026a60e.eot?#iefix") format("eot"),url("Fonts/aa6913f7-e674-4d61-973b-002422ac447e.woff") format("woff"),url("Fonts/857b0b99-c6b3-4ad8-a049-28506caba502.ttf") format("truetype"),url("Fonts/af9d9c5b-b4f4-4d6f-9809-26fb6a2bb794.svg#af9d9c5b-b4f4-4d6f-9809-26fb6a2bb794") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-55Roma"; src:url("Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix"); src:url("Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"),url("Fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),url("Fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"),url("Fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-56It"; src:url("Fonts/58a5cbff-d570-4c18-a5e3-60868dc07ae8.eot?#iefix"); src:url("Fonts/58a5cbff-d570-4c18-a5e3-60868dc07ae8.eot?#iefix") format("eot"),url("Fonts/2c056da8-4920-4e20-8c69-8a6b315458a9.woff") format("woff"),url("Fonts/2381d918-136d-444f-8391-db0cba6da388.ttf") format("truetype"),url("Fonts/d0697971-6f58-4597-942e-8beabd1adc87.svg#d0697971-6f58-4597-942e-8beabd1adc87") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-57Cn"; src:url("Fonts/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix"); src:url("Fonts/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix") format("eot"),url("Fonts/842088d0-1ae2-40d0-8561-3c95761ba7a6.woff") format("woff"),url("Fonts/c74505d5-13e8-47ed-94a8-630aab4da3e6.ttf") format("truetype"),url("Fonts/6cd480d1-47d0-48b4-86bd-283db2cb9235.svg#6cd480d1-47d0-48b4-86bd-283db2cb9235") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-57CnOb"; src:url("Fonts/fe7d63fc-e92b-4a46-b4f4-fd73aefeede6.eot?#iefix"); src:url("Fonts/fe7d63fc-e92b-4a46-b4f4-fd73aefeede6.eot?#iefix") format("eot"),url("Fonts/62667cf4-401a-4878-83c9-4cfabc21ac51.woff") format("woff"),url("Fonts/e7e2d460-5cf5-4bd1-b1a3-efdb8490bc94.ttf") format("truetype"),url("Fonts/b11cea27-f24b-43bf-a74f-f69ae0ef7fa7.svg#b11cea27-f24b-43bf-a74f-f69ae0ef7fa7") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-65Medi"; src:url("Fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix"); src:url("Fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"),url("Fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),url("Fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"),url("Fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-66Medi"; src:url("Fonts/71c74bc5-e7c8-48ad-9b03-43f3e6760e4e.eot?#iefix"); src:url("Fonts/71c74bc5-e7c8-48ad-9b03-43f3e6760e4e.eot?#iefix") format("eot"),url("Fonts/5f0efe11-b07a-49fc-ab86-7af6152fa368.woff") format("woff"),url("Fonts/fea58e5b-b0a7-43f7-8928-fc0639365852.ttf") format("truetype"),url("Fonts/398e1bb8-f2eb-41d5-b3b6-b9a889b52ee7.svg#398e1bb8-f2eb-41d5-b3b6-b9a889b52ee7") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-67MdCn 692710"; src:url("Fonts/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix"); src:url("Fonts/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix") format("eot"),url("Fonts/aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff") format("woff"),url("Fonts/b785b1cf-24fa-44c9-8c93-d8e2d6912c47.ttf") format("truetype"),url("Fonts/5ab0c585-fb4b-43d9-abb0-b92f452b1284.svg#5ab0c585-fb4b-43d9-abb0-b92f452b1284") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-67MdCn 692713"; src:url("Fonts/0a98bfe2-0b00-4033-8edf-4a77862a203b.eot?#iefix"); src:url("Fonts/0a98bfe2-0b00-4033-8edf-4a77862a203b.eot?#iefix") format("eot"),url("Fonts/08168171-ce66-4a8c-ae2c-720f44ea63ea.woff") format("woff"),url("Fonts/d9b14ee9-cc93-4033-894c-cb00960ace98.ttf") format("truetype"),url("Fonts/5f8c937b-8250-40b4-a74f-356cbc41ac9a.svg#5f8c937b-8250-40b4-a74f-356cbc41ac9a") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-75Bold"; src:url("Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix"); src:url("Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"),url("Fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"),url("Fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"),url("Fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-76Bold"; src:url("Fonts/9eb382e7-b9a0-4ec0-86b3-7a690b9e127b.eot?#iefix"); src:url("Fonts/9eb382e7-b9a0-4ec0-86b3-7a690b9e127b.eot?#iefix") format("eot"),url("Fonts/628a0837-f9e0-4b32-83c4-d99689b9da93.woff") format("woff"),url("Fonts/4d9ecce0-f253-49fd-8623-b0f896b12794.ttf") format("truetype"),url("Fonts/dcdd4c31-466f-43f5-85c9-9bcdcd814139.svg#dcdd4c31-466f-43f5-85c9-9bcdcd814139") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-77BdCn 692722"; src:url("Fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix"); src:url("Fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot"),url("Fonts/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"),url("Fonts/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"),url("Fonts/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-77BdCn 692725"; src:url("Fonts/da1caa74-3384-442b-9cf3-c7c71ea54b37.eot?#iefix"); src:url("Fonts/da1caa74-3384-442b-9cf3-c7c71ea54b37.eot?#iefix") format("eot"),url("Fonts/5287baae-f2f0-48f7-98bd-ec2986854951.woff") format("woff"),url("Fonts/e6ab5bf0-c0a7-4aeb-a5d0-50177e6b354b.ttf") format("truetype"),url("Fonts/38074018-c2af-4832-8ffa-02293e606fb7.svg#38074018-c2af-4832-8ffa-02293e606fb7") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-85Heav"; src:url("Fonts/bb37f770-d450-4f24-af2b-3a81bf640315.eot?#iefix"); src:url("Fonts/bb37f770-d450-4f24-af2b-3a81bf640315.eot?#iefix") format("eot"),url("Fonts/a0d9d2cb-f057-4e8d-a957-27853630f58e.woff") format("woff"),url("Fonts/54085041-5049-4b91-939c-49980c66abab.ttf") format("truetype"),url("Fonts/7a48747c-74f2-49a8-bb65-1c522d4aa618.svg#7a48747c-74f2-49a8-bb65-1c522d4aa618") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-86Heav"; src:url("Fonts/2daec1fd-cd45-448e-b86e-ec73aacdb4ec.eot?#iefix"); src:url("Fonts/2daec1fd-cd45-448e-b86e-ec73aacdb4ec.eot?#iefix") format("eot"),url("Fonts/eb32ec0b-c520-4a30-8777-e19326236901.woff") format("woff"),url("Fonts/2d92bb71-9a10-499c-954f-8b61e8dd47f1.ttf") format("truetype"),url("Fonts/e425d5b6-a4c5-4e1c-b29a-9a5b467b9645.svg#e425d5b6-a4c5-4e1c-b29a-9a5b467b9645") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-87HvCn 692734"; src:url("Fonts/3d1a3114-ffd3-4f16-99c5-0e0441676d88.eot?#iefix"); src:url("Fonts/3d1a3114-ffd3-4f16-99c5-0e0441676d88.eot?#iefix") format("eot"),url("Fonts/33bb86d1-8adf-454e-aee3-ca1c89445476.woff") format("woff"),url("Fonts/921ef834-872c-4460-ac11-f5fbcac9fa2d.ttf") format("truetype"),url("Fonts/9d3bb5f2-6932-419e-a56f-382131ffd4b8.svg#9d3bb5f2-6932-419e-a56f-382131ffd4b8") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-87HvCn 692737"; src:url("Fonts/87ddbdde-49a7-4df2-a599-8bca51a40120.eot?#iefix"); src:url("Fonts/87ddbdde-49a7-4df2-a599-8bca51a40120.eot?#iefix") format("eot"),url("Fonts/6f4f41f2-18c9-493a-9227-296fb66e26bc.woff") format("woff"),url("Fonts/ff8f917b-bb43-402a-8960-f2cce8961904.ttf") format("truetype"),url("Fonts/96f398dd-5e2b-4830-9362-0bdd7b0743f4.svg#96f398dd-5e2b-4830-9362-0bdd7b0743f4") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-95Blac"; src:url("Fonts/b26ccb58-f2e3-47aa-a83a-02861bf54862.eot?#iefix"); src:url("Fonts/b26ccb58-f2e3-47aa-a83a-02861bf54862.eot?#iefix") format("eot"),url("Fonts/74649485-cd74-443e-9d54-331ccd448900.woff") format("woff"),url("Fonts/feb77f4f-9e6b-4f88-909a-66199fd402ed.ttf") format("truetype"),url("Fonts/2e490192-e531-4236-9c55-90daaad4a34e.svg#2e490192-e531-4236-9c55-90daaad4a34e") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-97Blac"; src:url("Fonts/7d437e5f-fe70-4acd-968d-ed4beaaf6183.eot?#iefix"); src:url("Fonts/7d437e5f-fe70-4acd-968d-ed4beaaf6183.eot?#iefix") format("eot"),url("Fonts/a6949d17-6d8e-42ab-8032-2d9cb114c1b4.woff") format("woff"),url("Fonts/843152a1-f5b5-4cbf-a5d3-e9ccaccddd2a.ttf") format("truetype"),url("Fonts/0fd53488-84fc-474e-b665-23a72ffda266.svg#0fd53488-84fc-474e-b665-23a72ffda266") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-XBlkCn 710276"; src:url("Fonts/978fc490-bc85-49a5-a85d-d28703cdeb3b.eot?#iefix"); src:url("Fonts/978fc490-bc85-49a5-a85d-d28703cdeb3b.eot?#iefix") format("eot"),url("Fonts/58310d61-40ac-4464-b817-30d9e9deb3bb.woff") format("woff"),url("Fonts/96017e22-70f3-4c82-9620-352a5f107d90.ttf") format("truetype"),url("Fonts/d7282731-5798-4d1c-90ae-efbd49632898.svg#d7282731-5798-4d1c-90ae-efbd49632898") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-XBlkCn 710279"; src:url("Fonts/32e58334-5b2e-4812-a05d-01797d67a56f.eot?#iefix"); src:url("Fonts/32e58334-5b2e-4812-a05d-01797d67a56f.eot?#iefix") format("eot"),url("Fonts/57c64de9-ee40-4809-8093-d22fe6f1531f.woff") format("woff"),url("Fonts/875b83e0-53de-4643-b157-3ea90e2e634b.ttf") format("truetype"),url("Fonts/84cddb2f-a7bd-46a2-9e41-3926014b7a2e.svg#84cddb2f-a7bd-46a2-9e41-3926014b7a2e") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-UltLtE 710282"; src:url("Fonts/bcbe95be-8d20-4f56-afaf-53dfee8d3479.eot?#iefix"); src:url("Fonts/bcbe95be-8d20-4f56-afaf-53dfee8d3479.eot?#iefix") format("eot"),url("Fonts/692a13cc-6f51-41ca-86a1-6059c4c26a41.woff") format("woff"),url("Fonts/03c50cc5-2a21-4d64-aba2-214cba2ced16.ttf") format("truetype"),url("Fonts/94e2e601-6bcc-4e33-8982-bcf4fc56d4c7.svg#94e2e601-6bcc-4e33-8982-bcf4fc56d4c7") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-UltLtE 710285"; src:url("Fonts/95203e9e-6225-4ba9-89c7-45b15e7b76b9.eot?#iefix"); src:url("Fonts/95203e9e-6225-4ba9-89c7-45b15e7b76b9.eot?#iefix") format("eot"),url("Fonts/e9bd6776-6239-4d79-a8de-833de8403ffa.woff") format("woff"),url("Fonts/1eb52f6c-1922-42f8-9e86-8bbc5fec6fb3.ttf") format("truetype"),url("Fonts/cb35a5df-c1be-4265-b2cb-f134a5851510.svg#cb35a5df-c1be-4265-b2cb-f134a5851510") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-ThinEx 710288"; src:url("Fonts/a09341a0-3923-494f-8b71-9083f1123649.eot?#iefix"); src:url("Fonts/a09341a0-3923-494f-8b71-9083f1123649.eot?#iefix") format("eot"),url("Fonts/8b105f29-73d5-4373-882d-bb4323e358c0.woff") format("woff"),url("Fonts/0e820efb-cef9-4cfa-915b-3df0080e7eea.ttf") format("truetype"),url("Fonts/d3b7511e-d65a-45f9-b2a7-388ebe75ae87.svg#d3b7511e-d65a-45f9-b2a7-388ebe75ae87") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-ThinEx 710291"; src:url("Fonts/9c47b40a-52f8-46a3-8feb-beed7927d4aa.eot?#iefix"); src:url("Fonts/9c47b40a-52f8-46a3-8feb-beed7927d4aa.eot?#iefix") format("eot"),url("Fonts/4a38fa41-e7c2-48d1-8575-6e93a4a9880d.woff") format("woff"),url("Fonts/01a9c1b8-7648-4ee9-afb6-874a2f542b7b.ttf") format("truetype"),url("Fonts/234f6250-4a47-434b-855a-8307ede6100a.svg#234f6250-4a47-434b-855a-8307ede6100a") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-LtExt"; src:url("Fonts/5ba464d0-2dd1-4258-b905-fbc064b62880.eot?#iefix"); src:url("Fonts/5ba464d0-2dd1-4258-b905-fbc064b62880.eot?#iefix") format("eot"),url("Fonts/ce0ead1e-4eb1-4535-898a-b801a2313639.woff") format("woff"),url("Fonts/5b9a6f8c-0b7e-4c58-914d-e7bdfa970620.ttf") format("truetype"),url("Fonts/73d71c74-a57d-44af-96cf-031046271dab.svg#73d71c74-a57d-44af-96cf-031046271dab") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-LtExtO"; src:url("Fonts/8465964d-e6f5-4759-866b-d0c105b7bc25.eot?#iefix"); src:url("Fonts/8465964d-e6f5-4759-866b-d0c105b7bc25.eot?#iefix") format("eot"),url("Fonts/dffe5957-1502-4d32-a73e-8743d1f6c8b1.woff") format("woff"),url("Fonts/636af9a7-2b5d-43e3-87b0-e3ad13d03e2e.ttf") format("truetype"),url("Fonts/6dae9e0b-d9bd-4e71-b7cb-4cc3751f83aa.svg#6dae9e0b-d9bd-4e71-b7cb-4cc3751f83aa") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01 53 Ext"; src:url("Fonts/8fbe1c6a-a910-474d-ac42-8a2bc9249af4.eot?#iefix"); src:url("Fonts/8fbe1c6a-a910-474d-ac42-8a2bc9249af4.eot?#iefix") format("eot"),url("Fonts/f3f4b1c8-520e-4141-9f6f-8e21a2857a9c.woff") format("woff"),url("Fonts/774feb13-4351-429a-8c47-2bec5277e372.ttf") format("truetype"),url("Fonts/929a2d07-7af1-4552-aa8a-ea9a9622f0af.svg#929a2d07-7af1-4552-aa8a-ea9a9622f0af") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-ExtObl"; src:url("Fonts/498c8295-4560-40a4-96e9-88aad31fdcc3.eot?#iefix"); src:url("Fonts/498c8295-4560-40a4-96e9-88aad31fdcc3.eot?#iefix") format("eot"),url("Fonts/04790faf-ec50-42ef-b076-0cc373d87bc4.woff") format("woff"),url("Fonts/904e5780-c5f5-4be7-be5c-a356c97855e9.ttf") format("truetype"),url("Fonts/fc34bf78-285d-48c2-9a5a-3fda681f3145.svg#fc34bf78-285d-48c2-9a5a-3fda681f3145") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-MdExt"; src:url("Fonts/810b0284-a2dc-493c-ab30-f88745c2e4fd.eot?#iefix"); src:url("Fonts/810b0284-a2dc-493c-ab30-f88745c2e4fd.eot?#iefix") format("eot"),url("Fonts/6caf1719-afb6-4b59-bb74-f10b72aa79e4.woff") format("woff"),url("Fonts/96e3360b-50c6-4ef1-a799-1a85f44266f8.ttf") format("truetype"),url("Fonts/6ac28e4f-cae9-497e-bc0e-c8bdf93c9385.svg#6ac28e4f-cae9-497e-bc0e-c8bdf93c9385") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-MdExtO"; src:url("Fonts/4fed09a4-1473-4c5a-894b-21aa04177681.eot?#iefix"); src:url("Fonts/4fed09a4-1473-4c5a-894b-21aa04177681.eot?#iefix") format("eot"),url("Fonts/b515857f-6390-4f90-8b3b-865881f68272.woff") format("woff"),url("Fonts/e09179c3-9766-4895-b727-61c859a2ea55.ttf") format("truetype"),url("Fonts/b62b7951-01d1-42a0-91f9-e17df2c9cf16.svg#b62b7951-01d1-42a0-91f9-e17df2c9cf16") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-BdExt"; src:url("Fonts/7d6c3b9e-86b7-44dd-9e46-8ab30da85834.eot?#iefix"); src:url("Fonts/7d6c3b9e-86b7-44dd-9e46-8ab30da85834.eot?#iefix") format("eot"),url("Fonts/a0cf2f5e-c70c-45a8-a420-4143b3afb187.woff") format("woff"),url("Fonts/c7acfb18-afc1-4a67-a281-baa1130b7baa.ttf") format("truetype"),url("Fonts/3799441c-73d4-4e5f-8a55-456233b45f0e.svg#3799441c-73d4-4e5f-8a55-456233b45f0e") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-BdExtO"; src:url("Fonts/4bea2499-e4f1-4c20-8803-361a52271050.eot?#iefix"); src:url("Fonts/4bea2499-e4f1-4c20-8803-361a52271050.eot?#iefix") format("eot"),url("Fonts/157863ca-ef39-40fc-bb48-5e609f2786fc.woff") format("woff"),url("Fonts/5726e908-0605-4019-93c0-133681439183.ttf") format("truetype"),url("Fonts/f43f7a83-efb1-418b-9b6e-3bed321eaee1.svg#f43f7a83-efb1-418b-9b6e-3bed321eaee1") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-BdOutl"; src:url("Fonts/07cd25f5-37c7-4413-90bf-7f71fff4201d.eot?#iefix"); src:url("Fonts/07cd25f5-37c7-4413-90bf-7f71fff4201d.eot?#iefix") format("eot"),url("Fonts/242e7dbb-e29a-4b5c-89c9-ac88895aaa97.woff") format("woff"),url("Fonts/63ef5c81-7ba4-431c-9722-c3b53f1327f0.ttf") format("truetype"),url("Fonts/94954111-3cea-4dbf-8508-a74853766dfc.svg#94954111-3cea-4dbf-8508-a74853766dfc") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-HvExt"; src:url("Fonts/af7dcddf-daeb-4e4f-abfa-a4b0962181b9.eot?#iefix"); src:url("Fonts/af7dcddf-daeb-4e4f-abfa-a4b0962181b9.eot?#iefix") format("eot"),url("Fonts/e8725b2b-4b0e-462e-af9f-bc97c85ac34c.woff") format("woff"),url("Fonts/066d4561-f7a8-4015-a654-efe87079ee42.ttf") format("truetype"),url("Fonts/29e08438-cbdc-4f0f-bfa8-6627e1ecd734.svg#29e08438-cbdc-4f0f-bfa8-6627e1ecd734") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-HvExtO"; src:url("Fonts/b3aae76d-c278-49d8-9f5c-0c91c811194b.eot?#iefix"); src:url("Fonts/b3aae76d-c278-49d8-9f5c-0c91c811194b.eot?#iefix") format("eot"),url("Fonts/14af27b3-cf2a-4c5f-8523-2b60ee524a3c.woff") format("woff"),url("Fonts/b5f147e4-ef7e-466b-94fd-3a06823b07c6.ttf") format("truetype"),url("Fonts/9a6d3af4-e3cf-4603-9b94-917bf985818d.svg#9a6d3af4-e3cf-4603-9b94-917bf985818d") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-BlkExt 710327"; src:url("Fonts/4717db0f-05eb-4987-b94e-ff59e380eb92.eot?#iefix"); src:url("Fonts/4717db0f-05eb-4987-b94e-ff59e380eb92.eot?#iefix") format("eot"),url("Fonts/ffd68cca-c3c9-429f-b698-a01015e1ec7c.woff") format("woff"),url("Fonts/68441f65-0a50-473f-82e3-04ce4de7458a.ttf") format("truetype"),url("Fonts/1e66b4f9-b78f-4f71-a2cf-78a06b5511b9.svg#1e66b4f9-b78f-4f71-a2cf-78a06b5511b9") format("svg"); }
@font-face{ font-family:"HelveticaNeueW01-BlkExt 710330"; src:url("Fonts/22f4f62b-9114-42f4-a875-ce1a702eed1b.eot?#iefix"); src:url("Fonts/22f4f62b-9114-42f4-a875-ce1a702eed1b.eot?#iefix") format("eot"),url("Fonts/5014a5aa-cc04-40c5-b9e0-b3bd306fad9d.woff") format("woff"),url("Fonts/ba37db01-4a3f-4a26-b3f5-8354cc1a6263.ttf") format("truetype"),url("Fonts/0add7892-5c61-4d23-82cc-6e7c2687380d.svg#0add7892-5c61-4d23-82cc-6e7c2687380d") format("svg"); }
@font-face{ font-family:"Futura T W01 Light"; src:url("Fonts/37e2e854-2ef9-4374-8bcd-2ac043151362.eot?#iefix"); src:url("Fonts/37e2e854-2ef9-4374-8bcd-2ac043151362.eot?#iefix") format("eot"),url("Fonts/e93bbf1b-e72f-4132-bd0c-8b042c7e6de8.woff") format("woff"),url("Fonts/608406f9-ec9d-4fa9-96a2-672a8db3a927.ttf") format("truetype"),url("Fonts/95bbce7d-8a8c-4c2b-9466-3eee1f629ccf.svg#95bbce7d-8a8c-4c2b-9466-3eee1f629ccf") format("svg"); }
@font-face{ font-family:"Futura T W01 Medium"; src:url("Fonts/26dd981b-145e-46b8-98da-e100ea47f41a.eot?#iefix"); src:url("Fonts/26dd981b-145e-46b8-98da-e100ea47f41a.eot?#iefix") format("eot"),url("Fonts/57d76474-0413-4cb4-b72a-8b67ee6bb8c8.woff") format("woff"),url("Fonts/7707eb67-6df7-4818-8310-20d2ef3e7613.ttf") format("truetype"),url("Fonts/48cc44e3-327c-411b-8c90-276d74140352.svg#48cc44e3-327c-411b-8c90-276d74140352") format("svg"); }
@font-face{ font-family:"Helvetica Neue W31 Bold"; src:url("Fonts/5b26f0f2-ca2f-46e4-94bc-8492e5122f1d.eot?#iefix"); src:url("Fonts/5b26f0f2-ca2f-46e4-94bc-8492e5122f1d.eot?#iefix") format("eot"),url("Fonts/2b149e8b-4167-4121-9dba-2bdb55aeb1ba.woff") format("woff"),url("Fonts/4c69acf3-07ac-4245-ba04-dafc670f6df8.ttf") format("truetype"),url("Fonts/cbc5e8e5-6e6f-461f-a299-e6368732ed4b.svg#cbc5e8e5-6e6f-461f-a299-e6368732ed4b") format("svg"); }
@font-face{ font-family:"HelveticaNeueW31-BoldIt"; src:url("Fonts/ea3b58a3-09e7-4b36-ae91-e70b446d0315.eot?#iefix"); src:url("Fonts/ea3b58a3-09e7-4b36-ae91-e70b446d0315.eot?#iefix") format("eot"),url("Fonts/0fb03304-d0e1-4f11-8205-22a71666df92.woff") format("woff"),url("Fonts/d2a6661b-93e3-429b-b39d-67b915dcdd95.ttf") format("truetype"),url("Fonts/496e00df-185b-415f-a9d2-44c7feb05fd4.svg#496e00df-185b-415f-a9d2-44c7feb05fd4") format("svg"); }
@font-face{ font-family:"HelveticaNeueW31-Italic"; src:url("Fonts/f6c0d04c-8458-4388-8831-46d94110f934.eot?#iefix"); src:url("Fonts/f6c0d04c-8458-4388-8831-46d94110f934.eot?#iefix") format("eot"),url("Fonts/1a0b05fe-d4de-4c66-ad4c-9a6cb6f593ac.woff") format("woff"),url("Fonts/cfbdc9a4-6cd6-43c3-b579-0c4a9cbdd50e.ttf") format("truetype"),url("Fonts/92f987e2-04de-429f-8f7b-443a118189bf.svg#92f987e2-04de-429f-8f7b-443a118189bf") format("svg"); }
@font-face{ font-family:"HelveticaNeueW31-Light"; src:url("Fonts/aa774579-e37c-4440-ac7b-6982be639abd.eot?#iefix"); src:url("Fonts/aa774579-e37c-4440-ac7b-6982be639abd.eot?#iefix") format("eot"),url("Fonts/682c5dc0-2f6f-4d0b-bb7e-e3cae9793211.woff") format("woff"),url("Fonts/2e632492-a223-44ed-b38b-86cc977e73db.ttf") format("truetype"),url("Fonts/25987715-b2cf-484e-8e02-a5925400e1db.svg#25987715-b2cf-484e-8e02-a5925400e1db") format("svg"); }
@font-face{ font-family:"HelveticaNeueW31-LightI"; src:url("Fonts/9ac95c1e-53e8-4a9f-bbac-3fcea1c2302a.eot?#iefix"); src:url("Fonts/9ac95c1e-53e8-4a9f-bbac-3fcea1c2302a.eot?#iefix") format("eot"),url("Fonts/87b87d7b-ab26-4def-8ce3-0aefd29ea511.woff") format("woff"),url("Fonts/57250858-7ecb-42db-996e-19bab4dc7d2c.ttf") format("truetype"),url("Fonts/a0372047-e7df-43e9-8b2d-e708ab221e32.svg#a0372047-e7df-43e9-8b2d-e708ab221e32") format("svg"); }
@font-face{ font-family:"Helvetica Neue W31"; src:url("Fonts/badf75de-70f1-4350-adb4-4c4ad8b6382c.eot?#iefix"); src:url("Fonts/badf75de-70f1-4350-adb4-4c4ad8b6382c.eot?#iefix") format("eot"),url("Fonts/214bdd25-4f24-45f3-ae15-4ad14e3d7670.woff") format("woff"),url("Fonts/f2d4eaae-7174-4ba4-b167-5ff29de2bf6b.ttf") format("truetype"),url("Fonts/d722484c-901a-49ab-be2b-e71d114d2d2e.svg#d722484c-901a-49ab-be2b-e71d114d2d2e") format("svg"); }
@font-face{ font-family:"HelveticaNeueW82-Light"; src:url("Fonts/63c7cb4a-3b0d-4395-bce5-3fc9de5b8ca0.eot?#iefix"); src:url("Fonts/63c7cb4a-3b0d-4395-bce5-3fc9de5b8ca0.eot?#iefix") format("eot"),url("Fonts/2458848c-b5b3-458a-8386-1da6a5cbe0a5.woff") format("woff"),url("Fonts/94731069-e7c8-4192-84a6-cb13411b3424.ttf") format("truetype"),url("Fonts/3aaa6551-242a-4bb0-9f90-b6eb5d12b3fd.svg#3aaa6551-242a-4bb0-9f90-b6eb5d12b3fd") format("svg"); }
@font-face{ font-family:"HelveticaNeueW82-Regula"; src:url("Fonts/c4f99617-6511-479a-ad86-26338ac6e1e3.eot?#iefix"); src:url("Fonts/c4f99617-6511-479a-ad86-26338ac6e1e3.eot?#iefix") format("eot"),url("Fonts/8b70572a-e7aa-43f0-bdc8-795fd0cb991c.woff") format("woff"),url("Fonts/ba65abb8-7bb5-4bb2-b46a-359809a5d35d.ttf") format("truetype"),url("Fonts/f2743af0-953d-4de7-8405-8681215038af.svg#f2743af0-953d-4de7-8405-8681215038af") format("svg"); }
@font-face{ font-family:"Helvetica Neue W82 Bold"; src:url("Fonts/799a85ef-830e-45fb-bff8-c889254a1555.eot?#iefix"); src:url("Fonts/799a85ef-830e-45fb-bff8-c889254a1555.eot?#iefix") format("eot"),url("Fonts/69408a9c-ab2d-42db-bdc6-22a6b50a55f9.woff") format("woff"),url("Fonts/d46b9727-3732-4b77-a554-1bb943ffa1e6.ttf") format("truetype"),url("Fonts/d8f7ff91-c98f-4bdd-9891-208ac0703f77.svg#d8f7ff91-c98f-4bdd-9891-208ac0703f77") format("svg"); }


@font-face{
font-family:"Bauer Bodoni W01 Roman";
src:url("Fonts/80a529e3-1d54-4685-89f1-0312e7794ebe.eot?#iefix");
src:url("Fonts/80a529e3-1d54-4685-89f1-0312e7794ebe.eot?#iefix") format("eot"),url("Fonts/d6ecc835-7723-4e56-9185-050b18cdbae3.woff") format("woff"),url("Fonts/6da88198-f46a-4fd7-95d1-4970332b78db.ttf") format("truetype"),url("Fonts/afa95b52-ae4b-4a95-93bb-f7ff0f399d13.svg#afa95b52-ae4b-4a95-93bb-f7ff0f399d13") format("svg");
}
@font-face{
font-family:"FuturaBTW01-LightConden";
src:url("Fonts/828cd4fe-484b-4987-8610-c60b8664e407.eot?#iefix");
src:url("Fonts/828cd4fe-484b-4987-8610-c60b8664e407.eot?#iefix") format("eot"),url("Fonts/69ba9409-6984-4c8d-bf6d-7e0110de8bd6.woff") format("woff"),url("Fonts/ec8851b3-106b-482e-80f0-a89824e79922.ttf") format("truetype"),url("Fonts/fc73a22d-ca13-4b51-a251-7d8aa33ec140.svg#fc73a22d-ca13-4b51-a251-7d8aa33ec140") format("svg");
}
@font-face{
font-family:"BauerBodoniW01-BoldItal 795739";
src:url("Fonts/ce20c933-9545-4fff-9415-ae044ede469c.eot?#iefix");
src:url("Fonts/ce20c933-9545-4fff-9415-ae044ede469c.eot?#iefix") format("eot"),url("Fonts/e1047824-f180-4752-951d-c663d0ea53b9.woff") format("woff"),url("Fonts/930a8c93-9df8-4c5b-92f1-a08ccdcbd417.ttf") format("truetype"),url("Fonts/88a62acf-be62-4394-8169-d2b319b4e13d.svg#88a62acf-be62-4394-8169-d2b319b4e13d") format("svg");
}
@font-face{
font-family:"FuturaBTW01-MediumConde";
src:url("Fonts/d7b7328c-23d0-4f6c-98be-3a7611181175.eot?#iefix");
src:url("Fonts/d7b7328c-23d0-4f6c-98be-3a7611181175.eot?#iefix") format("eot"),url("Fonts/5731186c-06a5-4d3d-af89-62be92328ac3.woff") format("woff"),url("Fonts/664e9ca7-e8dc-4bb2-a495-b944c8c0c2cd.ttf") format("truetype"),url("Fonts/9651240a-4edc-45eb-9498-c6b5f894e53a.svg#9651240a-4edc-45eb-9498-c6b5f894e53a") format("svg");
}
@font-face{
font-family:"Bauer Bodoni W01 Black";
src:url("Fonts/915ad3e2-adf1-4909-8055-b3f942a26443.eot?#iefix");
src:url("Fonts/915ad3e2-adf1-4909-8055-b3f942a26443.eot?#iefix") format("eot"),url("Fonts/67f6e57e-3d47-4e01-8e0c-248078b19e60.woff") format("woff"),url("Fonts/36c78417-ec70-4757-8631-9b6b89af72e4.ttf") format("truetype"),url("Fonts/a30710ef-31b8-45d4-9111-2d8c510dcd94.svg#a30710ef-31b8-45d4-9111-2d8c510dcd94") format("svg");
}
@font-face{
font-family:"Bauer Bodoni W01 Italic";
src:url("Fonts/0d956984-1d14-4bf5-bfbd-24047fe105f0.eot?#iefix");
src:url("Fonts/0d956984-1d14-4bf5-bfbd-24047fe105f0.eot?#iefix") format("eot"),url("Fonts/47cb918f-38fe-4009-ae12-16659f98a1eb.woff") format("woff"),url("Fonts/37942b37-f74a-4adf-91a0-6866ad671859.ttf") format("truetype"),url("Fonts/1aa79473-3e74-468a-a0fe-f575dea12203.svg#1aa79473-3e74-468a-a0fe-f575dea12203") format("svg");
}

@font-face {
font-family: 'Bembo';
src: url('Fonts/3056D5_0_0.eot');
src: url('Fonts/3056D5_0_0.eot?#iefix') format('embedded-opentype'),url('Fonts/3056D5_0_0.woff2') format('woff2'),url('Fonts/3056D5_0_0.woff') format('woff'),url('Fonts/3056D5_0_0.ttf') format('truetype');
}

@font-face{
font-family:"FuturaBTW01-BoldCondens";
src:url("Fonts/cb144bff-f067-4682-88a0-ee9439663505.eot?#iefix");
src:url("Fonts/cb144bff-f067-4682-88a0-ee9439663505.eot?#iefix") format("eot"),url("Fonts/f220a492-5dfc-4156-ac87-e8eda2daee7f.woff") format("woff"),url("Fonts/ccc51004-de59-4d92-9595-2c67bf8df2e1.ttf") format("truetype"),url("Fonts/c051f6d2-c18a-4a5a-8922-a5d0af298203.svg#c051f6d2-c18a-4a5a-8922-a5d0af298203") format("svg");
}
@font-face{
font-family:"BauerBodoniW01-BoldCn";
src:url("Fonts/4186fefb-3fa1-4895-80b3-e5feae49e093.eot?#iefix");
src:url("Fonts/4186fefb-3fa1-4895-80b3-e5feae49e093.eot?#iefix") format("eot"),url("Fonts/05b93974-3a12-44c8-bb9c-01030db08f0f.woff") format("woff"),url("Fonts/479055d2-ae27-4fe9-b177-42aed92e334c.ttf") format("truetype"),url("Fonts/af56c22a-62f4-42f6-9194-1bb213a03cba.svg#af56c22a-62f4-42f6-9194-1bb213a03cba") format("svg");
}
@font-face{
font-family:"Bauer Bodoni W01 Bold 795736";
src:url("Fonts/2c573ee6-6830-45a3-87e3-fa5a4a7ee541.eot?#iefix");
src:url("Fonts/2c573ee6-6830-45a3-87e3-fa5a4a7ee541.eot?#iefix") format("eot"),url("Fonts/129e8e29-2c42-402c-bdbb-0b73b347ee4b.woff") format("woff"),url("Fonts/93bc0edb-b4d4-4222-a1d6-ec2b6c3f3f3c.ttf") format("truetype"),url("Fonts/bb0b3949-bbeb-475c-aaed-73ed6b2e6a99.svg#bb0b3949-bbeb-475c-aaed-73ed6b2e6a99") format("svg");
}
@font-face{
font-family:"FuturaBTW01-ExtraBlackI";
src:url("Fonts/954caafd-476b-4a5c-8d4b-9e1b3089ec71.eot?#iefix");
src:url("Fonts/954caafd-476b-4a5c-8d4b-9e1b3089ec71.eot?#iefix") format("eot"),url("Fonts/7ef6a219-440f-4a86-9f91-750d941a4b97.woff") format("woff"),url("Fonts/ed4fd9ba-fc34-4bac-881b-95c1a77cbe7c.ttf") format("truetype"),url("Fonts/f33f335c-7785-499b-b2b9-e29b210b1ac4.svg#f33f335c-7785-499b-b2b9-e29b210b1ac4") format("svg");
}
@font-face{
font-family:"BauerBodoniW01-BlackCn";
src:url("Fonts/74a867e9-210c-4dff-b85b-5a9e8bbaa548.eot?#iefix");
src:url("Fonts/74a867e9-210c-4dff-b85b-5a9e8bbaa548.eot?#iefix") format("eot"),url("Fonts/4e504087-034b-47c8-adbd-67b2da75d692.woff") format("woff"),url("Fonts/3e73b73e-c6d3-469c-8af9-5ef7fdd38179.ttf") format("truetype"),url("Fonts/a5869585-815e-473a-9bb8-c59aa7c05206.svg#a5869585-815e-473a-9bb8-c59aa7c05206") format("svg");
}
@font-face{
font-family:"Futura BT W01 Book";
src:url("Fonts/17fe4ab4-6e45-4ea2-bb53-2123063911c3.eot?#iefix");
src:url("Fonts/17fe4ab4-6e45-4ea2-bb53-2123063911c3.eot?#iefix") format("eot"),url("Fonts/142b09e6-c245-4ff7-b01c-325fa824c99e.woff") format("woff"),url("Fonts/e4509cd4-7aa0-4068-89bd-95ffd0bfb6d4.ttf") format("truetype"),url("Fonts/d37fcd2f-d43f-4eae-b192-c48028c02797.svg#d37fcd2f-d43f-4eae-b192-c48028c02797") format("svg");
}
@font-face{
font-family:"Futura BT W01 Medium";
src:url("Fonts/7ed1bebb-81a9-4c57-9513-f0538c1b83fc.eot?#iefix");
src:url("Fonts/7ed1bebb-81a9-4c57-9513-f0538c1b83fc.eot?#iefix") format("eot"),url("Fonts/ddc0f223-a296-451a-8681-ad80508eb419.woff") format("woff"),url("Fonts/c18fc865-7a4e-45d9-bbb0-4e4553cc4136.ttf") format("truetype"),url("Fonts/71710047-b807-47eb-9874-7db8f4904492.svg#71710047-b807-47eb-9874-7db8f4904492") format("svg");
}
@font-face{
font-family:"FuturaBTW01-ExtraBlack";
src:url("Fonts/4dd9aefd-0ca6-4be5-a94d-c0ca3147d644.eot?#iefix");
src:url("Fonts/4dd9aefd-0ca6-4be5-a94d-c0ca3147d644.eot?#iefix") format("eot"),url("Fonts/d7331c48-36b5-47b2-94c2-a93dab022bea.woff") format("woff"),url("Fonts/b97c5578-ea02-4f6e-a90f-1696f2815211.ttf") format("truetype"),url("Fonts/5847aa14-0a43-4e67-ade1-04e3a3d8edfb.svg#5847aa14-0a43-4e67-ade1-04e3a3d8edfb") format("svg");
}
@font-face{
font-family:"FuturaBTW01-CdXBlack";
src:url("Fonts/eef4f73a-6e42-459c-959b-483f49a458d9.eot?#iefix");
src:url("Fonts/eef4f73a-6e42-459c-959b-483f49a458d9.eot?#iefix") format("eot"),url("Fonts/54b55254-95c5-4bd1-9241-f15925484dff.woff") format("woff"),url("Fonts/5eedaf18-948f-4919-aa13-129e300d4c01.ttf") format("truetype"),url("Fonts/7fb80f7a-9b0f-4104-b7c4-36512be97bad.svg#7fb80f7a-9b0f-4104-b7c4-36512be97bad") format("svg");
}
@font-face{
font-family:"BauerBodoniW01-BlackIta";
src:url("Fonts/f5650444-5085-482f-95c4-fed344d7b399.eot?#iefix");
src:url("Fonts/f5650444-5085-482f-95c4-fed344d7b399.eot?#iefix") format("eot"),url("Fonts/2e0c0536-949e-4b3a-a465-e562cf02d60b.woff") format("woff"),url("Fonts/f5de218c-65fe-4f39-b133-0f871722bfa5.ttf") format("truetype"),url("Fonts/be1fbad4-abf5-49be-a8ce-a23bc83cac9b.svg#be1fbad4-abf5-49be-a8ce-a23bc83cac9b") format("svg");
}
@font-face{
font-family:"FuturaBTW01-CdXBlackIta";
src:url("Fonts/8a4feb6b-0a04-4aa3-8fc0-f29c7312c5df.eot?#iefix");
src:url("Fonts/8a4feb6b-0a04-4aa3-8fc0-f29c7312c5df.eot?#iefix") format("eot"),url("Fonts/6d47cbba-87ac-48b7-be9b-dc5e22ad8d13.woff") format("woff"),url("Fonts/3dcd1f15-6689-4912-a15d-971537bebf3c.ttf") format("truetype"),url("Fonts/2448b7c0-a87b-4af3-9190-42fec14b859e.svg#2448b7c0-a87b-4af3-9190-42fec14b859e") format("svg");
}
@font-face{
font-family:"FuturaBTW01-BoldItalicC";
src:url("Fonts/fa1b88c4-53c9-4d99-bf35-2096d7d2e791.eot?#iefix");
src:url("Fonts/fa1b88c4-53c9-4d99-bf35-2096d7d2e791.eot?#iefix") format("eot"),url("Fonts/d4936c75-1899-43ed-a3d0-a9cd5372b441.woff") format("woff"),url("Fonts/efa4dfae-051b-4b12-9aa9-aca1f59a52a7.ttf") format("truetype"),url("Fonts/bebc5d51-5bd4-484b-921c-182b69329fbb.svg#bebc5d51-5bd4-484b-921c-182b69329fbb") format("svg");
}
@font-face{
font-family:"Futura BT W01 Heavy";
src:url("Fonts/0084b2cc-4014-4723-9304-027c2d0086cd.eot?#iefix");
src:url("Fonts/0084b2cc-4014-4723-9304-027c2d0086cd.eot?#iefix") format("eot"),url("Fonts/4603b58c-e92d-40e1-a670-1063cdca453b.woff") format("woff"),url("Fonts/67b08d64-f836-4b99-ac05-4b1c2e05a949.ttf") format("truetype"),url("Fonts/a5f12249-079e-42a0-95bc-27ad0164deb9.svg#a5f12249-079e-42a0-95bc-27ad0164deb9") format("svg");
}
@font-face{
font-family:"FuturaBTW01-HeavyItalic";
src:url("Fonts/7397ef17-e8af-422a-8628-20c56b6f4164.eot?#iefix");
src:url("Fonts/7397ef17-e8af-422a-8628-20c56b6f4164.eot?#iefix") format("eot"),url("Fonts/9c22473f-1cdc-45af-91bc-009679d78ea0.woff") format("woff"),url("Fonts/58d62891-31fe-4e33-a049-c30505c1e98d.ttf") format("truetype"),url("Fonts/b13f5171-3607-40bb-8c06-412266037103.svg#b13f5171-3607-40bb-8c06-412266037103") format("svg");
}
@font-face{
font-family:"FuturaBTW01-BookItalic";
src:url("Fonts/2e6cfa9e-fbb1-41ae-865f-1a1b7e472cdc.eot?#iefix");
src:url("Fonts/2e6cfa9e-fbb1-41ae-865f-1a1b7e472cdc.eot?#iefix") format("eot"),url("Fonts/34962837-192c-48f0-bd43-5bf8f325f09f.woff") format("woff"),url("Fonts/4fdf6f8e-9073-43e6-a953-6bb368860c9e.ttf") format("truetype"),url("Fonts/4cf8ca6d-6004-4831-b4a5-efd8f58a9249.svg#4cf8ca6d-6004-4831-b4a5-efd8f58a9249") format("svg");
}
@font-face{
font-family:"Futura BT W01 Light";
src:url("Fonts/bf74a9d0-0954-467f-abf2-269d642a34e6.eot?#iefix");
src:url("Fonts/bf74a9d0-0954-467f-abf2-269d642a34e6.eot?#iefix") format("eot"),url("Fonts/bb6e42eb-bc30-4c8a-b4ee-bdba1631f178.woff") format("woff"),url("Fonts/7c212380-c01a-48df-b253-606f78f6c4db.ttf") format("truetype"),url("Fonts/a585fe69-b36b-45e2-ab89-5f0fb2f702e4.svg#a585fe69-b36b-45e2-ab89-5f0fb2f702e4") format("svg");
}
@font-face{
font-family:"FuturaBTW01-MediumItali";
src:url("Fonts/80aeba20-efa4-4aea-9dff-fe3d6e9b25db.eot?#iefix");
src:url("Fonts/80aeba20-efa4-4aea-9dff-fe3d6e9b25db.eot?#iefix") format("eot"),url("Fonts/b25a4ccb-ae7a-4b19-85fc-f4ca88c5cd26.woff") format("woff"),url("Fonts/9ef2e85e-4a0e-4825-8f02-a2b708f8c6e7.ttf") format("truetype"),url("Fonts/af8eb763-2580-4c12-831c-6a1e9093df52.svg#af8eb763-2580-4c12-831c-6a1e9093df52") format("svg");
}
@font-face{
font-family:"FuturaBTW01-LightItalic";
src:url("Fonts/4263004d-f836-4bd8-ac24-154d91379c6a.eot?#iefix");
src:url("Fonts/4263004d-f836-4bd8-ac24-154d91379c6a.eot?#iefix") format("eot"),url("Fonts/f3a29921-2598-4736-8d53-8245538e34d8.woff") format("woff"),url("Fonts/61367821-83d1-4768-9cd3-16a1d71e6e9a.ttf") format("truetype"),url("Fonts/469d02e0-4e47-4110-8061-1a8bd3e61cf9.svg#469d02e0-4e47-4110-8061-1a8bd3e61cf9") format("svg");
}
@font-face{
font-family:"FuturaBTW01-BoldItalic";
src:url("Fonts/18951f5e-5d2c-4b6c-958c-2da4c00c3ad7.eot?#iefix");
src:url("Fonts/18951f5e-5d2c-4b6c-958c-2da4c00c3ad7.eot?#iefix") format("eot"),url("Fonts/8badd371-f1d8-4c51-8541-8613b344b66d.woff") format("woff"),url("Fonts/12ae2064-24d9-471d-b666-13830ada754e.ttf") format("truetype"),url("Fonts/cdaded8c-3e0d-409c-b604-a4b481e59168.svg#cdaded8c-3e0d-409c-b604-a4b481e59168") format("svg");
}
@font-face{
font-family:"Futura BT W01 Bold";
src:url("Fonts/63107fe9-e6e4-4922-aed4-736f170601c8.eot?#iefix");
src:url("Fonts/63107fe9-e6e4-4922-aed4-736f170601c8.eot?#iefix") format("eot"),url("Fonts/970a093d-098a-4d5b-b6f0-c2d682e95d80.woff") format("woff"),url("Fonts/7c099bd1-482c-4c64-a5d3-9b934633ab10.ttf") format("truetype"),url("Fonts/8035e4db-50ea-40ea-b561-a085035ef25e.svg#8035e4db-50ea-40ea-b561-a085035ef25e") format("svg");
}
@font-face{
font-family:"Lulo W00 Outline";
src:url("Fonts/8ceab811-89e9-4cb7-88fd-52934153623b.eot?#iefix");
src:url("Fonts/8ceab811-89e9-4cb7-88fd-52934153623b.eot?#iefix") format("eot"),url("Fonts/da3b341b-a08b-4fb9-850b-01f55561088f.woff") format("woff"),url("Fonts/ecb3d771-21e8-4d62-8f59-de20d321aaeb.ttf") format("truetype"),url("Fonts/07be20ec-336b-4129-8f1c-e0e172650630.svg#07be20ec-336b-4129-8f1c-e0e172650630") format("svg");
}
@font-face{
font-family:"Natural Script W00 Regular";
src:url("Fonts/3cc5cf8c-cbd9-4207-9feb-f0b6e6a5cd2d.eot?#iefix");
src:url("Fonts/3cc5cf8c-cbd9-4207-9feb-f0b6e6a5cd2d.eot?#iefix") format("eot"),url("Fonts/a8a71063-f71e-4026-b9b8-915c34256bf4.woff") format("woff"),url("Fonts/12c6a6b0-b50d-48d2-bc96-f4d2fd322434.ttf") format("truetype"),url("Fonts/3e4bc75f-7812-4307-9322-967a0851ec27.svg#3e4bc75f-7812-4307-9322-967a0851ec27") format("svg");
}
@font-face{
font-family:"Bauer Bodoni W01SC Rm SC";
src:url("Fonts/698ac5f2-fedd-4af1-b603-5f17cfe051c2.eot?#iefix");
src:url("Fonts/698ac5f2-fedd-4af1-b603-5f17cfe051c2.eot?#iefix") format("eot"),url("Fonts/0554ce71-d74f-4cfc-9d57-54da29798812.woff") format("woff"),url("Fonts/f1b0526e-ac70-4e68-a04e-5547b794c36d.ttf") format("truetype"),url("Fonts/fd9fc344-3301-4950-be88-1ea5ccff9b5e.svg#fd9fc344-3301-4950-be88-1ea5ccff9b5e") format("svg");
}
