.clear {clear:both;float:none;}
.seo-title {display:none;}
.products-video {
    position: relative;
    left: 80px;
    width: 640px;
    height: 360px;
}
.video {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    width: 640px;
    height: 360px;
}
.product-video {
    position: absolute;
    top: 40px;
    left: 40px;
    display: none;
    width: 150.0px;
    min-height: 85px;
    background-color: #dddddd;
    border: 2px solid #B3B2B2;
}
.product-listing-1x4.category-recommendations {
    background: none;
}
.product-listing-1x4.category-recommendations .product-tile {
    height: 280px !important;
}
.refinement ul.Farbe li a {
    height: 23px;
    padding: 0;
    text-indent: -999em;
    width: 30px;
}
.wizard {
    width: 960px;
    padding-left:0;
}
.category-image {
 text-align:center;
}
.restart-product-wizard {
    margin-left: 20px;
    margin-bottom: 20px;
}
.restart-product-wizard a.mover {
    position: relative;
}
.language-selector {
    position: absolute;
    left: 0;
    right: 0;
    width: 300px;
}
.ui-tabs {
    zoom: 1;
    z-index: 1
}
.ui-tabs .ui-tabs-nav li.ui-state-active a {color:#ec008c;}
.ui-tabs .answers li {list-style-type:none;width:50%;float:left;height:250px;text-align:center;font-size:1.2em;}
.ui-tabs .answers li label {font-size:1.1em;font-weight:normal;padding:0;text-align:center;}
.ui-tabs .answers li input {margin:0.5em 2% 0 2%;}
.answer-image {margin-bottom:15px;}
.ui-tabs .ui-tabs-nav {
float:left;
}
.ui-tabs .ui-tabs-nav li {
background:none;
border:none;
font-style:normal;
margin:0;
}
.question-nav {
	margin:20px auto 0 auto;
	width:205px;
}
ul.answers {padding-left:0;display:table;}
ul.answers li {display: table-cell;vertical-align:bottom;}
h3.questions-heading {
	float:left;
	font-weight: normal;
    font-size: 1em;
    line-height: 1.3em;
    margin: 5px 20px 5px 0;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    display: block;
    text-align: center;
    font-size: 16px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {

}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}
.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel {
    padding: 20px;
    border:none;
    box-shadow:none;
}
.ui-tabs .ui-tabs-hide {
    display: none !important;
}
a.mover {
    color:#000;
    text-decoration: underline;
    text-transform:uppercase;
    font-size:1.2em;
}
.mover-container {width:100%;text-align:center;}
.next-tab {
    bottom: 0;
    right: 0;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}
.prev-tab {
    bottom: 0;
    left: 0;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}
.ui-tabs label {
    display: inline;
    float: none;
}
.ui-tabs #search_wizard {
    bottom: 0;
    right: 0;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}