	.button-fancy-small, .button-fancy-medium, .button-fancy-large {
		background: #ea0c8b;
		color:#FFFFFF !important;
		font-weight: 400;
		text-transform: uppercase; 
		padding: .5em 1em; 
		border: none;
	}
	.form-row .button-fancy-small, .form-row .button-fancy-medium, .form-row .button-fancy-large {
		width: auto;
	}
	legend {
		background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top #EFEFEF;
		border-bottom: 1em solid #FFFFFF;
		font-size: .875em;
		font-weight: 700;
		margin: 0;
		padding: .875em 2%;
		position: relative;
		text-transform: uppercase;
		width: 96%;
		display: block;
	}
	input[type="text"],input[type="number"],input[type="tel"],input[type="password"],textarea {
		padding: 0.7em 0.5em;
		text-indent: 0;
		width: 49.5966%;
		margin-left: 0;
		margin-bottom: 10px;
	}
	#dwfrm_singleshipping_shippingAddress select {
		text-indent: 0;
		margin-left: 0;
		margin-bottom: 10px;
		width: 51.6% !important;
	}
	.with-helper-text {
		margin-top: -64px;
		display: none;
	}
	.primary-content h1,#secondary h1, #secondary h2.heading {
		font-size: 1.2em;
		font-style: normal;
		font-weight: 700;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	.section-header {
		font-size: .875em !important;
		font-weight: 700;
		margin: 0;
		padding: .875em;
		position: relative;
		text-transform: uppercase;
		color: #ea0c8b;
		padding-bottom: 30px;
		border-bottom: 1px #ea0c8b solid;
	}
	.js .mini-cart-product {
		position: relative;
		border-bottom: 1px #ea0c8b solid;
	}
	.checkout-progress-indicator {
		overflow: hidden;
		right: 0;
		text-align: left;
		top: 22px;
		padding-bottom: 30px;
		border-bottom: 1px #ea0c8b solid;
		position: unset;
	}
	.checkout-progress-indicator div {
		display: inline;
		padding: 0 0 0 10px;
		margin-right: 15px;
	}
	.checkout-progress-indicator .active {
		font-weight: 700;
		padding-left: 0;
		border-bottom: 3px #ea0c8b solid;
		padding-bottom: 10px;
	}
	#is-gift-yes + label, #is-gift-no + label {
	width: 5%;
	}
	#secondary.nav.summary {
		margin-top: 57px;
	}
	#showSignIn {
    border: none;
    color: white;
    background: #ea0c8b;
    padding: 5px 50px;
    text-transform: uppercase;
	}
	fieldset {
		text-align: center;
	}
	#autocomplete {
		margin-bottom: 15px;
	}
	.radioLabel {
		text-align: left;
		line-height: 150%;
	}
	#dwfrm_checkoutemail_emailAddress, #dwfrm_singleshipping_shippingAddress_addressFields_phone{
		display: block;
        margin: auto;
        margin-bottom: 10px;
	}
	.radioHolder.group {
		width: 49.5966%;
		display: inline-block;
	}
	.addressTwoRadio, .addressCustomRadio {
		margin-right: 5px;
	}
	div.form-row {
		width: 49.5966%;
		display: inline-block;
	}
	#fieldset1 {
		display: flex;
	}
	div.step-1.inactive, div.step-2.inactive, div.step-3.inactive {
		opacity: 0.5;
	}
	#addressform label {
		display: none;
	}
	div.form-row.gift-message-text {
	    display: block;
	    margin: auto;
	}
	#dwfrm_singleshipping_shippingAddress_addressFields_states_state.input-select.required {
	    position: unset !important;
	    opacity: 1 !important;
	    height: auto !important;
	    width: 51.9% !important;
	}
	#dwfrm_singleshipping_shippingAddress_addressFields_country {
	    width: 100% !important;
	}
	div.form-row.required {
	    display: block;
        margin: auto;
        width: 100%;
	}
	.form-field-tooltip {
	    display: none;
	}
	#dwfrm_login_username_d0kepltrjprl, #dwfrm_login_password {
	    padding: 0.7em 0.5em;
        text-indent: 0;
        width: 51.5966%;
        margin: auto;
        margin-bottom: 10px;
        display: block;
	}
	div.form-row.form-row-button button {
	    background: #ea0c8b;
	    color: white;
	    border: none;
	}
	a#newShipping span {
	    color: black;
        background: white;
        border: 1px black solid;
        padding: 2px 5px
	}
	.payment-method-select {
	    width: 30%;
	    padding-right: 10px;
	    display: inline-block;
	    vertical-align: top;
	}
	#dwfrm_billing select {
	    margin-left: 0;
	    margin-bottom: 10px;
	    width: 51.6%;
	}
	#dwfrm_billing select#dwfrm_billing_paymentMethods_creditCard_month, #dwfrm_billing select#dwfrm_billing_paymentMethods_creditCard_year {
	    width: 100%;
	}
	label.label {
	    display: none;
	}
	#card-info-wrapper {
	    display: block;
	    width: 51.5966%;
	    margin: auto;
	}
	span.form-label-text {
	    display: block;
	    width: 100%;
	    margin-left: 24.5%;
	    padding-bottom: 10px;
	}
	#dwfrm_billing_paymentMethods_creditCard_cvn {
	    width: 100%;
	    padding: 0;
	    padding-left: 5px;
	    height: 34px;
	}
	fieldset div.group {
	    display: none;
	}
	div.form-row.form-row-button {
	    text-align: center;
	}
	.label-above label, .label-inline label, .label-above .form-caption, .form-caption, .login-box-content label {
	    line-height: 260%;
	    display: inline;
	    margin-right: 100px;
	}
	.pt_checkout .form-indent, .pt_account .form-indent, .form-indent, .char-count {
	    margin-left: 0;
	}
