@media screen and (max-width:749px) {
.tablet, .desktop{display: none !important;}
.mobile{display: block;}
	
.mobileOnly {
	display: block;
}
.desktopOnly {
	display: none;
}
ul.level-1 li{
    display: block;
    margin: 0;
    
}

	.sticky {
	    position: inherit;
	    width: 100%;
	}
	.payment-method input[type="number"]#dwfrm_billing_paymentMethods_creditCard_number {
		margin-left:0;
		width:95%;
	}
	ul.level-1 {
		display: block;
	}
	.payment-method .month, .payment-method .year, .payment-method .day {
	    clear: none;
	    float: left;
	    margin-left: 0;
	}
	#dwfrm_singleshipping_shippingAddress select {
		text-indent: 0;
	    margin: 0;
	    height: 3em;
	    padding: 0.666667em 0.3em;
	    width: 100%;
	}
	#dwfrm_billing select {
		text-indent: 0;
	    margin: 0;
	    height: 3em;
	    padding: 0.666667em 0.3em;
	    width: 100%;
	}
	.breadcrumb{font-size:.75em;line-height:150%;margin:15px 0 10px;padding:0 1.83333em; text-transform: lowercase;}
	.header-search button.search-toggle-btn {display:none !important;}
	.gift-certificate-purchase .gcThumbNails {
		width: 80%;
	}	
	/* Stop mobile font-size adjustments */
    /* ------------------------------------- */
    body {-webkit-text-size-adjust: none;}

    /* Ensure no content extends beyond page wrapper */
    /* ------------------------------------- */
    div,img {max-width:100%}
    td {padding: .7em .3em;}
    #main {border: none; margin-bottom: 0; padding-top: 0 !important}
   
    .primary-content > p{padding-left: 4%;}

    /* Adjust the forms to be more mobile-friendly */
    /* ------------------------------------- */
    .pdp-main .product-primary-image h2 { display: none; }
    .form-row-button {margin-left:0;}
    .pt_customer-service .form-row-button { width: auto;}
    .ui-dialog .form-row-button {margin: 0 auto; width: 260px;}
    .form-label-text {
	    display: block;
	    float: left;
	    margin: 2% 2% 2% 0;
	    width: 100%;
	}
	    div.cvn input {
	    float: left;
	    margin-left: 0;
	    margin-right: 1%;
	}
	.form-caption{margin: 0 1%;}
    .login-box-content input[type="text"], .form-inline .form-row {width: 90%;}
    .form-inline .form-row{margin: 10px 4% 0 4%;}
    .login-box-content input[type="password"]{
    	width: 95%;
    	font-family: 'Futura BT W01 Book';
    	backgroumnd: transparent;
   		box-shadow: none;
    	-moz-box-shadow: none;
    	-webkit-box-shadow: none;
    	-webkit-appearance: none;
    	border-radius: 0;
    	border: 1px solid #DBD5CD;
    }
    .form-inline label {padding:0;}
    .form-inline button {width: 50% !important;}
    .form-indent, .pt_checkout .form-indent{margin-left:2%;}
    legend {padding: 14px 30% 10px 2%; width: 68%;}
    .form-field-tooltip {display:none;}

	form[name='simpleSearch']{ position: inherit}
	#search-suggestions { top: 152px !important; width: 100% }
	.product-suggestion .product-image img { width: auto }
	.search-suggestion-wrapper { max-height: 500px; -webkit-overflow-scrolling: touch }
	.search-input-expanded, #q{
	    	opacity: 1 !important;
	    	margin: 0px 10px 1px 0px;
	    	width: 80%;
	    	font-family: 'Futura BT W01 Book';
	    	background: transparent;
	   		box-shadow: none;
	    	-moz-box-shadow: none;
	    	-webkit-box-shadow: none;
	    	-webkit-appearance: none;
	    	border-radius: 0;
	    }

    .select-address{padding:0;}
    .form-row select, .form-row input[type="text"]{margin:0; border: 1px solid #DBD5CD;}
    .form-row select{width: 100%;}
    .form-row input[type="text"], .form-row textarea{
    	width: 95%;
    	backgroumnd: transparent;
    	box-shadow: none;
    	-moz-box-shadow: none;
    	-webkit-box-shadow: none;
    	-webkit-appearance: none;
    	border-radius: 0;
    }
    .form-row textarea, #send-to-friend-main .char-count{margin: 0;}
	.checkout-mini-cart{ max-height:inherit; }
	#send-to-friend-main .form-indent { margin-left: 0; width: 95%;}
    .form-caption { display: block; margin: 1% 0 1% 0; float: left;}
    .pt_gift-registry .form-row select{width: 98.5%;}
    .pt_wish-list .form-row select{width: 95%;}
    .pt_wish-list .form-row.label-above{padding: 0 4%;}

    /* Primary page regions: remove padding, update width */
    /* ------------------------------------- */
    .print-page, .size-chart-link, a.tooltip, #tooltip {display:none !important;}
    .tooltip {font-size:.9em;}
    .form-field-tooltip {float:none;margin:0 0 10px 5px;width:auto;}
    .ui-dialog {
    	max-width:90%; 
    	margin-left: 3%; 
    	font-family: 'Futura T W01 Normal', Arial, sans-serif; 
    	padding-bottom: 15px; 
    	padding-left: 12px;
    	}
    .ui-dialog .ui-dialog-content {height: auto !important; overflow: visible;}
    .ui-dialog h1 {
		position: absolute; 
		top: -31px; 
		font-family: 'Futura T W01 Light', Arial, sans-serif; 
		font-weight: 700; 
		font-style: normal; 
		text-transform: uppercase;
		line-height: 110%;
		margin-right: 50px; 
		font-size: 1.2em;
	}
	.ui-dialog .ui-widget-header { background: none; }
	
	.ui-dialog .ui-dialog-title, .refinements-container, .clear-refinement, .pt_product-search-noresult .no-hits-footer { display: none; }
	
	.ui-dialog #dialog-container p {
		margin: 25px 0 0 0; 
		text-transform: lowercase; 
		font-family: 'Futura T W01 Light', Arial, sans-serif; 
		line-height: 100%; 
	}
	.ui-dialog #dialog-container #PasswordResetForm label {
		margin-top: -15px;
		margin-bottom: 5px; 
		font-weight: 400;
	}
	.ui-dialog #dialog-container #PasswordResetForm label span {
		text-transform: uppercase; 	
	}
	
	.ui-dialog #dialog-container #PasswordResetForm button {
		background: #000; 
		text-transform: uppercase; 
		font-family: 'Futura T W01 Light', Arial, sans-serif;
		color: white; 
		border: none;
		padding: 0.45em 2.5em; 
		font-size: 0.95em; 
		outline: none;
	
	}
	.ui-dialog #dwfrm_requestpassword_email {
		font-size: 1.3em; 
		padding: 0.3em 0.5em; 
		font-family: 'Futura T W01 Light', Arial, sans-serif;
		width: 90%;
	}
	.ui-dialog .required-indicator {
		font: normal 1em/150% 'Futura T W01 Normal', Arial, sans-serif; 		
	}
	
	.ui-dialog .ui-dialog-titlebar-close {
		height: 30px;
		width: 30px; 
		top: 4px; 
		right: 0px; 
	}
    #wrapper{border:0; max-width:100%; min-width:320px; width:100%;}
    #primary{background:none;border:0 !important;float:none;margin:0;padding-left:0 !important; padding-bottom: 0; width:100% !important;}
    #secondary{border:0;float:none;font-size: 1.1em; width:100% !important;}
    .pt_product-search-result #secondary.refinements{padding: 0;}
    
    #secondary .filterToggle,
    #secondary .refinementToggle{
   	    position: absolute;
	    right: 8px;
	    top: 8px;
	    height: 25px;
	    width: 25px;
      	background: url('../images/responsive-redesign-sprites/mobile-spritesheet.png') no-repeat;
  		background-position: -23px -1px;
  		cursor: pointer;
  		padding: 0;
    }
    
    #secondary .refinementToggle{
    	background-position: -167px -1px;
    }
    
    #secondary .filterToggleOpen{
  		background-position: 4px 5px;
    }
    
    #secondary .refinementToggleOpen{
  		background-position: -141px -1px;
    }

    .category-header{border-bottom: 1px solid #9F9F9F;}
    .slot-grid-header{margin: 0; padding-bottom: 10px;}
    
    #secondary .refinement {border-bottom: 1px solid #9F9F9F; width: 100%;}
    .pt_product-search-noresult .refinement{border-bottom: none;}
    .refinement ul{width: 80%; padding: 0 7px 5% 5%; display: none; max-height: none;}
    .pt_product-search-noresult .refinement ul{display: block;}
    .refinement ul li{width: 100%; }
    #secondary .refinement ul li a{
    	font: 0.8125em/150% 'Futura BT W01 Book', Arial, sans-serif; 
    	color: #777777;
    	background: none;
    	position: relative; 
    	padding-left:1.6em;
    }
    
    span.refinementSelected {
    	height: 20px;
    	width: 15px;
    	background: url('../images/responsive-redesign-sprites/mobile-spritesheet.png') no-repeat;
  		background-position: -80px 0px;
  		display: inline-block !important;
  		position: absolute; 
  		left: 0; 
    }
    
    span.refinementDefault {
    	height: 20px;
    	width: 15px;
    	background: url('../images/responsive-redesign-sprites/mobile-spritesheet.png') no-repeat;
  		background-position: -55px 0px;
  		display: inline-block !important;
  		padding-top: 2px;
  		position: absolute; 
  		left: 0;
    }
    .pt_product-search-noresult .refinement ul li a {background: url("../images/interface/icon-refine-link-check.png") no-repeat scroll left -1px rgba(0, 0, 0, 0);}
    .pt_product-search-result #secondary .refinement ul li a:hover, .pt_product-search-result #secondary .refinement ul li.selected a{color: #ea0c8b;}
    .scrollable {overflow: hidden; height: auto; max-height: none;}
    .refinement h3{padding: 0 0 0 1.375em; width: 95%;}
    .refinement h3 span{font: 0.8125em/150% 'Futura BT W01 Book', Arial, sans-serif; background: none; padding: 0; float: left; margin: 0; text-transform: uppercase; color: #A1A1A1; padding: 10px 0; width: 100%; text-transform: lowercase;}
    .filterProducts h3 span{
    	color: #000;
    	text-transform: uppercase;
    }
       
    .refinement .clear-refinement{top: .4em;}
    .col-1,.col-2{float:none;width:100%;}

    .scrollable li {float:left;}

    .mobile{display: block!important;}

    /* Header elements need to be re-positioned */
    /* ------------------------------------- */
    #header{height:auto; padding: 0; top: 0; right: 0px; background: none; z-index: 1000;
    	-webkit-box-shadow: 0px 2px 1px -1px rgba(170,170,170,1);
		-moz-box-shadow: 0px 2px 1px -1px rgba(170,170,170,1);
		box-shadow: 0px 2px 1px -1px rgba(170,170,170,1);
		width: 100%;
		height: 70px;
		margin: 0;
    }
    
    header .menu-toggle, #header .primary-logo, #mini-cart,.header-search button.search-toggle-btn { background: url('../images/responsive-redesign-sprites/mobile-spritesheet.png') no-repeat;}
    
    #dropDownOverlay{
		display:none;
		background: #333333;
		opacity: 0.4;
		filter: alpha(opacity = 40);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		overflow: hidden;
	}
    
    header .menu-toggle{
    	display: block;
	    height: 27px;
	    width: 33px;
	    background-position: -4px -62px;
	    left: 10px;  	
    }
    
    header .sitewide-logo{
    	width:48%;
    	top: 4px;
    	left: 14%;
    	margin-left: 0;
    }
    
    header{
    	padding: 0 3.8959%; 
    	width: 92.2082%; 
    	margin: 0;
    	height: 100%;
    	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f0efeb+100 */
		background: none; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: none
    }
    
    .subnavi{
    	min-width: 100%;
    	overflow-y: auto;
    	margin-left: -10px;
    }
    ul.level-1 li.first {
    	margin-left: 0px;
	}
	.firstColumnContainer {
	    margin-left: 0px;
	}
    div.level-3 ul.level-3 a{
    	color: #777;
    }
    div.level-3 ul.level-3 li {
	    padding: 3px 0;
	}
	#headerrightblock {
	    position: initial;
	}
    #header .primary-logo{
    	float:left;
    	position:relative;
    	top:auto;
    	right: 15px;
    	width:35%;
    	margin: 1em !important;
    	background-position: -5px -30px;
    	display: block;
    	height: 30px;
    	width: 185px;
    }
    #header .primary-logo img {max-width:100%; height: auto; display: none;}

    .headerblock{margin: 2.2em 0; width: 42%; }
    .header-promo {display: none;}
	.socialblock {display: none;}
	.mini-cart-label {display: none;}
    .menu-utility,.menu-utility-user{clear:both;float:none;letter-spacing:0;margin:10px 0;overflow:hidden;}
    .menu-utility li,.menu-utility-user li{padding:0 5px;}
    .header-banner{float:none;font-size:.8em;margin:10px 5px;}

    .myaccountheader{float: left;}
    
    .ui-dialog .ui-icon-closethick {
		background-image: url("../images/interface/grey-close-button.png");
		background-position: 0 0;
		margin: 0 !important;
	}
	#stickyHeader {
	    max-width: 100%;
	    width: 100%;
	    z-index: 100;
	    background: #fff;
	}
    #mini-cart {
    	background-position: -145px -66px; 
    	color: #ec008c; 
    	margin-top: 15px; 
    	padding: 8px 0 4px 15px; 
    	width: 35px;
   	}
	 #mini-cart .mini-cart-total a {
		color: #000;
	    margin-left: -8px;
	    margin-top: -3px;
	}

   .mini-cart-total{
    	padding-top: 4px;
    }
    
    #mini-cart .mini-cart-header a{
    	color: #000;
    	display: inline-block;
    }
    
    #mini-cart.mobile-mini-cart-open{
    	background-position: -198px -4px;
    }
    
    #mini-cart a.mini-cart-link {color: #ec008c;}

    #headerrightblock #mini-cart {position: absolute; right: 17%; text-align: center;}
    .mini-cart-products  {max-height: 100%;}
    .mini-cart-content {max-width: 220px; right: -1px; left: auto; }
    .mini-cart-label{margin-right:0;}
    .mini-cart-item-word,
    .mini-cart-total-label{display:none; text-transform: uppercase;}
    #mini-cart .mini-cart-item-count:before, #mini-cart .mini-cart-empty:before{content: "";}
    #mini-cart .mini-cart-item-count:after, #mini-cart .mini-cart-empty:after{content: "";}
    
    #mini-cart .mini-cart-header{
    	color: #000;
    	text-decoration: underline;
    	box-sizing: border-box;
    	font-size: 1.4em;
    	padding: 20px;
    	width: 100%;
    }
    
    mini-cart-link-cart{
    	display: none;
    }
    
    .mini-cart-content{
    	right: 0px;
    	top: 34px;
    	background-color: #fff;
    	max-width: 400px;
    	border: none;
    	border-bottom: 2px solid #D8D5D0;
    }
    
    .mini-cart-name,
    .mini-cart-attributes,
    .mini-cart-pricing{
    	text-align: right;
    	font-size: 1.2em;
    	font-style: normal;
    }
    
    .mini-cart-product{
    	padding: 0 10px;
    }
    
    #mini-cart .mini-cart-name{
    	margin-top: 15px;
    }
    
    #mini-cart .mini-cart-name a{
    	color: #ef30a1;
    	font-family:"Futura BT W01 Book";
    }
    
   .mini-cart-subtotals{
    	text-transform: uppercase;
    	font-size: 1.2em;
    	padding: 15px;
    	color: #000;
    	font-family:"Futura BT W01 Book";
    }
    
    .mini-cart-image img{
    	max-width: 100%;
    	position:relative;
    		right:20px;
    }
    
    a.mini-cart-link-checkout.button.button-fancy-medium{
    	font-size: 1.5em;
    	font-weight: 100;
    	color: #CCCCCC !important;
    	padding: .8em 1em;
    	font-family:"Futura BT W01 Light";
    }
    
    .mini-cart-attributes{
    	color: #F259B4;
    }
    
    .mini-cart-subtotals .label{
    	float: left;
    	margin: 0;
    	padding-left: 5px;
    	
    }
    
    .mini-cart-subtotals .value{
    	float: right;
    }
    
    .mini-cart-pricing{
    	color: #000;
    	margin-top: 15px;
    	font-family:"Futura BT W01 Light";
    }
    
   	#mini-cart .mobile-mini-cart-banner{
    	border-top: 2px solid #CCCCCC;
    	width: 100%;
    }
    
    .mobile-mini-cart-banner a img{
    	width: 100%;
    }
    
    .header-search button.search-toggle-btn{
    	background-position: -79px -65px;
    	border: none; 
    	height: 30px; 
    	width: 30px;
    	outline: none;
    	margin: 4px 0  0 0px;
    }
    .header-search{float: right; width: 40px; clear: inherit; margin: 0px 40px 0;}
    .header-search .search-toggle-block{
    	overflow: hidden;
    	width: 100%;
    	position: absolute;
    		left: 0;
    		top: 51px;
    	border-bottom: 2px solid #D8D5D0;
    	background-color: #fff;
    	transition: all .3s ease-in;
    	
    }
    .header-search .search-toggle-block.open { max-height: 65px }
    .header-search input[type="text"]{padding: 5px 13px; background: none; display: none; height: 24px;}
    .header-search input[type="submit"] {
    	
    	height: 34px; 
    	margin: 1px 0px 0 0; 
    	padding: 0;
    	position: absolute;
    	top: 1px;
    	background: url('../images/responsive-redesign-sprites/responsive-icons-spritesheet.png') no-repeat -217px -143px;
    	width: 40px;
    }
    .header-search .close-search {background: url("../images/interface/icon-search.png") no-repeat scroll 5px -16px #FFFFFF; border: medium none; color: #000000; display: none !important; float: right; height: 32px; margin: -32px 1px 0 0; padding: 0; width: 34px;}

    .home-main{width: 92%; padding: 3.8959%; border-left: none; border-right: none;}
    #homepage-slides{margin-bottom: 30px!important;}
    #homepage-slides{display:none;}
	div.home-center{display:block;text-align:center;width:100%;}
	div.home-center img{width:100%;position:relative;left:3%;margin-top:33px !important;}
    #search-slides{margin-bottom: 30px!important;}
    
    #homepage-slider .jcarousel-prev, #homepage-slider .jcarousel-next {display: none !important;}
    .js #homepage-slider .jcarousel-control{display: block; left: 43%; bottom: -25px;}
    
    #search-slider .jcarousel-prev, #search-slider .jcarousel-next {top: 30%;}
    .js #search-slider .jcarousel-control{display: block; left: 43%; bottom: -25px;}

    .home-bottom-slots, .home-bottom-left, .home-bottom-center, .home-bottom-right{border: none; padding: 3.8959%; width: 92.2082%;}
    .home-bottom-center{margin: 0;}
    
    div.back-to-top{
    	border-radius: 50%;
    	height: 75px;
    	width: 75px;
    	background-color: #EEEAE7;
    	margin: 25px auto;
    	cursor: pointer;
    	font-family:"Futura BT W01 Book";
    	font-size: 0.8em;
    }
    
    div.back-to-top p{
    	margin: 0;
    	padding: 0;
    	text-align: center;
    	text-transform: uppercase;
    }
    
    div.back-to-top p.top-icon{
    	padding-top: 7px;
    	font-weight: bolder;
    	font-size: 28px;
    	background: url('../images/interface/back-to-top-caret.png') no-repeat;
   		text-indent: -9999px;
    	height: 25px;
    	width: 33px;
    	margin: 0 auto;
    	background-position: center 12px;
    	
    }
    
    #footer{border-top: none;}
    #footer footer{padding: 1em 0 0 0;margin-bottom:12px;}
    #footer .certificates{display: none;}
    .footer-social{text-align: center; display: none;}
    .footer-social li{margin: 0;}
    .footer-social li + li{margin-left: 30px;}
    #footer .footer-nav{width: 100%;}
    #footer .footer-nav a{font-size: 16px; line-height: 45px; color: #54585a; padding-left: 25px; letter-spacing: 0.035em; font-family:"Futura BT W01 Light";}
    #footer .menu-footer{float: none; margin: 0;}
    #footer .menu-footer li{display: block; float: none; text-align: left; border-top: 2px solid #D8D5D0;}
    #footer .menu-footer li:before{ display:none; }
    #footer .menu-footer li, #footer .copyright li{background: none; padding: 0;}
    #footer .copyright a{font-size: 11px; line-height: 18px; color: #888888;}
    
    .myaccountfooter{
    	text-transform: lowercase;
    	border-top: 2px solid #D8D5D0;
    }
    
    .myaccountfooter a{
    	display: block;
    }
    
    #footer .copyright{
    	background-color: #000;
    	padding-bottom: 15px;
    }
    
    #footer .copyright li{
    	text-align: center;
    	color: #C2C2C2; 	
    }
    
    #footer .copyright li a{
    	font-size: 14px;
    	color: #C2C2C2;
    	text-decoration: underline;
    }
    
    #footer .copyright li:first-child{
    	display: block;
    	margin-bottom: 15px;
    }
    
    #footer .copyright li:first-child a{
    	color: #848484;
    }

    #footer .copyright li:nth-child(2):before{
    	border: none;
    }
    
     #footer .copyright li:nth-child(2){
     	padding-left:45px;
     }
     
     #footer .home-email-subscribe {
     	width: 100%;
     	border-top: 2px solid #D8D5D0;
     	background-color: #EEEAE7;
     	padding: 20px 0;
     }
     
     #footer .home-email-subscribe form{
     	position: relative;
     }
     
    #email-alert-signup .email-alert-address-mobile{
    	margin-bottom: 15px;
    	font-size: 1.3em;
    	font-style: normal;
    	color: #777777;
    	padding: 0 0 0 25px;
    	text-align: left;
    	font-family:"Futura BT W01 Light";
    }
    
    #email-alert-signup input[type="submit"]{
    	position: absolute;
    	right: 5%;
    	bottom: 8%;
    	outline: none;
    	background-color: transparent;
    	background: url('../images/responsive-redesign-sprites/responsive-icons-spritesheet.png') no-repeat;
   	    background-position: -59px -98px;
   	    border: 0;
   	    width: 35px;
   	    height: 25px; 	    
    }
    
    .instagramContainer,
    .trustedSiteContainer{
    	width: 45%;
    	float: left;
    	padding-left: 8px;
    	padding-bottom: 8px;
    	text-align:center;
    	margin-top: 15px;
    	height:40px
    }
    
    .instagramContainer a{
    	display: block;
    	background: url('../images/interface/dogeared-instagram.png') no-repeat;
    	height: 60px;
    	width: 50px;
    	margin-left: 70px;
    	margin-top: 10px;
    }
    
    .trustedSiteDivider{
    	float: left;
    	margin-top: 18px;
    	font-size: 3.5em;
    	color: #AFABA8;
    	font-family:"Futura BT W01 Light";
    }
    .trustedSiteContainer p{
    	font-size: 1.2em;
    	margin: 0;
    }
    

     

    /* Navigation adjusted, stacked so it's easier to use */
    /* ------------------------------------- */

    .mobile{padding: 0; width: 4280px;}
    /* .pt_storefront #navigation{display: none;} */
    .pt_storefront #navigation .menu-category.level-1 > li:first-child{border-top: none;}
    
    #carousel-pdp{
    	width: 230px;
    	margin: 0 auto;
    }
    
    #navigation{
    	padding: 0; 
    	width: 100%;
    	position: fixed;
    	background-color: none;
    	z-index: 1000;
    	height:100%;
    	transition: left .5s ease !important;
    	left: -500px;
    	overflow: scroll;
    }
    #navigation nav{
    	padding-bottom:75px;
    }
    
    .myaccountheader{
	    font-size: 1em;
	    margin: 0;
	    padding-bottom: 5px;
	    width: 100%;
	    border-bottom: 1px solid #D8D5D0;
    }
    ul.level-1 .myaccountheader a{
    	display: block;
   	 	padding-top: 10px;
    	padding-bottom: 10px;
    	margin: 0 0 0 10px;
    	font: normal .8125em/150% 'Futura T W01 Medium', Arial, sans-serif;
    	text-align: left;
    }
    
    ul.level-1{
    	border-bottom: none;
    }
    
    ul.level-1 li:first-child{
    	border: none;
    }
    
    .primary-logo img{
    	display: none;
    }
    
    .primary-logo{
    	background: url('./images/mobile-logo.jpg') no-repeat;
    }
    
    .menu-category.level-1 > li{border-top: 1px solid #D8D5D0; float: none; clear: both; list-style-type: none;}
    #navigation ul.level-1 > li > a.level-1{text-align: left;float: left; margin: 0; width: 77%; padding: 11.5px 3.8959%; text-transform: uppercase;}
    #navigation ul.level-1 > li.first > a{padding: 11.5px 3.8959%;}
    .menu-category.level-1{padding: 0;}
    .menu-category.level-1 a span {float:right;font-size:.8em;}

    ul.level-1 li:hover div.level-2, .js ul.level-1 li:hover div.level-2, ul.level-1 li div.level-2{display: none;}
    /* ul.level-1 li.nav-expanded div.level-2{display: block;} */

    .nav-close {
	   	    background: url('../images/responsive-redesign-sprites/mobile-spritesheet.png') no-repeat;
		    background-position: -25px 3px;
		    display: block;
		    float: left;
		    margin: 6px 0 0 6%;
		    padding: 0;
		    width: 20px;
		    height: 25px;
		    cursor: pointer;
    }
    .nav-expanded .nav-close{background-position: -2px 11px; }

    div.level-2:before{border: none; top: 0; position: static; border-radius: 0; backgound: none;}
    div.level-2{border: none; border-radius: 0; box-shadow: 0 0 0 0 transparent; padding: 0; margin: 0; position: static; clear: both;}
    div.level-2 .menu-wrapper{padding: 2% 10%; overflow: visible; width: 80%; position: relative; top: -20px;}
    div.level-2 img{display: none;}

    div.level-2 ul.level-2 li, div.level-2.menu-horizontal .menu-wrapper.three-columns ul.level-2 li{width: 95%;}
    .menu-category.level-1 > li.nav-expanded{border-bottom: none;}

    div.level-2.menu-horizontal li{border:0 !important; float:none !important;}
    div.level-2 .custom {display: none;}

    /* Reduce primary header size */
    /* ------------------------------------- */

    .primary-content h1 {
    	font: normal 1.5em/150% 'Futura BT W01 Book', Arial, sans-serif; 
    	margin: 10px 0;
    	padding-left: 15px;
    }
    
    .product-tile .product-name h2{
    	font: normal 0.7em/150% 'Futura BT W01 Light', Arial, sans-serif; 
    }
    
    /*account page stylings */
    /*---------------------------------------*/
    
    .pt_account legend,
    .required-indicator{
    	font: normal .9em/150% 'Futura BT W01 Book', Arial, sans-serif; 
    }
    
    .required-indicator{
    	color: #F369BB;
    }
    
    .pt_account .form-row label{
    	font: normal 1em/150% 'Futura BT W01 Book', Arial, sans-serif;
    }
    
    .pt_account label[for="dwfrm_profile_login_password"]{
    	display: inline-block;
    }
    
    .pt_account .form-row .form-caption{
    	margin: 0 0 0 25px;
    }
    
    .pt_account .form-caption{
    	display: inline-block;
    	float: none;
    	margin: 0 0 0 15px;
    }
    
    .pt_account .input-text-pw{
    	width: 95%;
    	margin: 0;
    	-webkit-appearance: none;
    	-moz-appearance: none;
   		 border-radius: 0;
    	-webkit-border-radius: 0;
    	-moz-border-radius: 0;
    	outline: none;
    	border: 1px solid #DBD5CD;
    }
    
    .pt_account .small-text{
    	margin-bottom: 15px;
    }
    
    .pt_account .small-text a{
    	color:#F369BB
    }
    
    .pt_account .form-row-button button{
    	font: normal 1.3em/150% 'Futura BT W01 Book', Arial, sans-serif;
    	border: none;
    	background-color: #000;
    	color: #fff;
    }
    
    .mobile-account-links span.toggle{
    	font: normal 0.8em/150% 'Futura BT W01 Book', Arial, sans-serif;
    	cursor: pointer;
    	margin-left: 15px;
    }
    
    #secondary.mobile-account-links{
    	border-bottom: 1px solid #C2BDB6;
    	margin-bottom: 30px;
    	padding-bottom: 10px;
    }
    
    #secondary.mobile-account-links,
    .account-nav-asset{
    	background: none;
    }
    
    .account-nav-asset{
    	margin: 0;
    	font: normal 1em/150% 'Futura BT W01 Book', Arial, sans-serif;
    	padding-left: 25px;
    	border-bottom: 1px solid #C2BDB6;
    }
    
    .account-nav-asset span,
    .mobile-account-links .content-asset ul li a,
    .content-asset ul.account-options li a,
    .account-logout a,
    .login-box #password-reset{
    	color:#F369BB !important;
    	font-family: 'Futura BT W01 Book', Arial, sans-serif;
    }
    
     .login-box #password-reset{
     	font-size: 1.1em;
     	margin-left: 5px;
     }
    
    .content-asset ul.account-options li p,
    .pt_account #primary{
    	font-family: 'Futura BT W01 Book', Arial, sans-serif;
    }
    
    .pt_account nav .secondary-navigation .content-asset ul li{
    	padding-left: 15px;
    }
    
    /*checkout mobile redesign styles*/
    /*-------------------------------*/
    
    .pt_checkout #headerrightblock .myaccountheader{
    	display: none;
    }

    /* Grid, product tile layout adjustments */
    /* ------------------------------------- */

    #quickviewbutton {display:none !important;}
    ul.search-result-items .grid-tile {margin:2%; width: 92%;}
    .search-result-options {margin: 1em 0; padding-right: 0;}
    .search-result-options .sort-by select {width:100%;}
    .sort-by{
    	border: 1px solid #DBD5CD;
    	padding-bottom: 10px;
    	background: url('../images/responsive-redesign-sprites/custom-dropdown-arrow.png') no-repeat;
		background-position: 135px 15px;
		width: 160px;
		float: none; 
		margin: 5px auto;
    }
    
    .pt_product-search-result .product-name a.name-link{
    	font-family:"Futura BT W01 Book";
    	text-decoration: underline;
    }
    
    #primary .search-result-options .sort-by {
    	display: none;
    	
    }
    
    
    #primary .search-result-options:first-child .sort-by {
    	display: block;
    }
    
    .sort-by select{
    	font: normal 1em/150% 'Futura T W01 Medium', Arial, sans-serif;
    	color: #707070;
    	padding: 0.5em;
    }
    
    .search-result-options .items-per-page {display:none;}
    .search-result-options .pagination {float: none; margin: 0 auto; width: 100%; text-align: center;}

    .pagination ul { margin: 0; padding: 0;}
    .pagination .mobile{width: auto;}

    .search-result-options .pagination .mobile {
	    float: right;
	    margin-right: 15px;
	}

    .pagination .mobile .pagination-label{
		line-height: 18px;
	    float: left;
	}
    .pagination .page-previous span, .pagination .page-next span{font-size: 26px; color: #F369BB}

    .page-previous {
		float: left;
    	margin-right: 10px;
    }
    .page-next {
	    float: left;
	    margin-left: 10px;
	}
    
    /* PDP page respopnsive design changes */
    
    .breadcrumb a{
    	font-family:"Futura BT W01 Book";
    	color: #777777;
    }
    
    .breadcrumb  a.breadcrumb-last{
    	color: #000;
    }
    
	.breadcrumb a:after{
    	content: ">"
    }
    
    a.breadcrumb-last:after{
    	content: "";
    }
    .pdp-main .product-primary-image{
    	padding: 0;
    }
    
    .breadcrumb-refined-by,
    .breadcrumb-refinement-name{
    	display: none;
    }
    
    .refinementContainer .attribute-divider{
    	padding-right: 4px;
    }
    
    .breadcrumb-refinement-value{
    	background: #CCCCCC !important;
    	font-family: 'Futura BT W01 Book', Arial, sans-serif;
    	color: #828282;
    	font-style: normal;
    	display: inline-block;
    	padding: 5px 25px 5px 10px;
    	margin: 10px 5px 0 0;
    	position: relative;
    	color: #525252;
    }
    
    .breadcrumb-refinement-value a{
    	color: #828282;
    	background: url('../images/responsive-redesign-sprites/mobile-spritesheet.png') no-repeat !important;
		background-position: -129px 3px !important;
		position: absolute;
		top: 0;
		right: 2px;
		height:25px;
		width: 10px;
		text-indent: -9999px;
    }
    
    .breadcrumb-refinement-value a img{
    	display: none;
    }
    
    .breadcrumb-refinement-value a:after{
    	content: "";
    }

    .product-tile {height:auto !important;}
    .wide-tiles .product-tile .product-image{width:41%;}
    .wide-tiles .product-tile .product-name, .wide-tiles .product-tile .product-pricing, .wide-tiles .product-tile .product-promo, .wide-tiles .product-tile .pr_stars, .wide-tiles .product-tile .product-swatches {
float: right;}
    .wide-tiles .product-tile .product-name h2 { margin-top:0px}

    .product-tile .product-swatches .swatch img {height:2em;width: 2em;}
    .product-listing-1x4 ul.search-result-items .grid-tile {margin:2%; width: 92%;}
    .product-compare,.compareitems {display:none !important;}

    .pt_product-search-result ul.search-result-items .grid-tile {width: 46%; clear: none;}
    .pt_product-search-result ul.search-result-items .grid-tile:nth-child(2n+2) {clear: left;}
    .pt_product-search-result .grid-tile .product-tile .product-image .content-asset img.overlay-image.position-one{
    	top: 10px;
    	right:-20px;
    }
    .search-result-content{padding: 0; margin: 20px 0 10px 0;}
    /* badge over the products */
    .pt_product-search-result .grid-tile .product-tile .product-image .content-asset{}
    /* Pdp */
    /* ------------------------------------- */

    .pt_product-details .primary-content {padding-bottom: 0px;}
    #product-nav-container {bottom: 0;width:100%;}
    #product-nav-container div {width: 60px;}
    #product-nav-container div.product-next {float:right;}
    #product-nav-container .divided span {border:0;}
    .pdp-main .product-col-1, .pdp-main .product-col-2, .pdp-main .product-name {clear:both; float:none; width:100%;}
    .pdp-main .product-col-1, .pdp-main .product-col-2{margin:5px 0;}
    
    .pdp-main .product-add-to-cart .product-options{
    	font-family:"Futura BT W01 Book";
    }
    
    .pdp-main .product-add-to-cart .product-options + .clearfix{
    	margin-top: 35px;
    }
    
    .pdp-main .product-add-to-cart fieldset:first-child{
    	padding: 0 15px 40px 15px;
    }
    
    .pdp-main .product-add-to-cart .product-options .product-options{
    	padding-bottom: 15px;
    }
    
    .product-options .attribute .value select{
    	background-color: transparent;
    	border: 1px solid #DBD5CD;
    	color: #707070;
    	-webkit-appearance: none;
    	-moz-appearance: none;
   		 border-radius: 0;
    	-webkit-border-radius: 0;
    	-moz-border-radius: 0;
    	outline: none;
    }
    
    .pdp-main .promotion{
    	width: auto;
    	font-size: 0.75em;
    	padding: 4%;
    	margin: 0;
    	border: 1px solid #959595;
    }
    
    .promo-container-mobile.mobile{
    	width: 30%;
    	display: inline-block !important;
    	float: left;
    	max-width: 65%;
    	width: auto;
    	margin: -7px 0 7px 5px;
    }
    
    .pdp-main .promotion .promotion-callout{
    	width: auto;
    	padding-top: 4px;
    	font-size: 1.3em;
    }
    
    .priceWidthModificationsPortrait{
    	width: 16% !important;
    }
    
    .priceWidthModificationsLandscape{
    	width: 25% !important;
    }
    
    .pdp-main .product-name{margin:5px 10px;}

    .pdp-main .product-name, .pdp-main .product-add-to-cart .product-price{font-size: 1.125em; line-height: 1.3333em; font-family: 'Futura BT W01 Book', Arial, sans-serif; font-weight: normal; text-align: center;}
    .pdp-main .product-add-to-cart .product-price{margin: 0;}
	.pdp-main .product-add-to-cart button{ margin: 10px 0 0 0;}
    .pdp-product-status{font-size: .75em; line-height: 1.5em; margin: 0 0 0.9em 0;}
    .pdp-product-status, .pdp-main .product-number, .pdp-product-status .availability{font-family: 'Futura BT W01 Book', Arial, sans-serif; color: #777777; text-align: center; float: none;}
    .pdp-main .product-number, .pdp-product-status .availability p, .pdp-main .product-set .product-set-list .product-set-item .product-set-details .product-number{line-height: 1.5em;}
    .pdp-main .product-number, .pdp-product-status .availability p{font-size: 1em; }
    .pdp-main .product-set .product-set-list .product-set-item .product-set-details .product-number{font-size: 0.6875em;}
    .pdp-product-status > div {margin: 0 9% 0 0;}
    
    .pdp-main .product-number, .pdp-product-status .availability {
    	display: inline-block;
    }
    
	.shipping-asset a {
	    padding: 0;
	    margin: 0;
	}
	.shipping-asset a span {
	    margin: 0;
	}    
    
    .slick-slide{
    	outline: none;
    }
    
    #carousel-recomendations .slick-slide{
    	left: 12px;
		position: relative;
    }
 	
 	.pdp-product-status > div{
 		margin: 0;
 	}
 	
 	.pdp-main .product-number span{
 		padding-right: 10px;
 	}
 	
    .pdp-main .product-number:after{
    	content: "/";
    }
    
    .product-add-to-cart fieldset .clearfix .product-price,
    .product-add-to-cart fieldset .clearfix .inventory{
    	width: 50%;
    }
    
    .product-add-to-cart fieldset .clearfix .product-price{
    	text-align: right;
    	font-size: 1em;
    }
    
    .product-add-to-cart .inventory .quantity{
    	margin-left: 10%;
    	position: relative;
    }
    
    .product-add-to-cart fieldset .clearfix .inventory{
    	float: left;
    }
    
    .pdp-main .product-add-to-cart .quantity label{
    	position: absolute;
    		top: -20px;
    		left: 7px;
    	text-transform: uppercase;
    	color: #B0B0B1;
    	font-size: .75em;
    }
    
    .button-add-to-cart:after{
    	font-family:"Futura BT W01 Book";
    	color: #fff;
    }
    
    .product-long-description{
    	margin-bottom: 10px;
    }
    
    .pdp-main .recommendations h2{
    	font-family:"Futura BT W01 Book";
    	text-align: center;
    	color: #333333;
    	background-color: none;
    	text-transform: uppercase;
    	width: 93%;
    	padding: 10px 0;
    	margin-bottom: 20px;
    }
    
    .pdp-main .reccomendations.cross-sell .mobile-description-content li{
    	display: block;
    	width: 100%;
    }
    
    .pdp-main .recommendations h2:hover{
    	cursor: pointer;
    }
    
    .reccomendations-container .jcarousel-container{
    	display: none;
    }
    
    .pdp-main .recommendations.also-available-in li, 
    .pdp-main .recommendations.cross-sell li{
    	width: 155px;
    }
    
    .pdp-main .recommendations .jcarousel-prev{
    	left: 6%;
    	font-family:"Futura BT W01 Book";
    	color: #A19F9F;
    }
    
    .pdp-main .recommendations .jcarousel-next{
    	left: 79%;
    	font-family:"Futura BT W01 Book";
    	color: #A19F9F;
    }
    
    .pdp-main .recommendations.cross-sell .product-name, 
    .pdp-main .recommendations.cross-sell .product-price{
    	display: block;
    	float: none;
    	text-align:center;
    	margin: 0;
    	text-decoration: underline;
    	font-size: 1.2em;
    }

    .pdp-main .pdp-share{border-top: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; display: none;}
    .pdp-main .pdp-share .content-asset{margin: 0; padding: 12px 20px; text-align: left;}
    .pdp-main .pdp-share span.share-msg{font: normal bold 12px/18px 'Century Gothic W01', Arial, sans-serif; text-transform: uppercase; color: #000000; margin: 0; width: 100%; text-align: center;}
    .pdp-main .pdp-share span.share-msg:after{content: '+'; float: right; font-size: 22px;}
    .pdp-main .pdp-share.expanded span.share-msg:after{content: '-'; font-size: 38px; line-height: 10px;}
    .pdp-main .pdp-share .pw-widget, .pdp-main .pdp-share .product-actions{display: none; clear: both; margin: 20px auto;}
    .pdp-main .pdp-share.expanded .pw-widget, .pdp-main .pdp-share.expanded .product-actions{display: block;}

    .pdp-main .pdp-share ul.menu{display: block; margin: 0 auto; text-align: center}
    .pdp-main .pdp-share ul.menu li:first-child{margin: 3px 2.375em 3px 0;}
    .pdp-main .pdp-share ul.menu li:last-child{margin-right: 0;}
    .pdp-main .pdp-share ul.menu li{float: left; width: auto;}

     #pdpMain .product-long-description .description-content{padding: 0 10px; line-height: 1.5em; text-align: left; font-family:"Futura BT W01 Book"; margin-bottom: 35px;}
	 #pdpMain .product-long-description .description-content li{
	 	list-style-type: none;
	 	padding-left: 1em;
	 	text-indent: -.9em;
	 }
	 #pdpMain .product-long-description .description-content li:before{
	 	content: '▪';
	 	color: #B2B2B2;
	 	padding-right: 5px;
	 }
	 #pdpMain .product-long-description .description-content .popup-main .buttons li:before {
	    content: '';

	 }
    .pdp-main .recommendations.also-available-in li, .pdp-main .recommendations.cross-sell li{width: 155px;}
    .pdp-main .recommendations.also-available-in li{padding-left: 25px;}
    .pdp-main .recommendations.cross-sell{border-top: none;}
    .pdp-main .recommendations.cross-sell li{padding-right: 25px;}
    .pdp-main .promotion .promotion-title {font-size:86%; margin-right: 11px; width: 20%; padding-top: 2px;}
    .pdp-main .attribute h3,
    .pdp-main .attribute .label {font-size: 1em;width:100%; padding-left: 10px;}
    .pdp-main .attribute .value {width: 100%;}
    .pdp-main .attribute span.value {
    	padding-top:5px;
    	background: url('../images/responsive-redesign-sprites/custom-dropdown-arrow.png') no-repeat;
    	background-position: 95% 56%;
    }
    .pdp-main .attribute .value inpu{ padding: 0.7em 1em;}
    .pdp-main .product-add-to-cart .inventory {width: 100%;}


    .pdp-main ul.menu {margin: 0 auto 20px; float:none; display: table;}
    .pdp-main .product-add-to-cart + .product-actions ul.menu li{margin: 0;}

    .pdp-main .product-add-to-cart button {text-transform: uppercase; outline: none; clear: both; font: 1.15em/150% 'Futura BT W01 Light';, Arial, sans-serif; height: 50px; line-height: 1.3333em; width: 100%;}

    .ui-tabs .ui-tabs-nav li {display:block;font-size: .8em;margin:0;width:99.4%;}
    .ui-tabs .ui-tabs-nav li a {width: auto;}
    .pdp-main .product-set-list .product-set-image img {max-width: 90%;}
    .pdp-main .product-set-list .block-add-to-cart .inventory {margin: 0; width: 37%;}
    .pdp-main .product-set-list .block-add-to-cart .product-price {font-size: 1em;width:44%;}
    .pdp-main .product-set-list .block-add-to-cart button {font-size: .7em;}
    .pdp-main .product-review-links {margin-left:6%;}
    .pdp-main .prSnippetTitle {float:left;}
    .pdp-main .prSnippetRatingUnclickable {float:left;}
    
    #pdpMain .recommendations.cross-sell div.mobile-description-content li{
    	display: list-item;
    	width: 100%;
    	margin-top: 15px;
    }
    
    
    div.mobile-description-content{
    	padding: 0 25px;
    	margin-bottom: 35px;
    	font-size: 0.75em;
    	line-height: 1.5em;
    	font-family: 'Futura BT W01 Book', sans-serif;
    	overflow: hidden;
    }
    
     div.mobile-description-content p{
     	display: none;
     }

    /* size chart */
    /* ------------------------------------- */
	
    .sizinginformation {padding:0;}
    .sizinginformation th{font-weight:normal;padding:0 0 0 2px;}
    .sizinginformation td {background:none;padding:5px;text-align:center;}
    .sizinginformation .sizechart{padding:0 !important;}
    .ui-dialog .ui-dialog-content {padding:.25em;}

    /* Cart: tables need to be broken up and cells stacked */
    /* ------------------------------------- */

    .pt_cart #secondary{background-color: none;}
    .pt_cart #main {padding: 0; margin-top: 0px;}
    .pt_cart .back-to-top.mobile {
    	width: 75px;    
    }
    #cart-table .item-image, #cart-table .item-details {
    	margin-top: 2px;
    }
    
    #cart-table thead{display:none;}
    #cart-table td{display:block;padding:5px;}
    #cart-table td.cart-promo{padding: 5px 0;}
    #cart-table .item-image{float:left;text-align:center;width:33%;}
    
    /* bundles */
    #cart-table .rowbundle .item-details > a{float: none;}
    
    #cart-table .item-details{float:right;width:53%;margin-right:4%;}
    #cart-table .item-details .product-list-item .name {font-size: 1.3em;}
    #cart-table .item-details .product-list-item .name a { color: #ef30a1;}
    #cart-table td.item-quantity{position: relative;width:53%;float: right;margin-right:4%;}
    #cart-table td.item-quantity .price-sales {display:block;float:right;}
    #cart-table .item-quantity input {text-align:center;width: 50px;}
    #cart-table .item-quantity-details{position: relative; float:left;font-size:.9em;width:44%;}
    #cart-table td.item-price{
    	clear:both;
    	float:right;
    	display: inline-block; 
    	width: 25%; 
    	margin: 0; 
    	text-align: right; 
    	padding-right:15px;
    	padding-top: 8px;
    }
    #cart-table .item-price .mobile {
    	width: 30px;
    	font-family:"Futura BT W01 Light";
    	text-transform: lowercase;
    	font-size: 1.6em;
    	margin-top: 2px;
    	position: relative;
    	top: -3px;
    	right: 10px;
    }
    
    #cart-table .item-price .price-sales{
    	padding-top: 5px;
    	font-size: 1.2em;
    	position: relative;
    		top: -1px;
    	font-family:"Futura BT W01 Light";
    }
    #cart-table .button-text.remove-button {
    	color: #ef30a1; 
    	font-size: 1.5em;
    	text-decoration: underline;
    }
    
    
    #cart-table .item-total{float:right;clear:both;font-size:1.3em !important;text-align:right !important; font-family:"Futura BT W01 Light"; margin-top: 10px;width:53%;margin-right:4%;}
    .pt_cart #cart-table .rowcoupons .item-total span{font-size:.875em !important;}
    #cart-table div.mobile { 
    	width: auto;
    	font-size: 1.3em;
    	text-align: center; 
    }
    #cart-table .item-total .mobile {
    	text-transform: uppercase;
    }
    #cart-table .product-availability-list li {
    	margin: -3% 16%;
    	font-size: 1.5em;
    	font-family: 'Futura T W01 Light', Arial, sans-serif;
    }
    #cart-table .item-quantity .mobileQTY {
    	float:left;
    	text-transform: uppercase;
    	font-family:"Futura BT W01 Light";
    	width: 25%;
    	text-align: left;
    }
    #cart-table .item-quantity .mobileX {
    	float:left;
    	text-transform: uppercase;
    	font-family:"Futura BT W01 Light";
    	width: 25%;
    	text-align: center;
    }
    #cart-table .item-quantity input {
    	float:left;
    	text-align: center; 
    	width: 30px;
    	font-size: 1.3em;
    	-webkit-appearance: none;
		border-radius: 0;
		padding: 2px 5px;
    }
    #cart-table .item-quantity .qtyNumber {
    	float:left;
    	text-align: center; 
    	width: 30px;
    	font-size: 1.3em;
		padding: 2px 5px;
    }
    .cart-coupon-code .input-text{width:50%;}
    .cart-coupon-code{clear:both;float:none;width:56%;}
    /* .cart-coupon-code button {margin: 5px 0 0 .5em;} */
    .cart-coupon-code .error {margin-left: 3%;}
    .cart-coupon-code input { padding: .4em .5em !important;}
    .cart-actions{margin:auto;overflow:hidden;}
    .cart-order-totals{clear:both;float:none;margin:0;padding:0px 1%;width:96%;}
    .cart-order-totals button {margin:0 0 20px;}
    .cart-order-totals td{width: 50%; padding:5px 5px;}
    .cart-coupon-code-content {
    	float: left;
    	width: 100%; 
    }
    

  #cart-table .item-total .promo-adjustment{width:auto;}
  .pdp-main .product-col-1{margin:0;}

#cart-table .price-unadjusted, #cart-table .price-adjusted-total, #cart-table .promo-adjustment{font-size: .75em;}
#cart-table .price-adjusted-total > span {font-size: 1.3em;}

.mobile-bg-gray{background: none;margin-bottom: 12px;}

fieldset .button-fancy-large {
	margin: 9px 15px 20px 0;
	font-family:"Futura BT W01 Light";
}
#checkout-form button.button-fancy-large {
	margin: 5px 10px 11px 9px; 
	
}
#checkout-form fieldset button{
	padding: 7px 10px;
	margin: 3px auto; 
	font-size: 14px;
}

.cart-actions {
	background-color: none; 
	margin-top: -20px;
	padding-right: 5px;
}
.cart-actions .cart-action-checkout {
	float: none; 
}
.cart-actions .cart-action-checkout .button-fancy-large {
	width: 96%;
	display: block; 
	margin: 0 auto;
	float: none;
	padding: 12px; 
	font-size: 1em; 
}

.cart-actions .cart-action-continue-shopping {
	float: none; 
	border-bottom: 1px solid #c2bdb6;
	
}
.cart-create-account {
	margin: 0px auto;
	padding: 15px 0;
	text-align: center; 
	width: 100%; 
	border-bottom: 1px solid #c2bdb6; 
}

.product-list-item .sku{
	padding-top: 5px;
}

.product-list-item .sku span{
	font-family:"Futura BT W01 Light";
	padding-top: 5px;
}

.order-totals-table .order-subtotal, 
.order-totals-table .order-shipping, 
.order-totals-table .order-sales-tax{	
	font-family:"Futura BT W01 Light";
	text-transform: uppercase;
	font-size: .85em;
}

.order-totals-table .order-total{
	font-weight: 500;
	font-family:"Futura BT W01 Medium";
	text-transform: uppercase;
}

.cart-create-account a {
	color: #ef30a1;
	font-size: 1em;
	text-transform: lowercase; 
	text-decoration: underline;
	font-family:"Futura BT W01 Light";
}
#continue-shopping .button-text {
	margin: 1.5em auto;   
	background:#999999;
	color:#FFFFFF !important;
	font-family:"Futura BT W01 Light";
	text-transform:uppercase; 
	padding: .6em 1em; 
	border: none;
}
.above-cart-footer {
	padding: 10px 5px;
}

.above-cart-footer.mobile {
	position: relative; 
}
.above-cart-footer #dwfrm_cart_couponCode {
	width: 57%;
	margin: 0;
	margin-left: 3%; 
	font-size: 0.75em; 
	padding-bottom: 7px !important; 
	padding-top: 7px !important;
	font-family: 'Futura BT W01 Book', sans-serif;
	-webkit-appearance: none;
	border-radius: 0;
	
}

.cart-footer div{
	border-bottom: 1px solid #c2bdb6;
}

.above-cart-footer #add-coupon {
	background:#000;
	color:#FFFFFF !important;
	text-transform:uppercase; 
	padding: .55em 1em; 
	border: none;
	font-family:"Futura BT W01 Light";
	
}

.above-cart-footer #update-cart {
	background:#999999;
	color:#FFFFFF !important;
	text-transform:uppercase; 
	padding: .55em 1em; 
	border: none;
	margin-right: 15px; 
	margin-bottom: 10px;
	font-family:"Futura BT W01 Light";
}
#cart-items-form .cart-footer {
	width: 100%;  
	background: none;
}
.cart-action-checkout {
	margin-top: 8px;
}
.primary-content h1.cart-header {
	margin: 13px 0px 10px 17px;
	font: 1em/150% 'Futura BT W01 Light', Arial, sans-serif;
	padding: 5px 0 0 0;
}


    /* Checkout */
    /* ------------------------------------- */

	.checkout-progress-indicator a {
		font: 1.15em/150% 'Futura BT W01 Book', Arial, sans-serif;
	}

    .checkout-progress-indicator {clear:both;font-size:.75em; margin-bottom:3%; position:relative; overflow:hidden;text-align:left;top:auto;}
    .checkout-progress-indicator div {
    	padding: 0 4%;
    	font: 1em/150% 'Futura BT W01 Book', Arial, sans-serif;
    }
    .pt_checkout fieldset legend{
    	background: none;
    	border-top:  1px solid #B8B3AD;
    	border-bottom: 1px solid #B8B3AD;
    	width: 76%;
    	position: relative;
    	left: -13px;
    	font: 1.1em/150% 'Futura BT W01 Light', Arial, sans-serif;
    	padding: 15px 30% 15px 5%;
    	text-transform: none;
    }
    
    .pt_checkout input[type="tel"]{
    	width: 95%;
    	margin: 0;
    	border: 1px solid #DBD5CD;
    	box-shadow: none;
    	-moz-box-shadow: none;
    	-webkit-box-shadow: none;
    	-webkit-appearance: none;
    	border-radius: 0;
    	
    }
    .pt_checkout fieldset legend span{
    	right: 5.5em;
    }
    .pt_checkout .header-search legend.visually-hidden{
    	display: none;
    }
    
    .pt_checkout .form-row{
    	font: 0.9em/150% 'Futura BT W01 Light', Arial, sans-serif;
    	
    }
    
    #shipping-method-list .form-row .form-caption{
    	display: none;
    }
    
    .checkout-shipping .form-row-button,
    .checkout-shipping .form-row-button button{
    	width: 100%;
    }
    
    .checkout-shipping .form-row-button button{
    	font-size: 1.2em;
    	font-family: 'Futura BT W01 Book', Arial, sans-serif;
    	margin-bottom: 40px;
    }
    
    .checkout-shipping .form-row .form-caption,
    .checkout-billing .form-row .form-caption{
    	font-size: 0.9em;
    	color: #B8B3AD;
    	padding-bottom: 15px;
    }
    
    .pt_checkout .form-indent{
    	margin-left: -5px;
    }

    .login-box .label-inline #dwfrm_login_rememberme + label{
    	background: url("../images/interface/checkbox-not-selected-white-background.png") no-repeat scroll left 0px rgba(0, 0, 0, 0);
    }
    
    #dwfrm_singleshipping_shippingAddress_useAsBillingAddress:checked + label,
    #RegistrationForm #dwfrm_profile_customer_addtoemaillist:checked + label{
    	background: url("../images/interface/checkbox-selected.png") no-repeat scroll left 0px rgba(0, 0, 0, 0);
    }
    
    .login-box .label-inline #dwfrm_login_rememberme:checked + label{
    	background: url("../images/interface/checkbox-selected-white-background.png") no-repeat scroll left 0px rgba(0, 0, 0, 0);
    }
    
    #dwfrm_singleshipping_shippingAddress_useAsBillingAddress + label{
    	color: #333;
    	text-transform: uppercase;
    }
    
    label[for="dwfrm_singleshipping_shippingAddress_isGift"]{
    	color: #333;
    }
    
    .pt_checkout #add-coupon,
    .pt_checkout .form-row button.apply,
    .pt_checkout .form-row-button button[name="dwfrm_billing_save"],
    .submit-order .form-row button{
    	font: normal 1em/150% 'Futura BT W01 Book', Arial, sans-serif;
    	border: none;
    	background-color: #000;
    	color: #fff;
    }
    
    .submit-order .form-row button{
    	margin-right: 0;
    }
    
    .pt_checkout .form-row-button button[name="dwfrm_billing_save"],
    .pt_checkout #dwfrm_billing .form-row-button{
    	width: 100%;
    }
    
    #is-gift-yes + label,
    #is-gift-no + label,
    .pt_checkout #shipping-method-list .label-inline input + label,
    

    
    #shipping-method-list .USPS{
    	text-transform: none;
    }
    
    #shipping-method-list .UPS{
    	margin-top: 60px;
    }
    
    .shipping-selectbox-container,
    .payment-method-select .month,
    .payment-method-select .year{
    	background: url('../images/responsive-redesign-sprites/custom-dropdown-arrow.png') no-repeat;
    	background-position: 95% 75%;
    	width: 99%;
    }
    
    .payment-method-select .month,
    .payment-method-select .year{
    	background-position: 91% 58%;
    }
    
    .shipping-selectbox-container .form-row select,
    .payment-method-select .form-row select{
    	-webkit-appearance: none;
    	-moz-appearance: none;
    	border-radius: 0;
    	-webkit-border-radius: 0;
    	-moz-border-radius: 0;
    	outline: none;
    	background: transparent;
    	border: 1px solid #DBD5CD;
    	padding-left: 15px;
    }
    
    .payment-method-select .form-row select{
    	padding-left: 5px;
    	padding-right: 1.5em;
    }
    
    .payment-method-select .year select{
    	padding-right: 2em;
    }
    
    .pt_checkout .cvn{
    	margin-bottom: 60px;
    }
    
    .pt_checkout #cart-table .item-quantity-details{
    	bottom: 40px;
    	right: -30px;
    }
    
    .pt_checkout #cart-table td.item-quantity{
    	margin-right: 44%;
    }
    
    .pt_checkout #cart-table .product-availability-list li{
    	margin: -1% 9%;
    	
    }
    
    /* order confirmation page */
    .pt_order-confirmation  
    .order-summary-footer h2 {width:50%;}
    .place-order-totals .order-totals-table  {width: 100%;}
    .payment-method-options {padding:10px 0 0 0;}
    .pt_order-confirmation .item-list th {display:none;}
    .pt_order-confirmation .item-list td {float:left;padding:1em 0;width:98%;}
    .pt_order-confirmation .item-list .order-totals-table td {float:left;width: 48%;}
    .pt_order-confirmation .order-shipment-table th {display:none;}
    .pt_order-confirmation .order-shipment-table td {font-size: .8em;display: block;}
    .pt_order-confirmation .order-shipment-table .order-shipment-details{border:none;}
    .pt_order-confirmation .order-shipment-table .shipping-method {padding-left:0;}
    #cboxContent #cboxLoadedContent .shipping-details-lightbox h1{margin-bottom:10px;width: 100%;margin-left: 2%;}
    #shipping-method-list legend .shipping-details{font-size:.8em; text-decoration:underline; color: #ef30a1;}
    #shipping-method-list legend {padding: 15px 10% 15px 5%; width: 95%; margin-bottom: 15px; font-size: 1.1em;}
    
    .month { margin-left: 0;}
    div.cvn input { 
    	margin-left: 0; 
    	box-shadow: none;
    	-moz-box-shadow: none;
    	-webkit-box-shadow: none;
    	-webkit-appearance: none;
    	border-radius: 0;
    	border: 1px solid #DBD5CD;
    }
    #shipping-method-list h2{
    	margin: 5px 0 10px 0;
    	font: normal 1.3em/150% 'Futura BT W01 Book', Arial, sans-serif;
    }

    /* account pages */
    /* ------------------------------------- */

    .primary-content h2, .content-header{margin-left: 4% !important;}
    .content-asset ul.account-options li:last-child{border: none;}
    .pt_account .form-row{margin: 0 4% 15px 4%;}
    .content-asset ul.account-options li, ul.address-list li, ul.payment-list li{float:none;width: auto; margin: 0 4%;}
    .order-history-header button {font-size:1em;padding:.25em;}
    .pt_wish-list .list-table-header p, .pt_gift-registry #dwfrm_giftregistry .list-table-header p{margin: -36px 0 0 0;}
    .pt_wish-list #dwfrm_wishlist_shipping .form-row, .primary-content > a{padding: 0 4%;}
    .pt_wish-list #dwfrm_wishlist_shipping .form-row p{margin-right: 0;}
    table.item-list td, th.section-header, .mobile.section-header{padding: 0.7em 0.3em; width: 100%;}
    .pt_cart .mobile{width: 100%;}  
    .item-price .mobile, .item-total .mobile {float: left; text-align: left; width: 35%;}
   
    .pt_wish-list table.item-list td{padding: 1em;}
    .order-shipment-details .label {text-align: left; width: 120px;}
    .order-shipment-details .value{margin-left: 110px;}

    .pt_wish-list .form-inline form{width: 100%;}
    .wish-list-results-table th, .wish-list-results-table td{padding: 2% 4%;}
    .wish-list-results-table .view {width: 13%;}

    /* Gift certificates */
    /* ------------------------------------- */
    .gift-certificate-purchase .content-asset,
    .gift-certificate-purchase form {float:none;width:90%;}
    .gift-certificate-purchase .cert-amount .form-caption {width: 80%}
    .gift-registry-advanced {padding: 10px 0 0 4%; }

    /* Gift registry */
    /* ------------------------------------- */
    .page-content-tab-navigaton button {width:100%;}
    .pt_gift-registry .add-gift-cert button {width:100%;}
    .pt_gift-registry .add-gift-cert p {width: 100%; margin: 2% 0;}
    .pt_gift-registry .create-new-registry p {display:none;}
    .pt_gift-registry .create-new-registry {overflow:hidden; margin: 0 0 10px 4%;}
    .pt_gift-registry .item-list th {display:none;}
    .pt_gift-registry .page-content-tab-wrapper{padding-right: 0;}
    .pt_gift-registry .form-row {padding: 0 4%;}
    .pt_gift-registry #dwfrm_giftregistry > p{margin-left: 4%;}
    .pt_gift-registry #dwfrm_giftregistry .list-table-header p{float: right; width: 40%;}

    /* report tables */
    /* ------------------------------------- */
    table.item-list td .order-information, table.item-list td .order-billing, table.item-list td .order-payment-instruments{font-size: .9em !important;}
    table.item-list .section-header{padding: .3em;}
    table.item-list .item-image, table.item-list .item-details, table.item-list .item-availability, table.item-list .item-dashboard {display:inline-block;}
    table.item-list .item-image {width: 30%;}
    table.item-list .item-details{width: 50%;}
    table.item-list .item-availability, table.item-list .item-dashboard {width: 93%;}
    table.item-list th.section-header {background-image:none;}
    .list-table-header {padding: 1em !important;}
    .list-table-header .button, .list-table-header button {display:block; float: left;}
    .list-table-header .button {margin:10px 0; width: 196px;}
    .list-table-header button {width: 246px;}


    /* Customer service */
    /* ------------------------------------- */
    .pt_customer-service .content-asset{padding: 0 2%;}


    /* Homepage assets */
    /* ------------------------------------- */

    .home-bottom-right {clear:both;float:none;}
    .home-bottom-right .product-tile{min-height:0;}
    .product-tile .product-image {height:auto;}
    #email-alert-signup {margin:0;text-align:center;width: 100%;}
    #email-alert-signup label {text-align:center;width: 80%;}
    #email-alert-signup input[type="text"] {
    	float:none;
    	margin:0;
    	width:88%; 
    	padding: 0.7em; 
    	font-size: 1.53em;
    	box-shadow: none;
    	-moz-box-shadow: none;
    	-webkit-box-shadow: none;
    	-webkit-appearance: none;
    	border-radius: 0;
    }
    #email-alert-signup input[type="image"] {float:none;vertical-align: bottom;}
    .facebook-registration {left:-3px;}
    .facebook-registration,.facebook-registration .fb_iframe_widget,.facebook-registration .fb_iframe_widget span,.facebook-registration .fb_iframe_widget span iframe {position:relative;width:100.7% !important;}
    
     /* Press page */
     /* ------------------------------------- */
    
     .mobileHide{display:none;}
     .press-tabs{padding:0;}
     #press-tabs .top-tabs p {margin: 0 0 0 2%;}
     #press-tabs ul.tab-holder {width: 60%; margin: 2px 0 0 0;}
     #press-tabs ul.tab-holder li {width: auto; margin-left:20px;}	     
     
     /* Social Media */
     /* ------------------------------------- */
    .socialIcons { margin-bottom: 25px; width: 58%; }     
    
    /* Carousel PDP */
    /* ------------------------------------- */
    .pdp-main #carousel-pdp, .pdp-main #carousel-pdp div  {max-width: none;}
    .pdp-main .slick-dots {margin-top:5px;}
    .slick-dots li {display: inline-block;}
    .slick-dots li.slick-active {}
    .slick-dots button {text-indent: -9999px; background: none; border:2px solid #CCCCCC; border-radius:10px; width:10px;height:10px;padding:0;margin:0 10px;}
    .slick-dots li.slick-active button {background: #EF30A1; border: none; position: relative; top: -2px;}
    .magnify-icon {
    	cursor:pointer; 
    	height:25px; 
    	width:25px; 
    	position: absolute; 
    	display: block; 
    	bottom:0; 
    	right:0; 
    	background: url('../images/responsive-redesign-sprites/responsive-icons-spritesheet.png') no-repeat;
    	background-position: -145px -133px;
    }
	/*.js .zoomWrapperImage img {max-width: none; left: auto !important;}*/
	.zoom-ext > img {transform: translate3d(0px, 0px, 0px) !important; -webkit-transform: translate3d(0px, 0px, 0px) !important;}
	.pdp-main .carousel-slide-width {width: 100%;}
	.pdp-main .zoom-ext {display: block; width:100%; position:relative;}
	.custom-zoom-true{
    	display: none;
    }

    /* ring size chart */
    /* ------------------------------------- */
    .sizing table tr td:first-child {text-align: center;}
    .sizing table.mobile_sizing tr:first-child td {color:#a4a4a4;}
    .sizing h1 { font-size: 1.4em; text-align:left;}
    .sizing h2 { font-size: 1.2em; text-align:left;}
    .sizing p { font-size: 1em; text-align:left; }
    .sizing table { font-size: 1em; text-align:center;} 
    
    .pdp-main .reccomendations-container .recommendations .jcarousel-container {padding-left:5%;padding-right:5%;}
	.account-options li a img {display: none;}
	.content-asset ul.account-options li p, .content-asset ul.account-options li a {padding-left:0;}
	#carousel-recomendations, #carousel-recomendations .slick-list, #carousel-recomendations .slick-list div  {max-width:none;}
	.pt_product-details .product-tile img {margin: 0 auto; width: 100%; padding-bottom: 10px;}
	button.slick-arrow {position: absolute; top:35%;}
	#carousel-recomendations .slick-prev {left:5%; height: 25px; width: 15px; z-index:1; background: url("../images/interface/grey-side-arrow-left.png") no-repeat scroll left -1px rgba(0, 0, 0, 0);}
	#carousel-recomendations .slick-next {right:5%; height: 25px; width: 15px; background: url("../images/interface/grey-side-arrow-right.png") no-repeat scroll left -1px rgba(0, 0, 0, 0);}
	.slick-prev, .slick-next {font-size: 0;
	    line-height: 0;
	    position: absolute;
	    top: 50%;
	    display: block;
	    width: 20px;
	    height: 20px;
	    margin-top: -10px;
	    padding: 0;
	    cursor: pointer;
	    color: transparent;
	    border: none;
	    outline: none;
	    background: transparent;
	}
	
	.slick-prev:before, .slick-next:before {
	    font-family: 'slick';
	    font-size: 20px;
	    line-height: 1;
	    opacity: .75;
	    color: white;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	#mini-cart .mini-cart-header a {text-decoration: underline;}
	
	#cart-table .item-user-actions {text-align:center;width:100%;}
	#cart-table .item-user-actions button {text-align:center;width:100%}
	#cart-table .item-quantity .product-availability-list li {text-align: left;margin: 0;font-size: 1em;}   
}






/* Bump up to a min-480 viewport */
@media screen and ( min-width:480px) and (max-width: 749px) {
	.gift-certificate-purchase .gcThumbNails {
		width: 70%;
	}	
	
	#header{ height: 130px; }
	#header header{ height: 100%; }
	#header .primary-logo { right: 0;}
	#header .primary-logo img{ display: none;}
	
	header .sitewide-logo { 
		left: 18%; 
		width: 40%; 
		margin-left: 0;
		top: 15px;
	}
	
	#header .primary-logo, header .menu-toggle, #headerrightblock #mini-cart, #headerrightblock #mini-cart.mobile-mini-cart-open, .header-search button.search-toggle-btn{
		background: url('../images/responsive-redesign-sprites/tablet-spritesheet.png') no-repeat;
	}
	
	#header .primary-logo{
    	background-position: 0px 0px;
    	height: 50px;
    	width: 295px;
    	
	}
	
	header .menu-toggle{
    	background-position: -10px -55px;
		top: 30px;
		left: 55px;
		height: 55px;
		width: 55px;
	}
	
	header .menu-toggle.menuActive{
		background-position: -73px -55px;
	}
	
	
	div.level-2.menu-horizontal ul.level-2 { float: none; margin: 0; }
	div.earrings.level-2,
	div.rings.level-2,
	div.good-things.level-2 { margin: 0; }
	
    .header-search #q {width: 90%; }
    .header-search input[type="submit"]{ right: 3%}
    
    #headerrightblock #mini-cart{ 
    	right: 2%; 
    	top: 19%;
   		background-position: -233px -56px;
   		height:55px;
   		width: 55px;
    }
    
    #headerrightblock #mini-cart.mobile-mini-cart-open{
    	background-position: -2px -119px;
    }
    
    .mini-cart-total{
    	margin-top: 0px;
    }
    
    #mini-cart a.mini-cart-link{
    	font-size: 20px;
    }
    
    .mini-cart-content{
    	top: 55px;
    	right: -20px;
    	max-width: 375px;
    	border: 1px solid #c2bdb6;
    }
    
    .mini-cart-image img{
    	right: 10px;
    }
    
    .header-search button.search-toggle-btn{ 
    	position: absolute; 
    	right: 17%; 
    	top: 25%;
   		background-position: -133px -55px;
   		height: 45px;
   		width: 45px;
    }
    
    .header-search .search-toggle-block{
    	top: 92px;
    }
    
    .header-search button.search-toggle-btn.mobileSearchOpen{
    	background-position: -185px -55px;
    }
        
    #navigation{
    	left: -750px;
    	width: 100%;
    	top: 129px;
     	height: 100%;
    	overflow-y: auto;
    }
	
	ul.level-1 .myaccountheader a{
		margin: 0 0 0 20px;
	}
	
	
    .mobile .menu-category, .pt_storefront #main, .pt_product-details #pdpMain, #footer{padding: 0;}
    .pt_product-details #pdpMain{
    	width: 100%;
    }
    
    #carousel-pdp{
    	width: 50%;
    }
    ul.level-1 a{ padding: 15px 6px 12px 6px;}

    .js #homepage-slider .jcarousel-item{width: 436px!important; height: 283px; margin-right: 6px;}
    .js #search-slider .jcarousel-item{width: 436px!important; height: 283px; margin-right: 6px;}

    .product-tile .pr_stars {left:40px;}
    .wide-tiles .product-tile .product-name h2 {margin-top:10px;}
    .wide-tiles .product-tile .product-image {width:38%;}
    

    .refinement h3 span{width: 84%;}

    .product-add-to-cart .inventory .quantity{margin-left: 13%;}
    .pdp-main .recommendations .jcarousel-container{
    	padding-left: 60px;˙
    }
    
    .pdp-main .recommendations.also-available-in li, .pdp-main .recommendations.cross-sell li{
    	width: 175px;
    }
    
    #cart-table td.item-price{
    	margin-top: -40px;
    }
    
  
    #cart-table .item-price .mobile{
    	top: 0;
    }
    
    .pdp-main .recommendations .jcarousel-next{
    	left: 3%;
    	top: 35%;
    	text-indent: -9999px;
    	display: block !important;
    	height: 25px;
    	width: 15px;
    	background: url("../images/interface/grey-side-arrow-left.png") no-repeat scroll left -1px rgba(0, 0, 0, 0);
    }
    
    .pdp-main .recommendations .jcarousel-prev{
    	display: block !important;
    	text-indent: -9999px;
    	top: 35%;
    	left: 95%;
    	height: 25px;
    	width: 15px;
    	background: url("../images/interface/grey-side-arrow-right.png") no-repeat scroll left -1px rgba(0, 0, 0, 0);
    }
    
    .pdp-main .attribute span.value{
    	background-position: 98% 56%;
    }
    
    .custom-alert-temp{
    	margin: 0;
    	width: 96%;
    }
    
    .popup-main{
    	max-width: 100%;
    }
    
    .popup-main .product-info{
    	width: 100%;
    }
    
    .popup-main .product-info p{
    	width: auto;
    }
    
    #pdpMain .recommendations.cross-sell div.mobile-description-content .popup-main .buttons .columns-3 li{
    	width: 26%;
    }
    
    .pdp-main .product-add-to-cart button{ margin: 25px 0 25px 0;}
    .pdp-main .product-add-to-cart{width: 100%;}
    .pdp-main .pdp-share .content-asset{width: 92%;}
    #pdpMain .product-long-description .description-content{padding: 0 25px;}
    .pdp-main .pdp-share .pw-widget{width: 67%;}
    .pdp-main .pdp-share .button-type-looknative{margin-right: 20px !important;}
    .pdp-main .pdp-share ul.menu{ width: 65%;}

    .facebook-registration {left:0px;}
    .facebook-registration,.facebook-registration .fb_iframe_widget,.facebook-registration .fb_iframe_widget span,.facebook-registration .fb_iframe_widget span iframe {position:relative;width:100% !important;}

    .ui-dialog .form-row select {width: 97.5%;}

    table.gift-reg-purchases > tbody > tr > td { padding: 1em 4%;}
    .pt_gift-registry table.item-list > tbody > tr > td{padding-left: 4%;}
    #cart-table .item-price{width: 55.5%;}

    .pt_order-confirmation .add-to-email-list input {margin: 0.2em 0 -2.8em 0;}
    #send-to-friend-main .send-to-friend-product{margin: 20px 10%; width: 80%;}
    .popup-main .buttons .columns-3 li { width: 29%; }
	
	#footer{
		width: 100%;
	}
	
	#footer .copyright li:nth-child(2){
		padding-left: 200px;
	}
	
	.instagramContainer a{
		margin-left: 140px;
	}
	
	#email-alert-signup input[type="text"]{
		width: 91%;
	}	
}

@media screen and ( min-width:480px) and (max-width: 600px) {
	.gift-certificate-purchase .gcThumbNails {
		width: 75%;
	}
}

@media screen and (max-width:480px){
	.shipping-asset a span {
    	margin-top: 20px;
	}
	.gift-certificate-purchase .gcThumbNails {
		width: 80%;
	}	
	
	#header{ height: 90px;  }
	
	.pt_checkout fieldset legend span{
    	right: 1.5em;
    }
    
	#search-suggestions { top: 136px !important }
	.sizing.sizing-desktop { display: none;}
	.sizing.sizing-mobile { display:block; }

	div.level-2.menu-horizontal ul.level-2 { float: none; margin: 0; }
	div.earrings.level-2,
	div.rings.level-2,
	div.good-things.level-2 { margin: 0; }
	
    ul.level-1 a{ padding: 15px 6px 12px 6px;}
	
	input[type="text"]{border:1px solid #AAAAAA;margin-left:2%;padding:0.8em 0.5em;text-indent:0;width:49.5966%;}

	#header .primary-logo{margin: .335em 0;}
	.headerblock{margin: 1em 0; width: 53%;}

    #headerrightblock #mini-cart {right: 5px;}
    
	.pt_storefront #main, .pt_product-details #pdpMain, #footer{padding: 0; width: 100%;}
	
	div.home-center img{display:block;left:0%;margin-top:0;}
	#homepage-slider, .js #homepage-slider .jcarousel-item{width: 294px!important;}
    .js #homepage-slider .jcarousel-control{left: 40%;}
    #search-slider, .js #search-slider .jcarousel-item{width: 294px!important;}
    .js #search-slider .jcarousel-control{left: 40%;}

    .refinement h3 span{width: 100%;}

    .pdp-main .product-name{width: auto;}
    .pdp-main .product-add-to-cart{width: 100%;}
    .pdp-main .product-add-to-cart button{margin: 10px 0 0 0;}
    .pdp-main .pdp-share .pw-widget{width: 100%;}
    .pdp-main .pdp-share .content-asset{width: 88%;}
    .pdp-main .pdp-share ul.menu{ width: 100%;}

    .ui-dialog .form-row select {width: 99%;}

    table.item-list > tbody > tr > td, .order-shipment-table > tbody > tr > td{float: left; padding: 1em; width: 90%;}
    table.item-list .order-payment-summary .order-total{border: none;}
    table.item-list th.section-header, .order-shipment-table th.section-header{display: none;}

    .list-table-header .button {width: 86px; margin: 0 0 0 10px;}
    .list-table-header button {width: 136px;}
    .pt_wish-list .list-table-header p {width: 100%; margin: 10px 0 0 0;}

    #cart-table .item-price{margin-left:43.5%;}
    #cart-table .item-price{width:53%;}

    .section-header-note{margin: 5px 0 0; position: static; display: block;}
    #send-to-friend-main .send-to-friend-product{margin: 20px 5%; width: 9  0%;}

    .checkout-progress-indicator div {padding: 0 3%;}
    .checkout-progress-indicator > div:first-child{padding-left: 0;}
    .checkout-progress-indicator .active, .checkout-progress-indicator .active a{color: #ea0c8b;}
    
    .pdp-main .recommendations.also-available-in li, .pdp-main .recommendations.cross-sell li{margin: 0 53px; width: 230px !important;}
    #pdpMain .recommendations.cross-sell div.mobile-description-content li{
    	margin: 15px 0 0 0;
    }
    .pdp-main .recommendations.cross-sell li {padding-right: 0;}
    .recommendations.cross-sell .jcarousel-prev, .recommendations.cross-sell .jcarousel-next{display: block!important; top: 35%; font-size: 22px;}
    .recommendations.cross-sell .jcarousel-prev{left: 5%;}
    .recommendations.cross-sell .jcarousel-next{left: 75%;}	
    .socialIcons { margin-bottom: 25px; width: 90%; }
	.popup-main .buttons ul li { margin: 0 0 1em 0; }
	.popup-main .buttons .columns-3 li { width: 31%; }
	#cart-table .item-details{
    	height: auto;
    }
    td.item-quantity-details ul{
    	position: absolute;
    	width: 100px;
    	left: 10px;
    }
    
     td.item-quantity-details ul{
    	position: absolute;
    	width: 100px;
    	left: 10px;
    }
    
     td.item-quantity-details.custom-item-cart-true ul{
    	left: 127px;
    }
    
	
}

/* Retina Displays
--------------------------------------------------------------------------------------- */
@media
 (min--moz-device-pixel-ratio: 2),
   (-o-min-device-pixel-ratio: 2/1),
   (-webkit-min-device-pixel-ratio: 2),
   (min-device-pixel-ratio: 2) {         
       .st_facebook_large span span.stLarge,
	.st_twitter_large span span.stLarge,
	.st_pinterest_large span span.stLarge,
	.st_googleplus_large span span.stLarge,
	.wanelo-save-button
	{
	    background-image: url("../images/sprites-social@2x.jpg") !important;
	    background-size: 49px 112px;
	}
	
	.st_facebook_large span span.stLarge
	{
	    background-position: 0 0 !important;
	}
	
	.st_twitter_large span span.stLarge
	{
	    background-position: 0 -25px !important;
	}
	
	.st_pinterest_large span span.stLarge
	{
	    background-position: 0 -50px !important;
	}
	
	.st_googleplus_large span span.stLarge
	{
	    background-position: 0 -75px !important;
	}
	.wanelo-save-button
	{
		background-position: 0 -100px !important;
    }
}

@media screen and (max-width:469px) {
	.pt_cart #main {
		margin-top: 0px;
	}
	 #cart-table .custom-item-cart-true .item-user-actions {
    	position: absolute; 
    	margin-top: 0;
    	margin-left: 0;
    	top: -40px;
    	left: 35px;
    }
    #cart-table .product-availability-list li {
    	margin: -3% 12%;
    	font-size: 1.5em;
    	font-family:"Futura BT W01 Light";
    }
    
    
    #cart-table td.item-price{
    	margin-top: 7px;
    }
    
    #cart-table .item-price .mobile{
    	top: -4px;
    }
}

/* iphone6 overrides*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.gift-certificate-purchase .gcThumbNails {
		width: 95%;
	}	
	header .sitewide-logo{
		left: 22%;
	}
	
	header .menu-toggle{
		left: 25px;
	}
	
	.header-search{
		margin: 0 45px 0;
	}
	
	.primary-content h1.cart-header{
		font: 1.3em/150% 'Futura BT W01 Light', Arial, sans-serif
	}
	
}

/* Iphone 5 landscape overrides*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	
	header .sitewide-logo{
		left: 16%;
	}
	
	.primary-content h1.cart-header{
		font-size: 1.3em;
	}
	
	.pt_product-search-result .grid-tile .product-tile .product-image{
		/* height: 250px; */
	}


	
	#mini-cart .mini-cart-header a {padding-right: 0;position: relative;}
}
/* iphone 5 Portrait*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 330px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  header .menu-toggle {left: 15px;}
  header .sitewide-logo {left:17%;}
  .header-search {width:36px;}
  #headerrightblock #mini-cart {right: 5px;}
  .header-search input[type="text"]#q {margin-right: -5px; right: 20px;}
  .header-search input[type="submit"] {right: 20px;}
  
  #email-alert-signup .email-alert-address-mobile{ padding-left: 0;}
  #email-alert-signup input[type="submit"] {top:58px;}
  #email-alert-signup label {margin: 0 auto;}
  #footer .copyright li:nth-child(2) {padding-left:20px;}
  .gift-certificate-purchase .char-count {margin-left:0;}
  .gift-certificate-purchase #GiftCertificateForm {padding-right: 10px;}
  .pt_cart .primary-content h1.cart-header {font-size: 1em;}
  .above-cart-footer #dwfrm_cart_couponCode {margin-left:0;}
  .sizing.sizing-mobile { width:78%;}
  #cart-table td.item-price.custom-item-price-false{
  	margin-top: -10px;
  }
  
  #cart-table .item-details{
  	padding-bottom: 10px;
  }
  
  .pt_product-search-result .grid-tile .product-tile .product-image{
		height: 150px;
	}
	
	.pdp-main .promotion .promotion-callout{
		font-size: 1.2em;
	}
	
	#cart-table td.item-price.custom-item-price-true{
		margin-top: 10px;
	}
	
	#cart-table td.item-price.custom-item-price-false,
    #cart-table td.item-price.custom-item-price-null{
    	margin-top: -10px;
    }
    
    .pdp-main .recommendations.also-available-in li, 
    .pdp-main .recommendations.cross-sell li{
    	margin: 0 34px;
    }
	
}
/* iphone5 Landscape */
@media only screen and (min-device-width: 550px)  and (max-device-width: 575px)
  and (-webkit-min-device-pixel-ratio: 2) {
	#email-alert-signup input[type="submit"] {top:40px;}
	#footer .copyright li:nth-child(2) {padding-left:10%;}
	.header-search input[type="text"]#q {right:25px;}
	.header-search input[type="submit"] {right: 30px;}

	
}

/* iphone5 landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) 
and (orientation : landscape) {
	#header{
		height: 75px;
	}
	
	header .menu-toggle{
		top: 14px;
		left: 15px;
	}
	
	.header-search button.search-toggle-btn{
		top: 15%;
	}
	
	#headerrightblock #mini-cart{
		top: 10%;
	}
	.mini-cart-content{
		top: 67px;
	}
	
	#navigation{
		top: 76px;
	}
	
	.header-search .search-toggle-block{
		top: 80px;
	}
	
	#main{
		margin-top: 70px;
	}
	
	header .sitewide-logo {left:19%; top: -5px;}
	
	#cart-table .item-image{
		margin-top:10px;
	}
	
	#cart-table .item-price .mobile{
		top: -5px;
	}
	
	#cart-table td.item-price{
		margin-top: -50px;
	}
	
	#footer .copyright li:nth-child(2) {padding-left:25%;}
	
	.priceWidthModificationsLandscape{
		width: 27% !important;
	}
	
	div.inventory.priceWidthModificationsLandscape{
		width: 18% !important;
	}
	
	#cart-table td.item-price.custom-item-price-true{
		margin-top: 15px;
	}
	
	.pdp-main .recommendations.also-available-in li, 
    .pdp-main .recommendations.cross-sell li{
    	margin: 0 75px;
    }

}

/* Iphone 6 portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
	header .sitewide-logo{
		left: 22%;
	}
	.header-search input[type="text"]#q{
    	width: 320px;
    }
    
    #cart-table .item-quantity.custom-item-qty-true .mobile{
    	top: 33px;	
    }
    
    #cart-table .item-quantity.custom-item-qty-true input{
    	top: 25px;
    }
    
     #cart-table .item-quantity.custom-item-qty-false .mobile{
    	top: 73px;	
    }
    
    #cart-table .item-quantity.custom-item-qty-false input{
    	top: 70px;
    }
    
    .pt_product-search-result .grid-tile .product-tile .product-image{
		height: 180px;
	}
	
	#cart-table .custom-item-cart-true ul.product-availability-list{
		left: 146px;
		position: absolute;
		width: 100px;
	}
	
	#cart-table td.item-price.custom-item-price-false,
	#cart-table td.item-price.custom-item-price-null{
		margin-top: -20px;
	}
	
	.pdp-main .recommendations.also-available-in li, 
    .pdp-main .recommendations.cross-sell li{
    	margin: 0 60px;
    }
}

/* iphone 6 landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
	header .sitewide-logo{
		left: 24%;
	}
	.header-search input[type="text"]#q{
    	width: 625px;
    }
    
   	
	
	.priceWidthModificationsLandscape{
		width: 30% !important;
	}
	
	#cart-table td.item-price.custom-item-price-true{
		margin-top: 15px;
		margin-bottom: 10px;
	}
	
	#cart-table td.item-price.custom-item-price-false,
	#cart-table td.item-price.custom-item-price-null{
		margin-top: -70px;
	}
	
	#cart-table .custom-item-cart-true ul.product-availability-list{
		right: -50px;
		position: absolute;
		width: 100px;
	}
	
	#cart-table .custom-item-cart-true .item-user-actions{
		margin-left: 28%;
		margin-top: -5%;
	}
	
	#cart-table .custom-item-cart-null .item-user-actions{
		margin-top: 27%;
		margin-left: -50%;
	}
	
	.pdp-main .recommendations.also-available-in li, 
    .pdp-main .recommendations.cross-sell li{
    	margin: 0 80px;
    }
	
}

/* Iphone 6+ portrait */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
	header .sitewide-logo{
		left: 25%;
	}
	
	 #cart-table td.item-price{
    	margin-top: -35px;
    }
    .header-search input[type="text"]#q{
    	width: 350px;
    }
    
    #cart-table .custom-item-cart-true ul.product-availability-list{
    	left: 165px;
    }
    
    #cart-table td.custom-item-price-true{
    	margin-top:8px;
    }
    
    .pdp-main .recommendations.also-available-in li, 
    .pdp-main .recommendations.cross-sell li{
    	margin: 0 80px; 
    }
}

/* iphone 6+ landscape */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
	header .sitewide-logo{
		left: 27%;
	}
	.header-search input[type="text"]#q{
    	width: 88%;
    }
    
    .priceWidthModificationsLandscape{
		width: 32% !important;
	}
	
	#cart-table td.item-price.custom-item-price-true{
		margin-top: 0;
		margin-bottom: 15px;
	}
	
	#cart-table .item-quantity.custom-item-qty-true input{
		top: 30px;
	}
	
	#cart-table .item-quantity.custom-item-qty-true .mobile{
		top: 35px;
	}
	
	#cart-table .custom-item-cart-false .item-user-actions {
		margin-top: 23%;
		margin-left: -49%;
	}
	
	#cart-table .custom-item-cart-true .item-user-action{
		margin-top: -7%;
		margin-left: 29%;
	}
	
	.custom-item-cart-true ul.product-availability-list{
		position: absolute;
		right: -48px;
		top: -10px;
		width: 100px;
	}
	
	.pdp-main .recommendations.also-available-in li, 
    .pdp-main .recommendations.cross-sell li{
    	margin: 0 75px;
    }
	
}

/* galaxy s5 portrait media query */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
	header .sitewide-logo{
		left: 22%;
	}
	
	.pt_product-search-result .grid-tile .product-tile .product-image{
		height: 180px;
	}
	
	#cart-table td.item-price{
		margin-top: 12px;
	}
	
	td.item-quantity-details.custom-item-cart-true ul{
		left: 137px;
	}
	
}
/* galaxy s5 landscape media query */
@media screen and (device-height: 360px) and (device-width: 640px) and (-webkit-device-pixel-ratio: 3){
	div.inventory.priceWidthModificationsLandscape{
		width: 19% !important;
	}
	header .sitewide-logo{
		left: 22%;
	}
	
	#cart-table td.item-price{
		margin-top: -46px;
	}
	
	#cart-table td.item-price.custom-item-price-false{
		margin-top: -44px;
	}
}
@media screen and (max-width: 955px) and (min-width: 750px) {
	#cart-table td {
	    padding: 3px;
	}
	#cart-table {
	    font-size: .9em;
	}
}